In [1]:
!pip install pyspark
!pip install findspark

Requirement already satisfied: pyspark in c:\users\lcampos\anaconda3\lib\site-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in c:\users\lcampos\anaconda3\lib\site-packages (from pyspark) (0.10.9.3)
Requirement already satisfied: findspark in c:\users\lcampos\anaconda3\lib\site-packages (2.0.1)

In [2]:
import findspark
findspark.init()

In [3]:
import re
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType
from pyspark.sql.window import Window

In [4]:
# Expressoes regulares comuns
REGEX_ALPHA    = r'[a-zA-Z]+'
REGEX_INTEGER  = r'[0-9]+'
REGEX_FLOAT    = r'[0-9]+\.[0-9]+'
REGEX_ALPHANUM = r'[0-9a-zA-Z]+'
REGEX_EMPTY_STR= r'[\t ]+$'
REGEX_SPECIAL  = r'[!@#$%&*\(\)_]+'
REGEX_NNUMBER  = r'^N[1-9][0-9]{2,3}([ABCDEFGHJKLMNPRSTUVXWYZ]{1,2})'
REGEX_NNUMBER_INVALID = r'(N0.*$)|(.*[IO].*)'
REGEX_TIME_FMT = r'^(([0-1]?[0-9])|(2[0-3]))([0-5][0-9])$'

In [5]:
# Funcoes auxiiliares

In [6]:
# Criar o contexto do spark
sc = SparkContext()

# Instancia o criador de sessao do spark
spark = (SparkSession.builder
                     .master("local[7]")
                     .appName("Aceleração PySpark - Capgemini"))

In [7]:
# Cria o schema adequado
schema_airports = StructType([
    StructField("faa",  StringType(),  True),
    StructField("name", StringType(),  True),
    StructField("lat",  FloatType(),   True),
    StructField("lon",  FloatType(),   True),
    StructField("alt",  IntegerType(), True),
    StructField("tz",   IntegerType(), True),
    StructField("dst",  StringType(),  True)
])

schema_planes = StructType([
    StructField("tailnum",      StringType(),  True),
    StructField("year",         IntegerType(), True),
    StructField("type",         StringType(),  True),
    StructField("manufacturer", StringType(),  True),
    StructField("model",        StringType(),  True),
    StructField("engines",      IntegerType(), True),
    StructField("seats",        IntegerType(), True),
    StructField("speed",        IntegerType(), True),
    StructField("engine",       StringType(),  True)
])

schema_flights = StructType([
    StructField("year",      IntegerType(), True),
    StructField("month",     IntegerType(), True),
    StructField("day",       IntegerType(), True),
    StructField("dep_time",  StringType(),  True),
    StructField("dep_delay", IntegerType(), True),
    StructField("arr_time",  StringType(),  True),
    StructField("arr_delay", IntegerType(), True),
    StructField("carrier",   StringType(),  True),
    StructField("tailnum",   StringType(),  True),
    StructField("flight",    StringType(),  True),
    StructField("origin",    StringType(),  True),
    StructField("dest",      StringType(),  True),
    StructField("air_time",  IntegerType(), True),
    StructField("distance",  IntegerType(), True),
    StructField("hour",      IntegerType(), True),
    StructField("minute",    IntegerType(), True),
])

In [8]:
# Carrega os dados com as configurações necessárias
df_airports = (spark.getOrCreate().read
                  .format("csv")
                  .option("header", "true")
                  .schema(schema_airports)
                  .load("../data/airports.csv"))

df_planes = (spark.getOrCreate().read
                  .format("csv")
                  .option("header", "true")
                  .schema(schema_planes)
                  .load("../data/planes.csv"))

df_flights = (spark.getOrCreate().read
                  .format("csv")
                  .option("header", "true")
                  .schema(schema_flights)
                  .load("../data/flights.csv"))

## Pergunta 1

In [9]:
df_airports.show()
df_airports.printSchema()

+---+--------------------+---------+-----------+----+---+---+
|faa|                name|      lat|        lon| alt| tz|dst|
+---+--------------------+---------+-----------+----+---+---+
|04G|   Lansdowne Airport|41.130474|  -80.61958|1044| -5|  A|
|06A|Moton Field Munic...| 32.46057|  -85.68003| 264| -5|  A|
|06C| Schaumburg Regional| 41.98934|  -88.10124| 801| -6|  A|
|06N|     Randall Airport| 41.43191|  -74.39156| 523| -5|  A|
|09J|Jekyll Island Air...|31.074472|  -81.42778|  11| -4|  A|
|0A9|Elizabethton Muni...|36.371223| -82.173416|1593| -4|  A|
|0G6|Williams County A...|41.467304| -84.506775| 730| -5|  A|
|0G7|Finger Lakes Regi...|42.883564| -76.781235| 492| -5|  A|
|0P2|Shoestring Aviati...|39.794823| -76.647194|1000| -5|  U|
|0S9|Jefferson County ...| 48.05381|-122.810646| 108| -8|  A|
|0W3|Harford County Ai...|39.566837|   -76.2024| 409| -5|  A|
|10C|  Galt Field Airport| 42.40289| -88.375114| 875| -6|  U|
|17G|Port Bucyrus-Craw...|40.781555|  -82.97481|1003| -5|  A|
|19A|Jackson County Ai...|34.175865|   -83.5616| 951| -4|  U|
|1A3|Martin Campbell F...|35.015804|  -84.34683|1789| -4|  A|
|1B9| Mansfield Municipal|42.000134|  -71.19677| 122| -5|  A|
|1C9|Frazier Lake Airpark|54.013332| -124.76833| 152| -8|  A|
|1CS|Clow Internationa...|41.695976| -88.129234| 670| -6|  U|
|1G3|  Kent State Airport| 41.15139|  -81.41511|1134| -4|  A|
|1OH|     Fortman Airport|40.555325|  -84.38662| 885| -5|  U|
+---+--------------------+---------+-----------+----+---+---+
only showing top 20 rows

root
 |-- faa: string (nullable = true)
 |-- name: string (nullable = true)
 |-- lat: float (nullable = true)
 |-- lon: float (nullable = true)
 |-- alt: integer (nullable = true)
 |-- tz: integer (nullable = true)
 |-- dst: string (nullable = true)

In [10]:
df_airports = df_airports.withColumn('alt',
                                     F.when(F.col('alt') < 0, 0)
                                     .otherwise(df_airports.alt))



df_airports.groupBy("alt").count().distinct().show()
df_airports.filter(F.col('alt') < 0).count()

+----+-----+
| alt|count|
+----+-----+
| 833|    2|
|1580|    1|
| 148|    2|
| 463|    1|
| 243|    1|
| 540|    1|
| 858|    1|
|1395|    1|
|3179|    1|
| 516|    1|
|  31|    4|
|2776|    1|
|1270|    1|
|2996|    1|
|1339|    1|
| 808|    4|
|  85|    2|
| 137|    3|
| 580|    2|
| 879|    1|
+----+-----+
only showing top 20 rows

0

## Pergunta 2

In [11]:
df_airports = df_airports.withColumn('dst',
                                       F.when(F.col('tz').between(-7,-5),"A")
                                        .otherwise(df_airports.dst))

df_airports.show()


df_airports.groupBy("dst").count().distinct().show()

+---+--------------------+---------+-----------+----+---+---+
|faa|                name|      lat|        lon| alt| tz|dst|
+---+--------------------+---------+-----------+----+---+---+
|04G|   Lansdowne Airport|41.130474|  -80.61958|1044| -5|  A|
|06A|Moton Field Munic...| 32.46057|  -85.68003| 264| -5|  A|
|06C| Schaumburg Regional| 41.98934|  -88.10124| 801| -6|  A|
|06N|     Randall Airport| 41.43191|  -74.39156| 523| -5|  A|
|09J|Jekyll Island Air...|31.074472|  -81.42778|  11| -4|  A|
|0A9|Elizabethton Muni...|36.371223| -82.173416|1593| -4|  A|
|0G6|Williams County A...|41.467304| -84.506775| 730| -5|  A|
|0G7|Finger Lakes Regi...|42.883564| -76.781235| 492| -5|  A|
|0P2|Shoestring Aviati...|39.794823| -76.647194|1000| -5|  A|
|0S9|Jefferson County ...| 48.05381|-122.810646| 108| -8|  A|
|0W3|Harford County Ai...|39.566837|   -76.2024| 409| -5|  A|
|10C|  Galt Field Airport| 42.40289| -88.375114| 875| -6|  A|
|17G|Port Bucyrus-Craw...|40.781555|  -82.97481|1003| -5|  A|
|19A|Jackson County Ai...|34.175865|   -83.5616| 951| -4|  U|
|1A3|Martin Campbell F...|35.015804|  -84.34683|1789| -4|  A|
|1B9| Mansfield Municipal|42.000134|  -71.19677| 122| -5|  A|
|1C9|Frazier Lake Airpark|54.013332| -124.76833| 152| -8|  A|
|1CS|Clow Internationa...|41.695976| -88.129234| 670| -6|  A|
|1G3|  Kent State Airport| 41.15139|  -81.41511|1134| -4|  A|
|1OH|     Fortman Airport|40.555325|  -84.38662| 885| -5|  A|
+---+--------------------+---------+-----------+----+---+---+
only showing top 20 rows

+---+-----+
|dst|count|
+---+-----+
|  U|    8|
|  A| 1380|
|  N|    9|
+---+-----+

## Pergunta 3

In [12]:
df_airports = df_airports.withColumn('dst',
                                       F.when(F.col('dst') == 'U', 'A')
                                       .otherwise(df_airports.dst))

df_airports.show()


df_airports.groupBy("dst").count().distinct().show()

+---+--------------------+---------+-----------+----+---+---+
|faa|                name|      lat|        lon| alt| tz|dst|
+---+--------------------+---------+-----------+----+---+---+
|04G|   Lansdowne Airport|41.130474|  -80.61958|1044| -5|  A|
|06A|Moton Field Munic...| 32.46057|  -85.68003| 264| -5|  A|
|06C| Schaumburg Regional| 41.98934|  -88.10124| 801| -6|  A|
|06N|     Randall Airport| 41.43191|  -74.39156| 523| -5|  A|
|09J|Jekyll Island Air...|31.074472|  -81.42778|  11| -4|  A|
|0A9|Elizabethton Muni...|36.371223| -82.173416|1593| -4|  A|
|0G6|Williams County A...|41.467304| -84.506775| 730| -5|  A|
|0G7|Finger Lakes Regi...|42.883564| -76.781235| 492| -5|  A|
|0P2|Shoestring Aviati...|39.794823| -76.647194|1000| -5|  A|
|0S9|Jefferson County ...| 48.05381|-122.810646| 108| -8|  A|
|0W3|Harford County Ai...|39.566837|   -76.2024| 409| -5|  A|
|10C|  Galt Field Airport| 42.40289| -88.375114| 875| -6|  A|
|17G|Port Bucyrus-Craw...|40.781555|  -82.97481|1003| -5|  A|
|19A|Jackson County Ai...|34.175865|   -83.5616| 951| -4|  A|
|1A3|Martin Campbell F...|35.015804|  -84.34683|1789| -4|  A|
|1B9| Mansfield Municipal|42.000134|  -71.19677| 122| -5|  A|
|1C9|Frazier Lake Airpark|54.013332| -124.76833| 152| -8|  A|
|1CS|Clow Internationa...|41.695976| -88.129234| 670| -6|  A|
|1G3|  Kent State Airport| 41.15139|  -81.41511|1134| -4|  A|
|1OH|     Fortman Airport|40.555325|  -84.38662| 885| -5|  A|
+---+--------------------+---------+-----------+----+---+---+
only showing top 20 rows

+---+-----+
|dst|count|
+---+-----+
|  A| 1388|
|  N|    9|
+---+-----+

## Pergunta 4

In [13]:
df_airports = df_airports.withColumn('region',
                                       F.when(F.col('lon') < -124,                       'ALASKA')
                                       .when(F.col('lon').between(-124, -95),            'MAINLAND-WEST')
                                       .when(F.col('lon').between(-95, -54),             'MAINLAND-EAST')
                                       .when((F.col('lon') > -50) | (F.col('lat') > 24), 'OFFSHORE')
                                       .otherwise(None))

df_airports.show()

df_airports.groupBy("region").count().distinct().show()

+---+--------------------+---------+-----------+----+---+---+-------------+
|faa|                name|      lat|        lon| alt| tz|dst|       region|
+---+--------------------+---------+-----------+----+---+---+-------------+
|04G|   Lansdowne Airport|41.130474|  -80.61958|1044| -5|  A|MAINLAND-EAST|
|06A|Moton Field Munic...| 32.46057|  -85.68003| 264| -5|  A|MAINLAND-EAST|
|06C| Schaumburg Regional| 41.98934|  -88.10124| 801| -6|  A|MAINLAND-EAST|
|06N|     Randall Airport| 41.43191|  -74.39156| 523| -5|  A|MAINLAND-EAST|
|09J|Jekyll Island Air...|31.074472|  -81.42778|  11| -4|  A|MAINLAND-EAST|
|0A9|Elizabethton Muni...|36.371223| -82.173416|1593| -4|  A|MAINLAND-EAST|
|0G6|Williams County A...|41.467304| -84.506775| 730| -5|  A|MAINLAND-EAST|
|0G7|Finger Lakes Regi...|42.883564| -76.781235| 492| -5|  A|MAINLAND-EAST|
|0P2|Shoestring Aviati...|39.794823| -76.647194|1000| -5|  A|MAINLAND-EAST|
|0S9|Jefferson County ...| 48.05381|-122.810646| 108| -8|  A|MAINLAND-WEST|
|0W3|Harford County Ai...|39.566837|   -76.2024| 409| -5|  A|MAINLAND-EAST|
|10C|  Galt Field Airport| 42.40289| -88.375114| 875| -6|  A|MAINLAND-EAST|
|17G|Port Bucyrus-Craw...|40.781555|  -82.97481|1003| -5|  A|MAINLAND-EAST|
|19A|Jackson County Ai...|34.175865|   -83.5616| 951| -4|  A|MAINLAND-EAST|
|1A3|Martin Campbell F...|35.015804|  -84.34683|1789| -4|  A|MAINLAND-EAST|
|1B9| Mansfield Municipal|42.000134|  -71.19677| 122| -5|  A|MAINLAND-EAST|
|1C9|Frazier Lake Airpark|54.013332| -124.76833| 152| -8|  A|       ALASKA|
|1CS|Clow Internationa...|41.695976| -88.129234| 670| -6|  A|MAINLAND-EAST|
|1G3|  Kent State Airport| 41.15139|  -81.41511|1134| -4|  A|MAINLAND-EAST|
|1OH|     Fortman Airport|40.555325|  -84.38662| 885| -5|  A|MAINLAND-EAST|
+---+--------------------+---------+-----------+----+---+---+-------------+
only showing top 20 rows

+-------------+-----+
|       region|count|
+-------------+-----+
|       ALASKA|  261|
|     OFFSHORE|    4|
|MAINLAND-EAST|  696|
|MAINLAND-WEST|  436|
+-------------+-----+

## Pergunta 5

In [ ]:
# Cria os regex's de cada categoria
LIST_AP  = ['Airport', 'Tradeport', 'Heliport', 'Airpor', 'Arpt']
REGEX_AP = r'|'.join(map(lambda x : f'.*{x}*', LIST_AP))

LIST_AD  = ['Aerodrome']
REGEX_AD = r'|'.join(map(lambda x : f'.*{x}*', LIST_AD))

LIST_AK  = ['Airpark', 'Aero Park']
REGEX_AK = r'|'.join(map(lambda x : f'.*{x}*', LIST_AK))

LIST_AS  = ['Station', 'Air Station']
REGEX_AS = r'|'.join(map(lambda x : f'.*{x}*', LIST_AS))

LIST_FL  = ['Field', 'Fld']
REGEX_FL = r'|'.join(map(lambda x : f'.*{x}*', LIST_FL))

In [14]:
df_airports = df_airports.withColumn('type',
              F.when(F.col('name').rlike(REGEX_AP), 'AP')
               .when(F.col('name').rlike(REGEX_AD), 'AD')
               .when(F.col('name').rlike(REGEX_AK), 'AK')
               .when(F.col('name').rlike(REGEX_AS), 'AS')
               .when(F.col('name').rlike(REGEX_FL), 'FL')
               .otherwise('NaN'))
                                     
                                     
df_airports.show()

df_airports.groupBy("type").count().distinct().show()

+---+--------------------+---------+-----------+----+---+---+-------------+----+
|faa|                name|      lat|        lon| alt| tz|dst|       region|type|
+---+--------------------+---------+-----------+----+---+---+-------------+----+
|04G|   Lansdowne Airport|41.130474|  -80.61958|1044| -5|  A|MAINLAND-EAST|  AP|
|06A|Moton Field Munic...| 32.46057|  -85.68003| 264| -5|  A|MAINLAND-EAST|  AP|
|06C| Schaumburg Regional| 41.98934|  -88.10124| 801| -6|  A|MAINLAND-EAST| NaN|
|06N|     Randall Airport| 41.43191|  -74.39156| 523| -5|  A|MAINLAND-EAST|  AP|
|09J|Jekyll Island Air...|31.074472|  -81.42778|  11| -4|  A|MAINLAND-EAST|  AP|
|0A9|Elizabethton Muni...|36.371223| -82.173416|1593| -4|  A|MAINLAND-EAST|  AP|
|0G6|Williams County A...|41.467304| -84.506775| 730| -5|  A|MAINLAND-EAST|  AP|
|0G7|Finger Lakes Regi...|42.883564| -76.781235| 492| -5|  A|MAINLAND-EAST|  AP|
|0P2|Shoestring Aviati...|39.794823| -76.647194|1000| -5|  A|MAINLAND-EAST| NaN|
|0S9|Jefferson County ...| 48.05381|-122.810646| 108| -8|  A|MAINLAND-WEST| NaN|
|0W3|Harford County Ai...|39.566837|   -76.2024| 409| -5|  A|MAINLAND-EAST|  AP|
|10C|  Galt Field Airport| 42.40289| -88.375114| 875| -6|  A|MAINLAND-EAST|  AP|
|17G|Port Bucyrus-Craw...|40.781555|  -82.97481|1003| -5|  A|MAINLAND-EAST|  AP|
|19A|Jackson County Ai...|34.175865|   -83.5616| 951| -4|  A|MAINLAND-EAST|  AP|
|1A3|Martin Campbell F...|35.015804|  -84.34683|1789| -4|  A|MAINLAND-EAST|  AP|
|1B9| Mansfield Municipal|42.000134|  -71.19677| 122| -5|  A|MAINLAND-EAST| NaN|
|1C9|Frazier Lake Airpark|54.013332| -124.76833| 152| -8|  A|       ALASKA|  AK|
|1CS|Clow Internationa...|41.695976| -88.129234| 670| -6|  A|MAINLAND-EAST|  AP|
|1G3|  Kent State Airport| 41.15139|  -81.41511|1134| -4|  A|MAINLAND-EAST|  AP|
|1OH|     Fortman Airport|40.555325|  -84.38662| 885| -5|  A|MAINLAND-EAST|  AP|
+---+--------------------+---------+-----------+----+---+---+-------------+----+
only showing top 20 rows

+----+-----+
|type|count|
+----+-----+
|  AD|    1|
| NaN|  663|
|  AS|   19|
|  FL|   78|
|  AK|   12|
|  AP|  624|
+----+-----+

## Pergunta 6

In [15]:
LIST_MILITARY = ['Base', 'Aaf', 'Afs', 'Ahp', 'Afb', 'LRRS', 'Lrrs', 'Arb', 'Naf', 'NAS', 'Nas', 'Jrb', 'Ns', 'As', 'Cgas', 'Angb']
REGEX_MILITARY = r'|'.join(map(lambda x : f'^{x} | {x} | {x}$', LIST_MILITARY))

df_airports = df_airports.withColumn('military',
                                    F.when(F.col('name').rlike(REGEX_MILITARY), True)
                                    .otherwise(False))

df_airports.show()
df_airports.groupBy("military").count().distinct().show()
df_airports.filter(F.col('military')== True).show(200, False)

+---+--------------------+---------+-----------+----+---+---+-------------+----+--------+
|faa|                name|      lat|        lon| alt| tz|dst|       region|type|military|
+---+--------------------+---------+-----------+----+---+---+-------------+----+--------+
|04G|   Lansdowne Airport|41.130474|  -80.61958|1044| -5|  A|MAINLAND-EAST|  AP|   false|
|06A|Moton Field Munic...| 32.46057|  -85.68003| 264| -5|  A|MAINLAND-EAST|  AP|   false|
|06C| Schaumburg Regional| 41.98934|  -88.10124| 801| -6|  A|MAINLAND-EAST| NaN|   false|
|06N|     Randall Airport| 41.43191|  -74.39156| 523| -5|  A|MAINLAND-EAST|  AP|   false|
|09J|Jekyll Island Air...|31.074472|  -81.42778|  11| -4|  A|MAINLAND-EAST|  AP|   false|
|0A9|Elizabethton Muni...|36.371223| -82.173416|1593| -4|  A|MAINLAND-EAST|  AP|   false|
|0G6|Williams County A...|41.467304| -84.506775| 730| -5|  A|MAINLAND-EAST|  AP|   false|
|0G7|Finger Lakes Regi...|42.883564| -76.781235| 492| -5|  A|MAINLAND-EAST|  AP|   false|
|0P2|Shoestring Aviati...|39.794823| -76.647194|1000| -5|  A|MAINLAND-EAST| NaN|   false|
|0S9|Jefferson County ...| 48.05381|-122.810646| 108| -8|  A|MAINLAND-WEST| NaN|   false|
|0W3|Harford County Ai...|39.566837|   -76.2024| 409| -5|  A|MAINLAND-EAST|  AP|   false|
|10C|  Galt Field Airport| 42.40289| -88.375114| 875| -6|  A|MAINLAND-EAST|  AP|   false|
|17G|Port Bucyrus-Craw...|40.781555|  -82.97481|1003| -5|  A|MAINLAND-EAST|  AP|   false|
|19A|Jackson County Ai...|34.175865|   -83.5616| 951| -4|  A|MAINLAND-EAST|  AP|   false|
|1A3|Martin Campbell F...|35.015804|  -84.34683|1789| -4|  A|MAINLAND-EAST|  AP|   false|
|1B9| Mansfield Municipal|42.000134|  -71.19677| 122| -5|  A|MAINLAND-EAST| NaN|   false|
|1C9|Frazier Lake Airpark|54.013332| -124.76833| 152| -8|  A|       ALASKA|  AK|   false|
|1CS|Clow Internationa...|41.695976| -88.129234| 670| -6|  A|MAINLAND-EAST|  AP|   false|
|1G3|  Kent State Airport| 41.15139|  -81.41511|1134| -4|  A|MAINLAND-EAST|  AP|   false|
|1OH|     Fortman Airport|40.555325|  -84.38662| 885| -5|  A|MAINLAND-EAST|  AP|   false|
+---+--------------------+---------+-----------+----+---+---+-------------+----+--------+
only showing top 20 rows

+--------+-----+
|military|count|
+--------+-----+
|    true|  161|
|   false| 1236|
+--------+-----+

+---+------------------------------------+---------+-----------+----+---+---+-------------+----+--------+
|faa|name                                |lat      |lon        |alt |tz |dst|region       |type|military|
+---+------------------------------------+---------+-----------+----+---+---+-------------+----+--------+
|ADW|Andrews Afb                         |38.810806|-76.86703  |280 |-5 |A  |MAINLAND-EAST|NaN |true    |
|AGN|Angoon Seaplane Base                |57.503613|-134.585   |0   |-9 |A  |ALASKA       |NaN |true    |
|ALZ|Alitak Seaplane Base                |56.899445|-154.24777 |0   |-9 |A  |ALASKA       |NaN |true    |
|AOS|Amook Bay Seaplane Base             |57.47139 |-153.81528 |0   |-9 |A  |ALASKA       |NaN |true    |
|APG|Phillips Aaf                        |39.46622 |-76.16881  |57  |-5 |A  |MAINLAND-EAST|NaN |true    |
|AQC|Klawock Seaplane Base               |55.554657|-133.1017  |0   |-9 |A  |ALASKA       |NaN |true    |
|BAB|Beale Afb                           |39.13609 |-121.43657 |113 |-8 |A  |MAINLAND-WEST|NaN |true    |
|BAD|Barksdale Afb                       |32.50182 |-93.662674 |166 |-6 |A  |MAINLAND-EAST|NaN |true    |
|BIF|Biggs Aaf                           |31.849527|-106.380035|3948|-7 |A  |MAINLAND-WEST|NaN |true    |
|BIG|Allen Aaf                           |63.99455 |-145.72165 |1291|-9 |A  |ALASKA       |NaN |true    |
|BIX|Keesler Afb                         |30.410425|-88.92443  |33  |-6 |A  |MAINLAND-EAST|NaN |true    |
|BKF|Buckley Afb                         |39.701668|-104.75166 |5662|-7 |A  |MAINLAND-WEST|NaN |true    |
|BLV|Scott Afb Midamerica                |38.545177|-89.83518  |459 |-6 |A  |MAINLAND-EAST|NaN |true    |
|BMX|Big Mountain Afs                    |59.361248|-155.25882 |663 |-9 |A  |ALASKA       |NaN |true    |
|BSF|Bradshaw Aaf                        |19.760056|-155.55371 |6190|-10|A  |ALASKA       |NaN |true    |
|BTI|Barter Island Lrrs                  |70.13399 |-143.58186 |2   |-9 |A  |ALASKA       |NaN |true    |
|BYS|Bicycle Lake Aaf                    |35.280533|-116.63003 |2350|-8 |A  |MAINLAND-WEST|NaN |true    |
|CBM|Columbus Afb                        |33.643833|-88.44383  |219 |-6 |A  |MAINLAND-EAST|NaN |true    |
|CEF|Westover Arb Metropolitan           |42.194016|-72.53478  |241 |-5 |A  |MAINLAND-EAST|NaN |true    |
|CGA|Craig Seaplane Base                 |55.47889 |-133.14778 |0   |-9 |A  |ALASKA       |NaN |true    |
|CHS|Charleston Afb Intl                 |32.898647|-80.04053  |45  |-5 |A  |MAINLAND-EAST|NaN |true    |
|COF|Patrick Afb                         |28.234922|-80.61012  |8   |-5 |A  |MAINLAND-EAST|NaN |true    |
|CVS|Cannon Afb                          |34.382774|-103.32214 |4295|-7 |A  |MAINLAND-WEST|NaN |true    |
|CYM|Chatham Seaplane Base               |57.515   |-134.9461  |0   |-9 |A  |ALASKA       |NaN |true    |
|CZF|Cape Romanzof Lrrs                  |61.780296|-166.03874 |457 |-9 |A  |ALASKA       |NaN |true    |
|DLF|Laughlin Afb                        |29.359486|-100.77798 |1082|-6 |A  |MAINLAND-WEST|NaN |true    |
|DMA|Davis Monthan Afb                   |32.166466|-110.88314 |2704|-7 |A  |MAINLAND-WEST|NaN |true    |
|DOV|Dover Afb                           |39.12954 |-75.46596  |28  |-5 |A  |MAINLAND-EAST|NaN |true    |
|DYS|Dyess Afb                           |32.420757|-99.8546   |1789|-6 |A  |MAINLAND-WEST|NaN |true    |
|ECG|Elizabeth City Cgas Rgnl            |36.260582|-76.174576 |12  |-5 |A  |MAINLAND-EAST|NaN |true    |
|EDF|Elmendorf Afb                       |61.250984|-149.8065  |212 |-9 |A  |ALASKA       |NaN |true    |
|EDW|Edwards Afb                         |34.90542 |-117.883736|2302|-8 |A  |MAINLAND-WEST|NaN |true    |
|EHM|Cape Newenham Lrrs                  |58.646427|-162.06277 |541 |-9 |A  |ALASKA       |NaN |true    |
|EIL|Eielson Afb                         |64.665665|-147.1015  |548 |-9 |A  |ALASKA       |NaN |true    |
|ELV|Elfin Cove Seaplane Base            |58.19528 |-136.3475  |0   |-9 |A  |ALASKA       |NaN |true    |
|END|Vance Afb                           |36.33917 |-97.9165   |1307|-6 |A  |MAINLAND-WEST|NaN |true    |
|EXI|Excursion Inlet Seaplane Base       |58.420555|-135.44917 |0   |-9 |A  |ALASKA       |NaN |true    |
|F57|Seaplane Base                       |28.0575  |-81.7628   |140 |-7 |A  |MAINLAND-EAST|NaN |true    |
|FAF|Felker Aaf                          |37.1325  |-76.60884  |12  |-5 |A  |MAINLAND-EAST|NaN |true    |
|FBK|Ladd Aaf                            |64.8375  |-147.61444 |454 |-9 |A  |ALASKA       |NaN |true    |
|FBS|Friday Harbor Seaplane Base         |48.537224|-123.00972 |0   |-8 |A  |MAINLAND-WEST|NaN |true    |
|FCS|Butts Aaf                           |38.678394|-104.756584|5838|-7 |A  |MAINLAND-WEST|NaN |true    |
|FFO|Wright Patterson Afb                |39.82611 |-84.04833  |823 |-5 |A  |MAINLAND-EAST|NaN |true    |
|FHU|Sierra Vista Muni Libby Aaf         |31.588472|-110.34439 |4719|-7 |A  |MAINLAND-WEST|NaN |true    |
|FLV|Sherman Aaf                         |39.368332|-94.91469  |772 |-6 |A  |MAINLAND-EAST|NaN |true    |
|FMH|Otis Angb                           |41.65844 |-70.521416 |131 |-5 |A  |MAINLAND-EAST|NaN |true    |
|FNR|Funter Bay Seaplane Base            |58.254444|-134.89778 |0   |-9 |A  |ALASKA       |NaN |true    |
|FRI|Marshall Aaf                        |39.055275|-96.76445  |1063|-6 |A  |MAINLAND-WEST|NaN |true    |
|FRN|Bryant Ahp                          |61.26638 |-149.65312 |378 |-9 |A  |ALASKA       |NaN |true    |
|FSI|Henry Post Aaf                      |34.649834|-98.40217  |1189|-6 |A  |MAINLAND-WEST|NaN |true    |
|FTK|Godman Aaf                          |37.90706 |-85.97211  |756 |-6 |A  |MAINLAND-EAST|NaN |true    |
|GRF|Gray Aaf                            |47.079216|-122.58078 |302 |-8 |A  |MAINLAND-WEST|NaN |true    |
|GRK|Robert Gray Aaf                     |31.06725 |-97.82892  |1015|-6 |A  |MAINLAND-WEST|NaN |true    |
|GSB|Seymour Johnson Afb                 |35.339382|-77.96059  |110 |-5 |A  |MAINLAND-EAST|NaN |true    |
|GTB|Wheeler Sack Aaf                    |44.05562 |-75.71946  |690 |-5 |A  |MAINLAND-EAST|NaN |true    |
|GUS|Grissom Arb                         |40.648094|-86.15212  |812 |-5 |A  |MAINLAND-EAST|NaN |true    |
|HHI|Wheeler Aaf                         |21.4835  |-158.03967 |837 |-10|A  |ALASKA       |NaN |true    |
|HIF|Hill Afb                            |41.12394 |-111.97304 |4789|-7 |A  |MAINLAND-WEST|NaN |true    |
|HLR|Hood Aaf                            |31.138731|-97.71447  |924 |-6 |A  |MAINLAND-WEST|NaN |true    |
|HMN|Holloman Afb                        |32.85252 |-106.10652 |4093|-7 |A  |MAINLAND-WEST|NaN |true    |
|HOP|Campbell Aaf                        |36.668568|-87.496185 |573 |-6 |A  |MAINLAND-EAST|NaN |true    |
|HST|Homestead Arb                       |25.48855 |-80.38357  |6   |-5 |A  |MAINLAND-EAST|NaN |true    |
|HUA|Redstone Aaf                        |34.678654|-86.684784 |685 |-6 |A  |MAINLAND-EAST|NaN |true    |
|HYG|Hydaburg Seaplane Base              |55.20639 |-132.82834 |0   |-9 |A  |ALASKA       |NaN |true    |
|HYL|Hollis Seaplane Base                |55.481667|-132.64612 |0   |-9 |A  |ALASKA       |NaN |true    |
|IAB|Mc Connell Afb                      |37.621853|-97.26819  |1371|-6 |A  |MAINLAND-WEST|NaN |true    |
|IKR|Kirtland Air Force Base             |35.040222|-106.60919 |5355|-7 |A  |MAINLAND-WEST|NaN |true    |
|INS|Creech Afb                          |36.587185|-115.673355|3133|-8 |A  |MAINLAND-WEST|NaN |true    |
|K03|Wainwright As                       |70.61338 |-159.86035 |35  |-9 |A  |ALASKA       |NaN |true    |
|KAE|Kake Seaplane Base                  |56.973057|-133.94556 |0   |-9 |A  |ALASKA       |NaN |true    |
|KBW|Chignik Bay Seaplane Base           |56.295555|-158.4014  |0   |-9 |A  |ALASKA       |NaN |true    |
|KCC|Coffman Cove Seaplane Base          |56.01472 |-132.8339  |0   |-9 |A  |ALASKA       |NaN |true    |
|KEH|Kenmore Air Harbor Inc Seaplane Base|47.7548  |-122.259   |14  |-8 |A  |MAINLAND-WEST|NaN |true    |
|KKB|Kitoi Bay Seaplane Base             |58.190834|-152.37056 |0   |-9 |A  |ALASKA       |NaN |true    |
|KMY|Moser Bay Seaplane Base             |57.025555|-154.14583 |0   |-9 |A  |ALASKA       |NaN |true    |
|KOY|Olga Bay Seaplane Base              |57.16139 |-154.22972 |0   |-9 |A  |ALASKA       |NaN |true    |
|KPB|Point Baker Seaplane Base           |56.351944|-133.6225  |0   |-9 |A  |ALASKA       |NaN |true    |
|KPR|Port Williams Seaplane Base         |58.49    |-152.58223 |0   |-9 |A  |ALASKA       |NaN |true    |
|KPY|Port Bailey Seaplane Base           |57.93    |-153.04056 |0   |-9 |A  |ALASKA       |NaN |true    |
|KQA|Akutan Seaplane Base                |54.1325  |-165.785   |0   |-9 |A  |ALASKA       |NaN |true    |
|KTB|Thorne Bay Seaplane Base            |55.688057|-132.53667 |0   |-9 |A  |ALASKA       |NaN |true    |
|KWP|West Point Village Seaplane Base    |57.77    |-153.54889 |0   |-9 |A  |ALASKA       |NaN |true    |
|KZB|Zachar Bay Seaplane Base            |57.55    |-153.75    |0   |-9 |A  |ALASKA       |NaN |true    |
|LFI|Langley Afb                         |37.082882|-76.36055  |11  |-5 |A  |MAINLAND-EAST|NaN |true    |
|LHD|Lake Hood Seaplane Base             |61.186638|-149.9654  |71  |8  |A  |ALASKA       |NaN |true    |
|LKE|Kenmore Air Harbor Seaplane Base    |47.629   |-122.339   |14  |-7 |A  |MAINLAND-WEST|NaN |true    |
|LRF|Little Rock Afb                     |34.916943|-92.14972  |311 |-6 |A  |MAINLAND-EAST|NaN |true    |
|LSF|Lawson Aaf                          |32.337322|-84.99128  |232 |-5 |A  |MAINLAND-EAST|NaN |true    |
|LSV|Nellis Afb                          |36.2362  |-115.034256|1870|-8 |A  |MAINLAND-WEST|NaN |true    |
|LTS|Altus Afb                           |34.66707 |-99.26668  |1382|-6 |A  |MAINLAND-WEST|NaN |true    |
|LUF|Luke Afb                            |33.535   |-112.38306 |1085|-7 |A  |MAINLAND-WEST|NaN |true    |
|LUR|Cape Lisburne Lrrs                  |68.87513 |-166.11002 |12  |-9 |A  |ALASKA       |NaN |true    |
|MCF|Macdill Afb                         |27.849339|-82.52122  |14  |-5 |A  |MAINLAND-EAST|NaN |true    |
|MGE|Dobbins Arb                         |33.915382|-84.51632  |1068|-5 |A  |MAINLAND-EAST|NaN |true    |
|MIB|Minot Afb                           |48.415573|-101.35766 |1668|-6 |A  |MAINLAND-WEST|NaN |true    |
|MPB|Miami Seaplane Base                 |25.7783  |-80.1703   |0   |-5 |A  |MAINLAND-EAST|NaN |true    |
|MTC|Selfridge Angb                      |42.608334|-82.8355   |580 |-5 |A  |MAINLAND-EAST|NaN |true    |
|MTM|Metlakatla Seaplane Base            |55.13111 |-131.57805 |0   |-9 |A  |ALASKA       |NaN |true    |
|MUI|Muir Aaf                            |40.43481 |-76.56941  |489 |-5 |A  |MAINLAND-EAST|NaN |true    |
|MUO|Mountain Home Afb                   |43.043602|-115.87243 |2996|-7 |A  |MAINLAND-WEST|NaN |true    |
|MXF|Maxwell Afb                         |32.382942|-86.365776 |171 |-6 |A  |MAINLAND-EAST|NaN |true    |
|NBG|New Orleans Nas Jrb                 |29.825333|-90.035    |3   |-6 |A  |MAINLAND-EAST|NaN |true    |
|NFL|Fallon Nas                          |39.416584|-118.70098 |3934|-8 |A  |MAINLAND-WEST|NaN |true    |
|NGP|Corpus Christi NAS                  |27.692701|-97.290375 |18  |-6 |A  |MAINLAND-WEST|NaN |true    |
|NGU|Norfolk Ns                          |36.937645|-76.28929  |15  |-5 |A  |MAINLAND-EAST|NaN |true    |
|NGZ|NAS Alameda                         |37.7861  |-122.3186  |10  |-9 |A  |MAINLAND-WEST|NaN |true    |
|NHK|Patuxent River Nas                  |38.28598 |-76.41178  |39  |-5 |A  |MAINLAND-EAST|NaN |true    |
|NIP|Jacksonville Nas                    |30.235834|-81.68056  |22  |-5 |A  |MAINLAND-EAST|NaN |true    |
|NJK|El Centro Naf                       |32.829224|-115.67167 |0   |-8 |A  |MAINLAND-WEST|NaN |true    |
|NLC|Lemoore Nas                         |36.33301 |-119.95208 |234 |-8 |A  |MAINLAND-WEST|NaN |true    |
|NMM|Meridian Nas                        |32.552082|-88.55556  |317 |-6 |A  |MAINLAND-EAST|NaN |true    |
|NOW|Port Angeles Cgas                   |48.14148 |-123.41408 |13  |-8 |A  |MAINLAND-WEST|NaN |true    |
|NPA|Pensacola Nas                       |30.352655|-87.31865  |28  |-6 |A  |MAINLAND-EAST|NaN |true    |
|NQI|Kingsville Nas                      |27.507223|-97.80972  |50  |-6 |A  |MAINLAND-WEST|NaN |true    |
|NQX|Key West Nas                        |24.575834|-81.68889  |6   |-5 |A  |MAINLAND-EAST|NaN |true    |
|NSE|Whiting Fld Nas North               |30.724167|-87.02194  |199 |-6 |A  |MAINLAND-EAST|FL  |true    |
|NTD|Point Mugu Nas                      |34.120285|-119.12094 |13  |-8 |A  |MAINLAND-WEST|NaN |true    |
|NTU|Oceana Nas                          |36.8207  |-76.03354  |22  |-5 |A  |MAINLAND-EAST|NaN |true    |
|NUW|Whidbey Island Nas                  |48.351803|-122.65591 |47  |-8 |A  |MAINLAND-WEST|NaN |true    |
|NXX|Willow Grove Nas Jrb                |40.199833|-75.14817  |358 |-5 |A  |MAINLAND-EAST|NaN |true    |
|NZY|North Island Nas                    |32.69922 |-117.21531 |26  |-8 |A  |MAINLAND-WEST|NaN |true    |
|OFF|Offutt Afb                          |41.118332|-95.91251  |1052|-6 |A  |MAINLAND-WEST|NaN |true    |
|PAM|Tyndall Afb                         |30.069567|-85.57542  |17  |-6 |A  |MAINLAND-EAST|NaN |true    |
|PEC|Pelican Seaplane Base               |57.955276|-136.23639 |0   |-9 |A  |ALASKA       |NaN |true    |
|PIZ|Point Lay Lrrs                      |69.73287 |-163.00534 |25  |-9 |A  |ALASKA       |NaN |true    |
|POE|Polk Aaf                            |31.044832|-93.191666 |330 |-6 |A  |MAINLAND-EAST|NaN |true    |
|PPV|Port Protection Seaplane Base       |56.328888|-133.61    |0   |-9 |A  |ALASKA       |NaN |true    |
|RBM|Robinson Aaf                        |34.85009 |-92.300156 |587 |-6 |A  |MAINLAND-EAST|NaN |true    |
|RCA|Ellsworth Afb                       |44.145042|-103.10357 |3279|-7 |A  |MAINLAND-WEST|NaN |true    |
|RCE|Roche Harbor Seaplane Base          |48.608055|-123.15972 |0   |-8 |A  |MAINLAND-WEST|NaN |true    |
|RDR|Grand Forks Afb                     |47.961098|-97.40119  |913 |-6 |A  |MAINLAND-WEST|NaN |true    |
|RIV|March Arb                           |33.88071 |-117.25945 |1535|-8 |A  |MAINLAND-WEST|NaN |true    |
|RND|Randolph Afb                        |29.529675|-98.2789   |762 |-6 |A  |MAINLAND-WEST|NaN |true    |
|RSJ|Rosario Seaplane Base               |48.645557|-122.86806 |0   |-8 |A  |MAINLAND-WEST|NaN |true    |
|SKA|Fairchild Afb                       |47.61506 |-117.65577 |2461|-8 |A  |MAINLAND-WEST|NaN |true    |
|SKF|Lackland Afb Kelly Fld Annex        |29.384228|-98.58111  |691 |-6 |A  |MAINLAND-WEST|FL  |true    |
|SPS|Sheppard Afb Wichita Falls Muni     |33.988796|-98.4919   |1019|-6 |A  |MAINLAND-WEST|NaN |true    |
|SSC|Shaw Afb                            |33.972717|-80.470566 |242 |-5 |A  |MAINLAND-EAST|NaN |true    |
|SUU|Travis Afb                          |38.26269 |-121.92747 |62  |-8 |A  |MAINLAND-WEST|NaN |true    |
|SVN|Hunter Aaf                          |32.01    |-81.14568  |42  |-5 |A  |MAINLAND-EAST|NaN |true    |
|SVW|Sparrevohn Lrrs                     |61.09737 |-155.57423 |1583|-9 |A  |ALASKA       |NaN |true    |
|SYA|Eareckson As                        |52.712276|174.11362  |98  |-10|A  |OFFSHORE     |NaN |true    |
|SYB|Seal Bay Seaplane Base              |58.166668|-152.5     |0   |-9 |A  |ALASKA       |NaN |true    |
|SZL|Whiteman Afb                        |38.730305|-93.54787  |870 |-6 |A  |MAINLAND-EAST|NaN |true    |
|TCM|Mc Chord Afb                        |47.137676|-122.47648 |322 |-8 |A  |MAINLAND-WEST|NaN |true    |
|TIK|Tinker Afb                          |35.414738|-97.386635 |1291|-6 |A  |MAINLAND-WEST|NaN |true    |
|TKE|Tenakee Seaplane Base               |57.77972 |-135.21834 |0   |-9 |A  |ALASKA       |NaN |true    |
|TLJ|Tatalina Lrrs                       |62.894367|-155.97653 |964 |-9 |A  |ALASKA       |NaN |true    |
|TNC|Tin City LRRS Airport               |65.56306 |-167.92166 |269 |-9 |A  |ALASKA       |AP  |true    |
|UTO|Indian Mountain Lrrs                |65.99279 |-153.70428 |1220|-9 |A  |ALASKA       |NaN |true    |
|VAD|Moody Afb                           |30.967833|-83.193    |233 |-5 |A  |MAINLAND-EAST|NaN |true    |
|VBG|Vandenberg Afb                      |34.73733 |-120.584305|369 |-8 |A  |MAINLAND-WEST|NaN |true    |
|VPS|Eglin Afb                           |30.48325 |-86.5254   |87  |-6 |A  |MAINLAND-EAST|NaN |true    |
|WFB|Ketchikan harbor Seaplane Base      |55.344444|-131.66333 |0   |-9 |A  |ALASKA       |NaN |true    |
|WHD|Hyder Seaplane Base                 |55.90333 |-130.00667 |0   |-9 |A  |ALASKA       |NaN |true    |
|WRB|Robins Afb                          |32.640144|-83.59185  |294 |-5 |A  |MAINLAND-EAST|NaN |true    |
|WRI|Mc Guire Afb                        |40.015556|-74.59167  |131 |-5 |A  |MAINLAND-EAST|NaN |true    |
|WSD|Condron Aaf                         |32.341484|-106.40277 |3934|-7 |A  |MAINLAND-WEST|NaN |true    |
|WSJ|San Juan - Uganik Seaplane Base     |57.730278|-153.32056 |0   |-9 |A  |ALASKA       |NaN |true    |
|WSX|Westsound Seaplane Base             |48.61778 |-122.95278 |0   |-8 |A  |MAINLAND-WEST|NaN |true    |
|WWP|North Whale Seaplane Base           |56.11639 |-133.12167 |0   |-9 |A  |ALASKA       |NaN |true    |
+---+------------------------------------+---------+-----------+----+---+---+-------------+----+--------+

## Pergunta 7

In [16]:
df_airports = df_airports.withColumn('administration',
                                    F.when( F.col('name').rlike(r'.*(International|Intl|Intercontinental).*'), "I")
                                    .when(F.col('name').rlike(r'.*(National|Natl).*'), "N")
                                    .when(F.col('name').rlike(r'.*(Regional|Reigonal|Rgnl|County|Metro|Metropolitan).*'), "R")
                                    .when(F.col('name').rlike(r'.*(Municipal|Muni|City).*'), "M")
                                    .otherwise("NaN")
                                    )

df_airports.show()

df_airports.groupBy("administration").count().distinct().show()

+---+--------------------+---------+-----------+----+---+---+-------------+----+--------+--------------+
|faa|                name|      lat|        lon| alt| tz|dst|       region|type|military|administration|
+---+--------------------+---------+-----------+----+---+---+-------------+----+--------+--------------+
|04G|   Lansdowne Airport|41.130474|  -80.61958|1044| -5|  A|MAINLAND-EAST|  AP|   false|           NaN|
|06A|Moton Field Munic...| 32.46057|  -85.68003| 264| -5|  A|MAINLAND-EAST|  AP|   false|             M|
|06C| Schaumburg Regional| 41.98934|  -88.10124| 801| -6|  A|MAINLAND-EAST| NaN|   false|             R|
|06N|     Randall Airport| 41.43191|  -74.39156| 523| -5|  A|MAINLAND-EAST|  AP|   false|           NaN|
|09J|Jekyll Island Air...|31.074472|  -81.42778|  11| -4|  A|MAINLAND-EAST|  AP|   false|           NaN|
|0A9|Elizabethton Muni...|36.371223| -82.173416|1593| -4|  A|MAINLAND-EAST|  AP|   false|             M|
|0G6|Williams County A...|41.467304| -84.506775| 730| -5|  A|MAINLAND-EAST|  AP|   false|             R|
|0G7|Finger Lakes Regi...|42.883564| -76.781235| 492| -5|  A|MAINLAND-EAST|  AP|   false|             R|
|0P2|Shoestring Aviati...|39.794823| -76.647194|1000| -5|  A|MAINLAND-EAST| NaN|   false|           NaN|
|0S9|Jefferson County ...| 48.05381|-122.810646| 108| -8|  A|MAINLAND-WEST| NaN|   false|             I|
|0W3|Harford County Ai...|39.566837|   -76.2024| 409| -5|  A|MAINLAND-EAST|  AP|   false|             R|
|10C|  Galt Field Airport| 42.40289| -88.375114| 875| -6|  A|MAINLAND-EAST|  AP|   false|           NaN|
|17G|Port Bucyrus-Craw...|40.781555|  -82.97481|1003| -5|  A|MAINLAND-EAST|  AP|   false|             R|
|19A|Jackson County Ai...|34.175865|   -83.5616| 951| -4|  A|MAINLAND-EAST|  AP|   false|             R|
|1A3|Martin Campbell F...|35.015804|  -84.34683|1789| -4|  A|MAINLAND-EAST|  AP|   false|           NaN|
|1B9| Mansfield Municipal|42.000134|  -71.19677| 122| -5|  A|MAINLAND-EAST| NaN|   false|             M|
|1C9|Frazier Lake Airpark|54.013332| -124.76833| 152| -8|  A|       ALASKA|  AK|   false|           NaN|
|1CS|Clow Internationa...|41.695976| -88.129234| 670| -6|  A|MAINLAND-EAST|  AP|   false|             I|
|1G3|  Kent State Airport| 41.15139|  -81.41511|1134| -4|  A|MAINLAND-EAST|  AP|   false|           NaN|
|1OH|     Fortman Airport|40.555325|  -84.38662| 885| -5|  A|MAINLAND-EAST|  AP|   false|           NaN|
+---+--------------------+---------+-----------+----+---+---+-------------+----+--------+--------------+
only showing top 20 rows

+--------------+-----+
|administration|count|
+--------------+-----+
|             M|  180|
|             N|    5|
|             R|  287|
|           NaN|  761|
|             I|  164|
+--------------+-----+

# PLANES DATASET

In [17]:
df_planes.show()
df_planes.printSchema()

+-------+----+--------------------+----------------+--------+-------+-----+-----+---------+
|tailnum|year|                type|    manufacturer|   model|engines|seats|speed|   engine|
+-------+----+--------------------+----------------+--------+-------+-----+-----+---------+
| N102UW|1998|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|
| N103US|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|
| N104UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|
| N105UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|
| N107US|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|
| N108UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|
| N109UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|
| N110UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|
| N111US|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|
| N11206|2000|Fixed wing multi ...|          BOEING| 737-824|      2|  149| null|Turbo-fan|
| N112US|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|
| N113UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|
| N114UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|
| N117UW|2000|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|
| N118US|2000|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|
| N119US|2000|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|
| N1200K|1998|Fixed wing multi ...|          BOEING| 767-332|      2|  330| null|Turbo-fan|
| N1201P|1998|Fixed wing multi ...|          BOEING| 767-332|      2|  330| null|Turbo-fan|
| N12114|1995|Fixed wing multi ...|          BOEING| 757-224|      2|  178| null|Turbo-jet|
| N121DE|1987|Fixed wing multi ...|          BOEING| 767-332|      2|  330| null|Turbo-fan|
+-------+----+--------------------+----------------+--------+-------+-----+-----+---------+
only showing top 20 rows

root
 |-- tailnum: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- type: string (nullable = true)
 |-- manufacturer: string (nullable = true)
 |-- model: string (nullable = true)
 |-- engines: integer (nullable = true)
 |-- seats: integer (nullable = true)
 |-- speed: integer (nullable = true)
 |-- engine: string (nullable = true)

## Pergunta 1

In [18]:
df_planes.filter(F.length(F.col('tailnum')) == 5).show()

+-------+----+--------------------+----------------+--------+-------+-----+-----+---------+
|tailnum|year|                type|    manufacturer|   model|engines|seats|speed|   engine|
+-------+----+--------------------+----------------+--------+-------+-----+-----+---------+
|  N1602|1999|Fixed wing multi ...|          BOEING| 767-332|      2|  330| null|Turbo-fan|
|  N1603|1999|Fixed wing multi ...|          BOEING| 767-332|      2|  330| null|Turbo-fan|
|  N1605|1999|Fixed wing multi ...|          BOEING| 767-332|      2|  330| null|Turbo-fan|
|  N1608|2000|Fixed wing multi ...|          BOEING| 767-332|      2|  330| null|Turbo-fan|
|  N1609|2000|Fixed wing multi ...|          BOEING| 767-332|      2|  330| null|Turbo-fan|
|  N3752|2001|Fixed wing multi ...|          BOEING| 737-832|      2|  189| null|Turbo-jet|
|  N3753|2001|Fixed wing multi ...|          BOEING| 737-832|      2|  189| null|Turbo-jet|
|  N3756|2001|Fixed wing multi ...|          BOEING| 737-832|      2|  189| null|Turbo-jet|
|  N3759|2001|Fixed wing multi ...|          BOEING| 737-832|      2|  189| null|Turbo-jet|
|  N3765|2001|Fixed wing multi ...|          BOEING| 737-832|      2|  189| null|Turbo-jet|
|  N3766|2001|Fixed wing multi ...|          BOEING| 737-832|      2|  189| null|Turbo-jet|
|  N3767|2001|Fixed wing multi ...|          BOEING| 737-832|      2|  189| null|Turbo-jet|
|  N3768|2002|Fixed wing multi ...|          BOEING| 737-832|      2|  189| null|Turbo-jet|
|  N6700|1999|Fixed wing multi ...|          BOEING| 757-232|      2|  178| null|Turbo-fan|
|  N6701|1999|Fixed wing multi ...|          BOEING| 757-232|      2|  178| null|Turbo-fan|
|  N6702|1999|Fixed wing multi ...|          BOEING| 757-232|      2|  178| null|Turbo-fan|
|  N6709|2000|Fixed wing multi ...|          BOEING| 757-232|      2|  178| null|Turbo-fan|
|  N704X|1997|Fixed wing multi ...|          BOEING| 757-2Q8|      2|  178| null|Turbo-fan|
|  N744P|2000|Fixed wing multi ...|AIRBUS INDUSTRIE|A319-112|      2|  179| null|Turbo-fan|
+-------+----+--------------------+----------------+--------+-------+-----+-----+---------+

In [19]:
'''df_planes = df_planes.withColumn("tailchar",
                     F.when(~F.col('tailnum').rlike(REGEX_NNUMBER), None)
                     .when((F.length(F.col('tailnum'))== 5) & (~F.col('tailnum').substr(4,5).rlike('^[a-zA-Z]+$'))
                           , F.col('tailnum').substr(5,5))
                     .when((F.length(F.col('tailnum'))== 5) & (F.col('tailnum').substr(4,5).rlike('^[a-zA-Z]+$'))
                           , F.col('tailnum').substr(4,5))
                     .when((F.length(F.col('tailnum'))== 6) & (F.col('tailnum').substr(5,6).rlike('^[a-zA-Z]+$'))
                           , F.col('tailnum').substr(5,6))
                     .otherwise(F.col('tailnum').substr(6,6)))
df_planes.show()

df_planes.groupBy("tailchar").count().distinct().show(100)'''

'df_planes = df_planes.withColumn("tailchar",\n                     F.when(~F.col(\'tailnum\').rlike(REGEX_NNUMBER), None)\n                     .when((F.length(F.col(\'tailnum\'))== 5) & (~F.col(\'tailnum\').substr(4,5).rlike(\'^[a-zA-Z]+$\'))\n                           , F.col(\'tailnum\').substr(5,5))\n                     .when((F.length(F.col(\'tailnum\'))== 5) & (F.col(\'tailnum\').substr(4,5).rlike(\'^[a-zA-Z]+$\'))\n                           , F.col(\'tailnum\').substr(4,5))\n                     .when((F.length(F.col(\'tailnum\'))== 6) & (F.col(\'tailnum\').substr(5,6).rlike(\'^[a-zA-Z]+$\'))\n                           , F.col(\'tailnum\').substr(5,6))\n                     .otherwise(F.col(\'tailnum\').substr(6,6)))\ndf_planes.show()\n\ndf_planes.groupBy("tailchar").count().distinct().show(100)'

In [20]:
df_planes = df_planes.withColumn('tailchar', F.regexp_replace(F.col('tailnum'), '[0-9]|^N', ""))

df_planes.groupBy("tailchar").count().distinct().show(100)

+--------+-----+
|tailchar|count|
+--------+-----+
|       K|    7|
|      DZ|   11|
|      PC|    1|
|      UA|  193|
|      PS|    1|
|      AA|   67|
|      AY|    4|
|      MX|    1|
|       F|   16|
|       Q|    3|
|      RR|    1|
|      JC|    1|
|      AT|    4|
|      SW|  280|
|      NW|   99|
|      NA|    1|
|      EV|    4|
|      DQ|    2|
|      UW|  115|
|      VA|   53|
|       E|   10|
|      VJ|    1|
|      QC|    1|
|       T|    2|
|      ZX|    1|
|      LL|    1|
|       B|   28|
|      HK|    1|
|      DX|    1|
|      DN|  118|
|      TW|   15|
|       Y|    5|
|      SA|   21|
|      DL|   61|
|      CA|   21|
|      CT|    1|
|      GB|    1|
|       L|    3|
|       M|    4|
|      BR|    6|
|      NC|    1|
|      PQ|    4|
|      DE|    2|
|      AW|   87|
|       D|   16|
|      YV|    1|
|       C|   20|
|      US|   79|
|       J|    4|
|      FR|   55|
|       Z|    2|
|       A|   46|
|      DA|   46|
|       N|    3|
|       X|    2|
|      AG|   10|
|      HA|   27|
|       S|    1|
|      JB|  127|
|       R|    3|
|      SK|  104|
|      MH|    9|
|      LV|   12|
|       G|    1|
|      WR|    2|
|      CB|    2|
|      ML|    1|
|      JW|    1|
|      DH|    2|
|       P|    4|
|      GS|    3|
|      AS|  138|
|        |  298|
|      QX|    4|
|      UY|    3|
|      NB|   53|
|      WN|  282|
|       H|    7|
+--------+-----+

## Pergunta 2

In [21]:
df_planes = df_planes.withColumn('year',
                                F.when(F.col('year') == 0, 1996)
                                .otherwise(df_planes.year))

df_planes.groupBy("year").count().distinct().orderBy("year", ascending=True).show()

+----+-----+
|year|count|
+----+-----+
|null|   60|
|1959|    1|
|1963|    1|
|1968|    1|
|1975|    2|
|1976|    1|
|1980|    1|
|1984|    5|
|1985|   15|
|1986|   13|
|1987|   23|
|1988|   29|
|1989|   21|
|1990|   42|
|1991|   48|
|1992|   78|
|1993|   41|
|1994|   39|
|1995|   54|
|1996|   73|
+----+-----+
only showing top 20 rows

## Pergunta 3

In [22]:
# Criando tabela ordenada por Manufacturer e Model
df_ordered = df_planes.groupBy("manufacturer",'model').min('year').orderBy('manufacturer','model')

# Renomeando colunas
df_ordered = df_ordered.withColumnRenamed('manufacturer', 'manufacturer1').withColumnRenamed('model', 'model1') \
             .withColumnRenamed('min(year)', 'year1')

# Criando tabela ordenada somente por manufacturer
df_ordered2 = df_planes.groupBy('manufacturer').min('year').orderBy('manufacturer')

# Renomeando colunas
df_ordered2 = df_ordered2.withColumnRenamed('manufacturer', 'manufacturer2') \
             .withColumnRenamed('min(year)', 'year2')

# Fazendo left join da tabela df_planes com a tabela df_ordered

df_final = df_planes.join(df_ordered, (df_planes.manufacturer == df_ordered.manufacturer1) &
           (df_planes.model == df_ordered.model1),'left')

# Fazendo left join da tabela df_final com a df_ordered2

df_final = df_final.join(df_ordered2, df_final.manufacturer == df_ordered2.manufacturer2 , 'left')

# Modificando a coluna year para inputar os anos

df_final = df_final.withColumn('year',
                              F.when((F.col('year').isNull()) & (F.col('year1').isNull()) & (F.col('year2').isNull()), None )
                              .when((F.col('year').isNull()) & (F.col('year1').isNull()), F.col('year2'))
                              .when(F.col('year').isNull(), F.col('year1'))
                              .otherwise(F.col('year')) 
                              )
# Dropando as colunas criadas pelo join

df_final = df_final.drop('manufacturer1','manufacturer2','model1','year1','year2')

df_final.show()

df_final.select("year","manufacturer","model").filter(F.col('year') == "NaN").show()

df_planes = df_final

df_planes.groupBy("year").count().distinct().orderBy("year", ascending=True).show()

+-------+----+--------------------+----------------+--------+-------+-----+-----+---------+--------+
|tailnum|year|                type|    manufacturer|   model|engines|seats|speed|   engine|tailchar|
+-------+----+--------------------+----------------+--------+-------+-----+-----+---------+--------+
| N102UW|1998|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      UW|
| N103US|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      US|
| N104UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      UW|
| N105UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      UW|
| N107US|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      US|
| N108UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      UW|
| N109UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      UW|
| N110UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      UW|
| N111US|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      US|
| N11206|2000|Fixed wing multi ...|          BOEING| 737-824|      2|  149| null|Turbo-fan|        |
| N112US|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      US|
| N113UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      UW|
| N114UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      UW|
| N117UW|2000|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      UW|
| N118US|2000|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      US|
| N119US|2000|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      US|
| N1200K|1998|Fixed wing multi ...|          BOEING| 767-332|      2|  330| null|Turbo-fan|       K|
| N1201P|1998|Fixed wing multi ...|          BOEING| 767-332|      2|  330| null|Turbo-fan|       P|
| N12114|1995|Fixed wing multi ...|          BOEING| 757-224|      2|  178| null|Turbo-jet|        |
| N121DE|1987|Fixed wing multi ...|          BOEING| 767-332|      2|  330| null|Turbo-fan|      DE|
+-------+----+--------------------+----------------+--------+-------+-----+-----+---------+--------+
only showing top 20 rows

+----+------------+-----+
|year|manufacturer|model|
+----+------------+-----+
+----+------------+-----+

+----+-----+
|year|count|
+----+-----+
|null|    2|
|1959|    1|
|1963|    1|
|1968|    1|
|1975|    2|
|1976|    1|
|1980|    1|
|1984|    6|
|1985|   15|
|1986|   13|
|1987|   23|
|1988|   29|
|1989|   21|
|1990|   42|
|1991|   48|
|1992|   78|
|1993|   42|
|1994|   45|
|1995|   55|
|1996|   73|
+----+-----+
only showing top 20 rows

In [23]:
df_final.select("year","manufacturer","model").filter(F.col('year').isNull()).show()

+----+---------------+-------------+
|year|   manufacturer|        model|
+----+---------------+-------------+
|null|LAMBERT RICHARD|    FALCON XP|
|null|  BARKER JACK L|ZODIAC 601HDS|
+----+---------------+-------------+

## Pergunta 4

In [24]:
df_planes = df_planes.withColumn('age',  2022 - F.col('year'))

df_planes.show()

df_planes.filter(F.col('age').isNull()).show()

df_planes.groupBy("age").count().distinct().show(100, False)

+-------+----+--------------------+----------------+--------+-------+-----+-----+---------+--------+---+
|tailnum|year|                type|    manufacturer|   model|engines|seats|speed|   engine|tailchar|age|
+-------+----+--------------------+----------------+--------+-------+-----+-----+---------+--------+---+
| N102UW|1998|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      UW| 24|
| N103US|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      US| 23|
| N104UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      UW| 23|
| N105UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      UW| 23|
| N107US|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      US| 23|
| N108UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      UW| 23|
| N109UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      UW| 23|
| N110UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      UW| 23|
| N111US|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      US| 23|
| N11206|2000|Fixed wing multi ...|          BOEING| 737-824|      2|  149| null|Turbo-fan|        | 22|
| N112US|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      US| 23|
| N113UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      UW| 23|
| N114UW|1999|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      UW| 23|
| N117UW|2000|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      UW| 22|
| N118US|2000|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      US| 22|
| N119US|2000|Fixed wing multi ...|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      US| 22|
| N1200K|1998|Fixed wing multi ...|          BOEING| 767-332|      2|  330| null|Turbo-fan|       K| 24|
| N1201P|1998|Fixed wing multi ...|          BOEING| 767-332|      2|  330| null|Turbo-fan|       P| 24|
| N12114|1995|Fixed wing multi ...|          BOEING| 757-224|      2|  178| null|Turbo-jet|        | 27|
| N121DE|1987|Fixed wing multi ...|          BOEING| 767-332|      2|  330| null|Turbo-fan|      DE| 35|
+-------+----+--------------------+----------------+--------+-------+-----+-----+---------+--------+---+
only showing top 20 rows

+-------+----+--------------------+---------------+-------------+-------+-----+-----+-------------+--------+----+
|tailnum|year|                type|   manufacturer|        model|engines|seats|speed|       engine|tailchar| age|
+-------+----+--------------------+---------------+-------------+-------+-----+-----+-------------+--------+----+
| N528AA|null|Fixed wing single...|LAMBERT RICHARD|    FALCON XP|      1|    2| null|Reciprocating|      AA|null|
| N531JB|null|Fixed wing single...|  BARKER JACK L|ZODIAC 601HDS|      1|    2| null|Reciprocating|      JB|null|
+-------+----+--------------------+---------------+-------------+-------+-----+-----+-------------+--------+----+

+----+-----+
|age |count|
+----+-----+
|31  |48   |
|34  |29   |
|28  |45   |
|27  |55   |
|26  |73   |
|12  |46   |
|22  |189  |
|47  |2    |
|null|2    |
|13  |77   |
|16  |128  |
|20  |139  |
|54  |1    |
|19  |118  |
|15  |93   |
|37  |15   |
|9   |88   |
|17  |112  |
|35  |23   |
|59  |1    |
|8   |105  |
|23  |174  |
|63  |1    |
|10  |90   |
|38  |6    |
|25  |80   |
|24  |169  |
|29  |42   |
|21  |215  |
|32  |42   |
|11  |64   |
|33  |21   |
|14  |110  |
|42  |1    |
|30  |78   |
|46  |1    |
|18  |132  |
|36  |13   |
+----+-----+

## Pergunta 5

In [25]:
#### arrumar
df_planes = df_planes.withColumn('type',
                                 F.when(F.col('type') == "Fixed wing multi engine", "MULTI_ENG")
                                .when(F.col('type') == "Fixed wing single engine", "SINGLE_ENG")
                                .when(F.col('type') == "Rotorcraft", "ROTORCRAFT")
                                .otherwise(df_planes.type))

df_planes.show()

df_planes.groupBy("type").count().distinct().show(100, False)

+-------+----+---------+----------------+--------+-------+-----+-----+---------+--------+---+
|tailnum|year|     type|    manufacturer|   model|engines|seats|speed|   engine|tailchar|age|
+-------+----+---------+----------------+--------+-------+-----+-----+---------+--------+---+
| N102UW|1998|MULTI_ENG|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      UW| 24|
| N103US|1999|MULTI_ENG|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      US| 23|
| N104UW|1999|MULTI_ENG|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      UW| 23|
| N105UW|1999|MULTI_ENG|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      UW| 23|
| N107US|1999|MULTI_ENG|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      US| 23|
| N108UW|1999|MULTI_ENG|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      UW| 23|
| N109UW|1999|MULTI_ENG|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      UW| 23|
| N110UW|1999|MULTI_ENG|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      UW| 23|
| N111US|1999|MULTI_ENG|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      US| 23|
| N11206|2000|MULTI_ENG|          BOEING| 737-824|      2|  149| null|Turbo-fan|        | 22|
| N112US|1999|MULTI_ENG|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      US| 23|
| N113UW|1999|MULTI_ENG|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      UW| 23|
| N114UW|1999|MULTI_ENG|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      UW| 23|
| N117UW|2000|MULTI_ENG|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      UW| 22|
| N118US|2000|MULTI_ENG|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      US| 22|
| N119US|2000|MULTI_ENG|AIRBUS INDUSTRIE|A320-214|      2|  182| null|Turbo-fan|      US| 22|
| N1200K|1998|MULTI_ENG|          BOEING| 767-332|      2|  330| null|Turbo-fan|       K| 24|
| N1201P|1998|MULTI_ENG|          BOEING| 767-332|      2|  330| null|Turbo-fan|       P| 24|
| N12114|1995|MULTI_ENG|          BOEING| 757-224|      2|  178| null|Turbo-jet|        | 27|
| N121DE|1987|MULTI_ENG|          BOEING| 767-332|      2|  330| null|Turbo-fan|      DE| 35|
+-------+----+---------+----------------+--------+-------+-----+-----+---------+--------+---+
only showing top 20 rows

+----------+-----+
|type      |count|
+----------+-----+
|SINGLE_ENG|10   |
|MULTI_ENG |2615 |
|ROTORCRAFT|3    |
+----------+-----+

## Pergunta 6

In [26]:
df_planes.groupBy("manufacturer").count().distinct().show(100, False)

+-----------------------------+-----+
|manufacturer                 |count|
+-----------------------------+-----+
|BARKER JACK L                |1    |
|AIRBUS INDUSTRIE             |401  |
|ROBINSON HELICOPTER CO       |1    |
|SIKORSKY                     |1    |
|BOEING                       |1460 |
|EMBRAER                      |37   |
|CIRRUS DESIGN CORP           |1    |
|MARZ BARRY                   |1    |
|CESSNA                       |4    |
|LAMBERT RICHARD              |1    |
|BOMBARDIER INC               |214  |
|PIPER                        |2    |
|BELL                         |1    |
|MCDONNELL DOUGLAS AIRCRAFT CO|2    |
|MCDONNELL DOUGLAS            |94   |
|KILDALL GARY                 |1    |
|CANADAIR                     |8    |
|AIRBUS                       |397  |
|GULFSTREAM AEROSPACE         |1    |
+-----------------------------+-----+

Errados: BARKER JACK L,
        AIRBUS INDUSTRIE,
        ROBINSON HELICOPTER CO,
        CIRRUS DESIGN CORP,
        BOMBARDIER INC,
        MCDONNELL DOUGLAS AIRCRAFT CO,
        GULFSTREAM AEROSPACE

In [27]:
df_planes = df_planes.withColumn('manufacturer',
                                F.when(F.col('manufacturer') == "BARKER JACK L", "BARKER JACK")
                                .when(F.col('manufacturer') == "AIRBUS INDUSTRIE", "AIRBUS")
                                .when(F.col('manufacturer') == "ROBINSON HELICOPTER CO", "ROBINSON HELICOPTER")
                                .when(F.col('manufacturer') == "CIRRUS DESIGN CORP", "CIRRUS")
                                .when(F.col('manufacturer') == "BOMBARDIER INC", "BOMBARDIER")
                                .when(F.col('manufacturer') == "MCDONNELL DOUGLAS AIRCRAFT CO", "MCDONNELL DOUGLAS")
                                .when(F.col('manufacturer') == "GULFSTREAM AEROSPACE", "GULFSTREAM")
                                .otherwise(df_planes.manufacturer))

df_planes.groupBy("manufacturer").count().distinct().show(100, False)

+-------------------+-----+
|manufacturer       |count|
+-------------------+-----+
|BARKER JACK        |1    |
|GULFSTREAM         |1    |
|CIRRUS             |1    |
|SIKORSKY           |1    |
|BOEING             |1460 |
|EMBRAER            |37   |
|MARZ BARRY         |1    |
|CESSNA             |4    |
|LAMBERT RICHARD    |1    |
|PIPER              |2    |
|BELL               |1    |
|MCDONNELL DOUGLAS  |96   |
|KILDALL GARY       |1    |
|BOMBARDIER         |214  |
|CANADAIR           |8    |
|ROBINSON HELICOPTER|1    |
|AIRBUS             |798  |
+-------------------+-----+

## Pergunta 7

In [28]:
df_planes = df_planes.withColumn('model', F.regexp_replace(F.col('model'), '\s*\([^()]*\)\s*', ""))





df_planes.groupBy("model").count().distinct().orderBy("model", ascending=True).show(1000)
df_planes.show()

+-------------+-----+
|        model|count|
+-------------+-----+
|          150|    1|
|         172M|    1|
|         206B|    1|
|        210-5|    1|
|         421C|    1|
|      737-301|    2|
|      737-3A4|    1|
|      737-3G7|    2|
|      737-3H4|  104|
|      737-3K2|    2|
|      737-3L9|    2|
|      737-3Q8|    4|
|      737-3T5|    1|
|      737-3TO|    2|
|      737-3Y0|    1|
|      737-490|   16|
|      737-4Q8|    9|
|      737-4S3|    1|
|      737-5H4|   10|
|      737-705|    2|
|      737-724|   31|
|      737-732|    2|
|      737-73V|    1|
|      737-76N|   15|
|      737-76Q|    3|
|      737-790|   17|
|      737-7AD|    1|
|      737-7BD|   32|
|      737-7BX|    3|
|      737-7H4|  360|
|      737-7K9|    2|
|      737-7Q8|    1|
|      737-824|  122|
|      737-832|   73|
|      737-890|   60|
|      737-8FH|    1|
|      737-8H4|   81|
|      737-924|   12|
|    737-924ER|  102|
|    737-932ER|   30|
|      737-990|   12|
|    737-990ER|   23|
|      747-451|    1|
|      757-212|    4|
|      757-222|   35|
|      757-223|   11|
|      757-224|    1|
|      757-231|    8|
|      757-232|   82|
|      757-251|   26|
|      757-26D|    1|
|      757-28A|    1|
|      757-2G7|    2|
|      757-2Q8|   10|
|      757-2S7|    4|
|      757-324|    4|
|      757-33N|    4|
|      757-351|   16|
|      767-322|    6|
|      767-332|   63|
|      767-33A|    4|
|      767-3CB|    3|
|      767-3P6|    4|
|    767-432ER|    9|
|      777-224|    2|
|    777-232LR|    1|
|     A319-111|   23|
|     A319-112|   56|
|     A319-114|   53|
|     A319-115|    1|
|     A319-131|   55|
|     A319-132|   39|
|     A320-211|   27|
|     A320-212|   42|
|     A320-214|   86|
|     A320-231|    8|
|     A320-232|  255|
|     A321-211|   43|
|     A321-231|   66|
|     A330-223|   11|
|     A330-243|   19|
|     A330-323|   14|
|  CL-600-2B19|   92|
|  CL-600-2C10|   98|
|  CL-600-2D24|   32|
|      DC-9-82|   24|
|      DC-9-83|   20|
|      EMB-120|    3|
|    EMB-120ER|   34|
|    FALCON XP|    1|
|    FALCON-XP|    1|
|        GV-SP|    1|
|    KITFOX IV|    1|
|        MD-88|    2|
|     MD-90-30|   65|
|    PA-28-180|    1|
|   PA-32R-300|    1|
|          R66|    1|
|        S-76A|    1|
|         SR22|    1|
|ZODIAC 601HDS|    1|
+-------------+-----+

+-------+----+---------+------------+--------+-------+-----+-----+---------+--------+---+
|tailnum|year|     type|manufacturer|   model|engines|seats|speed|   engine|tailchar|age|
+-------+----+---------+------------+--------+-------+-----+-----+---------+--------+---+
| N102UW|1998|MULTI_ENG|      AIRBUS|A320-214|      2|  182| null|Turbo-fan|      UW| 24|
| N103US|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182| null|Turbo-fan|      US| 23|
| N104UW|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182| null|Turbo-fan|      UW| 23|
| N105UW|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182| null|Turbo-fan|      UW| 23|
| N107US|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182| null|Turbo-fan|      US| 23|
| N108UW|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182| null|Turbo-fan|      UW| 23|
| N109UW|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182| null|Turbo-fan|      UW| 23|
| N110UW|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182| null|Turbo-fan|      UW| 23|
| N111US|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182| null|Turbo-fan|      US| 23|
| N11206|2000|MULTI_ENG|      BOEING| 737-824|      2|  149| null|Turbo-fan|        | 22|
| N112US|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182| null|Turbo-fan|      US| 23|
| N113UW|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182| null|Turbo-fan|      UW| 23|
| N114UW|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182| null|Turbo-fan|      UW| 23|
| N117UW|2000|MULTI_ENG|      AIRBUS|A320-214|      2|  182| null|Turbo-fan|      UW| 22|
| N118US|2000|MULTI_ENG|      AIRBUS|A320-214|      2|  182| null|Turbo-fan|      US| 22|
| N119US|2000|MULTI_ENG|      AIRBUS|A320-214|      2|  182| null|Turbo-fan|      US| 22|
| N1200K|1998|MULTI_ENG|      BOEING| 767-332|      2|  330| null|Turbo-fan|       K| 24|
| N1201P|1998|MULTI_ENG|      BOEING| 767-332|      2|  330| null|Turbo-fan|       P| 24|
| N12114|1995|MULTI_ENG|      BOEING| 757-224|      2|  178| null|Turbo-jet|        | 27|
| N121DE|1987|MULTI_ENG|      BOEING| 767-332|      2|  330| null|Turbo-fan|      DE| 35|
+-------+----+---------+------------+--------+-------+-----+-----+---------+--------+---+
only showing top 20 rows

## Pergunta 8

In [29]:
df_planes = df_planes.withColumn('speed',
                                F.when((F.col('speed').isNull()) & (F.col('seats').isNotNull())
                                       & (F.col('seats').between(2,500)), (F.ceil(F.col('seats')/0.36)))
                                .otherwise(df_planes.speed))

df_planes = df_planes.withColumn('speed',
                                F.when(~F.col('speed').between(50,150), 0)
                                .otherwise(df_planes.speed))

df_planes.groupBy("speed").count().distinct().show(100, False)
df_planes.show()

+-----+-----+
|speed|count|
+-----+-----+
|0    |2584 |
|112  |1    |
|126  |1    |
|107  |1    |
|56   |1    |
|89   |37   |
|108  |1    |
|90   |2    |
+-----+-----+

+-------+----+---------+------------+--------+-------+-----+-----+---------+--------+---+
|tailnum|year|     type|manufacturer|   model|engines|seats|speed|   engine|tailchar|age|
+-------+----+---------+------------+--------+-------+-----+-----+---------+--------+---+
| N102UW|1998|MULTI_ENG|      AIRBUS|A320-214|      2|  182|    0|Turbo-fan|      UW| 24|
| N103US|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182|    0|Turbo-fan|      US| 23|
| N104UW|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182|    0|Turbo-fan|      UW| 23|
| N105UW|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182|    0|Turbo-fan|      UW| 23|
| N107US|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182|    0|Turbo-fan|      US| 23|
| N108UW|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182|    0|Turbo-fan|      UW| 23|
| N109UW|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182|    0|Turbo-fan|      UW| 23|
| N110UW|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182|    0|Turbo-fan|      UW| 23|
| N111US|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182|    0|Turbo-fan|      US| 23|
| N11206|2000|MULTI_ENG|      BOEING| 737-824|      2|  149|    0|Turbo-fan|        | 22|
| N112US|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182|    0|Turbo-fan|      US| 23|
| N113UW|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182|    0|Turbo-fan|      UW| 23|
| N114UW|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182|    0|Turbo-fan|      UW| 23|
| N117UW|2000|MULTI_ENG|      AIRBUS|A320-214|      2|  182|    0|Turbo-fan|      UW| 22|
| N118US|2000|MULTI_ENG|      AIRBUS|A320-214|      2|  182|    0|Turbo-fan|      US| 22|
| N119US|2000|MULTI_ENG|      AIRBUS|A320-214|      2|  182|    0|Turbo-fan|      US| 22|
| N1200K|1998|MULTI_ENG|      BOEING| 767-332|      2|  330|    0|Turbo-fan|       K| 24|
| N1201P|1998|MULTI_ENG|      BOEING| 767-332|      2|  330|    0|Turbo-fan|       P| 24|
| N12114|1995|MULTI_ENG|      BOEING| 757-224|      2|  178|    0|Turbo-jet|        | 27|
| N121DE|1987|MULTI_ENG|      BOEING| 767-332|      2|  330|    0|Turbo-fan|      DE| 35|
+-------+----+---------+------------+--------+-------+-----+-----+---------+--------+---+
only showing top 20 rows

## Pergunta 9

In [30]:
df_planes.groupBy("engine").count().distinct().show(100, False)

+-------------+-----+
|engine       |count|
+-------------+-----+
|Turbo-jet    |450  |
|4 Cycle      |1    |
|Turbo-fan    |2127 |
|Turbo-prop   |37   |
|Reciprocating|10   |
|Turbo-shaft  |3    |
+-------------+-----+

In [31]:
df_planes = df_planes.withColumn('engine_type',
                                F.when(F.col('engine') == "Turbo-fan", "FAN")
                                 .when(F.col('engine') == "Turbo-jet", "JET")
                                 .when(F.col('engine') == "Turbo-prop", "PROP")
                                 .when(F.col('engine') == "Turbo-shaft", "SHAFT")
                                 .when(F.col('engine') == "4 Cycle", "CYCLE")
                                 .otherwise(None))
df_planes.show()
df_planes.groupBy("engine_type").count().distinct().show(100, False)

+-------+----+---------+------------+--------+-------+-----+-----+---------+--------+---+-----------+
|tailnum|year|     type|manufacturer|   model|engines|seats|speed|   engine|tailchar|age|engine_type|
+-------+----+---------+------------+--------+-------+-----+-----+---------+--------+---+-----------+
| N102UW|1998|MULTI_ENG|      AIRBUS|A320-214|      2|  182|    0|Turbo-fan|      UW| 24|        FAN|
| N103US|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182|    0|Turbo-fan|      US| 23|        FAN|
| N104UW|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182|    0|Turbo-fan|      UW| 23|        FAN|
| N105UW|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182|    0|Turbo-fan|      UW| 23|        FAN|
| N107US|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182|    0|Turbo-fan|      US| 23|        FAN|
| N108UW|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182|    0|Turbo-fan|      UW| 23|        FAN|
| N109UW|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182|    0|Turbo-fan|      UW| 23|        FAN|
| N110UW|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182|    0|Turbo-fan|      UW| 23|        FAN|
| N111US|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182|    0|Turbo-fan|      US| 23|        FAN|
| N11206|2000|MULTI_ENG|      BOEING| 737-824|      2|  149|    0|Turbo-fan|        | 22|        FAN|
| N112US|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182|    0|Turbo-fan|      US| 23|        FAN|
| N113UW|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182|    0|Turbo-fan|      UW| 23|        FAN|
| N114UW|1999|MULTI_ENG|      AIRBUS|A320-214|      2|  182|    0|Turbo-fan|      UW| 23|        FAN|
| N117UW|2000|MULTI_ENG|      AIRBUS|A320-214|      2|  182|    0|Turbo-fan|      UW| 22|        FAN|
| N118US|2000|MULTI_ENG|      AIRBUS|A320-214|      2|  182|    0|Turbo-fan|      US| 22|        FAN|
| N119US|2000|MULTI_ENG|      AIRBUS|A320-214|      2|  182|    0|Turbo-fan|      US| 22|        FAN|
| N1200K|1998|MULTI_ENG|      BOEING| 767-332|      2|  330|    0|Turbo-fan|       K| 24|        FAN|
| N1201P|1998|MULTI_ENG|      BOEING| 767-332|      2|  330|    0|Turbo-fan|       P| 24|        FAN|
| N12114|1995|MULTI_ENG|      BOEING| 757-224|      2|  178|    0|Turbo-jet|        | 27|        JET|
| N121DE|1987|MULTI_ENG|      BOEING| 767-332|      2|  330|    0|Turbo-fan|      DE| 35|        FAN|
+-------+----+---------+------------+--------+-------+-----+-----+---------+--------+---+-----------+
only showing top 20 rows

+-----------+-----+
|engine_type|count|
+-----------+-----+
|PROP       |37   |
|null       |10   |
|CYCLE      |1    |
|FAN        |2127 |
|JET        |450  |
|SHAFT      |3    |
+-----------+-----+

# FLIGHTS DATASET

In [32]:
df_flights.show()
df_flights.printSchema()

df_flights.filter(F.col('dep_time')== 'NA').show(48)

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|2014|   12|  8|     658|       -7|     935|       -5|     VX| N846VA|  1780|   SEA| LAX|     132|     954|   6|    58|
|2014|    1| 22|    1040|        5|    1505|        5|     AS| N559AS|   851|   SEA| HNL|     360|    2677|  10|    40|
|2014|    3|  9|    1443|       -2|    1652|        2|     VX| N847VA|   755|   SEA| SFO|     111|     679|  14|    43|
|2014|    4|  9|    1705|       45|    1839|       34|     WN| N360SW|   344|   PDX| SJC|      83|     569|  17|     5|
|2014|    3|  9|     754|       -1|    1015|        1|     AS| N612AS|   522|   SEA| BUR|     127|     937|   7|    54|
|2014|    1| 15|    1037|        7|    1352|        2|     WN| N646SW|    48|   PDX| DEN|     121|     991|  10|    37|
|2014|    7|  2|     847|       42|    1041|       51|     WN| N422WN|  1520|   PDX| OAK|      90|     543|   8|    47|
|2014|    5| 12|    1655|       -5|    1842|      -18|     VX| N361VA|   755|   SEA| SFO|      98|     679|  16|    55|
|2014|    4| 19|    1236|       -4|    1508|       -7|     AS| N309AS|   490|   SEA| SAN|     135|    1050|  12|    36|
|2014|   11| 19|    1812|       -3|    2352|       -4|     AS| N564AS|    26|   SEA| ORD|     198|    1721|  18|    12|
|2014|   11|  8|    1653|       -2|    1924|       -1|     AS| N323AS|   448|   SEA| LAX|     130|     954|  16|    53|
|2014|    8|  3|    1120|        0|    1415|        2|     AS| N305AS|   656|   SEA| PHX|     154|    1107|  11|    20|
|2014|   10| 30|     811|       21|    1038|       29|     AS| N433AS|   608|   SEA| LAS|     127|     867|   8|    11|
|2014|   11| 12|    2346|       -4|     217|      -28|     AS| N765AS|   121|   SEA| ANC|     183|    1448|  23|    46|
|2014|   10| 31|    1314|       89|    1544|      111|     AS| N713AS|   306|   SEA| SFO|     129|     679|  13|    14|
|2014|    1| 29|    2009|        3|    2159|        9|     UA| N27205|  1458|   PDX| SFO|      90|     550|  20|     9|
|2014|   12| 17|    2015|       50|    2150|       41|     AS| N626AS|   368|   SEA| SMF|      76|     605|  20|    15|
|2014|    8| 11|    1017|       -3|    1613|       -7|     WN| N8634A|   827|   SEA| MDW|     216|    1733|  10|    17|
|2014|    1| 13|    2156|       -9|     607|      -15|     AS| N597AS|    24|   SEA| BOS|     290|    2496|  21|    56|
|2014|    6|  5|    1733|      -12|    1945|      -10|     OO| N215AG|  3488|   PDX| BUR|     111|     817|  17|    33|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
only showing top 20 rows

root
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- dep_time: string (nullable = true)
 |-- dep_delay: integer (nullable = true)
 |-- arr_time: string (nullable = true)
 |-- arr_delay: integer (nullable = true)
 |-- carrier: string (nullable = true)
 |-- tailnum: string (nullable = true)
 |-- flight: string (nullable = true)
 |-- origin: string (nullable = true)
 |-- dest: string (nullable = true)
 |-- air_time: integer (nullable = true)
 |-- distance: integer (nullable = true)
 |-- hour: integer (nullable = true)
 |-- minute: integer (nullable = true)

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|2014|    3|  4|      NA|     null|      NA|     null|     UA|     NA|   156|   SEA| DEN|    null|    1024|null|  null|
|2014|    2| 12|      NA|     null|      NA|     null|     AS| N527AS|     2|   SEA| DCA|    null|    2329|null|  null|
|2014|    7|  1|      NA|     null|      NA|     null|     WN| N8323C|  2485|   SEA| MDW|    null|    1733|null|  null|
|2014|    4| 30|      NA|     null|      NA|     null|     AS| N526AS|   566|   PDX| LAX|    null|     834|null|  null|
|2014|    1|  3|      NA|     null|      NA|     null|     US|     NA|   553|   SEA| PHL|    null|    2378|null|  null|
|2014|    8|  7|      NA|     null|      NA|     null|     AS| N579AS|   867|   SEA| OGG|    null|    2640|null|  null|
|2014|    8| 11|      NA|     null|      NA|     null|     OO| N689CA|  4528|   PDX| SEA|    null|     129|null|  null|
|2014|    1|  2|      NA|     null|      NA|     null|     UA|     NA|   212|   SEA| EWR|    null|    2402|null|  null|
|2014|    5| 15|      NA|     null|      NA|     null|     OO| N917SW|  6250|   PDX| LAX|    null|     834|null|  null|
|2014|    2|  7|      NA|     null|      NA|     null|     OO| N594SW|  5553|   PDX| SFO|    null|     550|null|  null|
|2014|    6|  6|      NA|     null|      NA|     null|     WN| N645SW|   956|   PDX| OAK|    null|     543|null|  null|
|2014|    1|  5|      NA|     null|      NA|     null|     UA|     NA|   758|   PDX| IAH|    null|    1825|null|  null|
|2014|    1|  6|      NA|     null|      NA|     null|     UA|     NA|  1729|   SEA| DEN|    null|    1024|null|  null|
|2014|    3| 30|      NA|     null|      NA|     null|     US|     NA|   500|   SEA| PHX|    null|    1107|null|  null|
|2014|    2|  9|      NA|     null|      NA|     null|     OO| N580SW|  5438|   PDX| EUG|    null|     106|null|  null|
|2014|    2|  9|      NA|     null|      NA|     null|     OO| N297SW|  5342|   SEA| PDX|    null|     129|null|  null|
|2014|    1|  1|      NA|     null|      NA|     null|     OO| N295SW|  5403|   PDX| EUG|    null|     106|null|  null|
|2014|    2| 17|      NA|     null|      NA|     null|     AA| N3LCAA|  1236|   SEA| ORD|    null|    1721|null|  null|
|2014|    1|  5|      NA|     null|      NA|     null|     UA|     NA|   995|   PDX| SFO|    null|     550|null|  null|
|2014|    5| 26|      NA|     null|      NA|     null|     UA|     NA|   690|   SEA| ORD|    null|    1721|null|  null|
|2014|    6| 20|      NA|     null|      NA|     null|     UA|     NA|  1142|   SEA| IAH|    null|    1874|null|  null|
|2014|    8| 10|      NA|     null|      NA|     null|     OO| N689CA|  4528|   PDX| SEA|    null|     129|null|  null|
|2014|    2| 16|      NA|     null|      NA|     null|     UA|     NA|  1523|   SEA| SFO|    null|     679|null|  null|
|2014|   11| 13|      NA|     null|      NA|     null|     OO| N617QX|  4825|   PDX| SEA|    null|     129|null|  null|
|2014|    4| 25|      NA|     null|      NA|     null|     OO| N216AG|  3478|   PDX| LGB|    null|     846|null|  null|
|2014|    1| 28|      NA|     null|      NA|     null|     DL| N3744F|  2482|   PDX| ATL|    null|    2172|null|  null|
|2014|    1|  6|      NA|     null|      NA|     null|     B6| N805JB|   598|   SEA| BOS|    null|    2496|null|  null|
|2014|    1|  4|      NA|     null|      NA|     null|     WN| N400WN|  4174|   SEA| DEN|    null|    1024|null|  null|
|2014|    9| 24|      NA|     null|      NA|     null|     OO| N983CA|  5197|   PDX| SFO|    null|     550|null|  null|
|2014|    7|  3|      NA|     null|      NA|     null|     OO| N953SW|  5210|   PDX| SFO|    null|     550|null|  null|
|2014|    2|  9|      NA|     null|      NA|     null|     OO| N580SW|  5433|   SEA| PDX|    null|     129|null|  null|
|2014|   12| 16|      NA|     null|      NA|     null|     OO| N963SW|  5197|   PDX| SFO|    null|     550|null|  null|
|2014|    9| 26|      NA|     null|      NA|     null|     AS| N514AS|   686|   PDX| ORD|    null|    1739|null|  null|
|2014|    2|  4|      NA|     null|      NA|     null|     DL| N721TW|   182|   SEA| JFK|    null|    2422|null|  null|
|2014|    1| 18|      NA|     null|      NA|     null|     OO| N568SW|  5379|   PDX| SEA|    null|     129|null|  null|
|2014|    1|  5|      NA|     null|      NA|     null|     UA|     NA|  1599|   SEA| ORD|    null|    1721|null|  null|
|2014|    8| 16|      NA|     null|      NA|     null|     UA|     NA|  1752|   SEA| SFO|    null|     679|null|  null|
|2014|   10|  2|      NA|     null|      NA|     null|     WN| N8647A|   827|   SEA| MDW|    null|    1733|null|  null|
|2014|    1|  5|      NA|     null|      NA|     null|     UA|     NA|   732|   SEA| ORD|    null|    1721|null|  null|
|2014|    2| 16|      NA|     null|      NA|     null|     US|     NA|   614|   SEA| PHX|    null|    1107|null|  null|
|2014|    2| 27|      NA|     null|      NA|     null|     OO| N946SW|  5196|   PDX| SFO|    null|     550|null|  null|
|2014|    2|  9|      NA|     null|      NA|     null|     AS| N627AS|   682|   SEA| DEN|    null|    1024|null|  null|
|2014|    1| 30|      NA|     null|      NA|     null|     WN| N773SA|   387|   SEA| MDW|    null|    1733|null|  null|
|2014|    2|  8|      NA|     null|      NA|     null|     OO| N593ML|  6250|   PDX| LAX|    null|     834|null|  null|
|2014|    2|  4|      NA|     null|      NA|     null|     AA| N3DRAA|   125|   SEA| ORD|    null|    1721|null|  null|
|2014|   10| 14|      NA|     null|      NA|     null|     AS| N529AS|   413|   PDX| SEA|    null|     129|null|  null|
|2014|    2| 17|      NA|     null|      NA|     null|     WN| N449WN|  1900|   SEA| MDW|    null|    1733|null|  null|
|2014|    8| 12|      NA|     null|      NA|     null|     OO| N162PQ|  4489|   SEA| PDX|    null|     129|null|  null|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+

## Pergunta 1

In [33]:
df_flights = df_flights.withColumn('hour',
                                  F.when(F.col('hour').isNull(), 0)
                                  .otherwise(df_flights.hour))

df_flights = df_flights.withColumn('minute',
                                  F.when(F.col('minute').isNull(), 0)
                                  .otherwise(df_flights.minute))


df_flights.groupBy("hour").count().distinct().orderBy("hour", ascending=True).show(25)

+----+-----+
|hour|count|
+----+-----+
|   0|  137|
|   1|   17|
|   2|    4|
|   5|  431|
|   6|  899|
|   7|  709|
|   8|  659|
|   9|  456|
|  10|  803|
|  11|  723|
|  12|  539|
|  13|  653|
|  14|  540|
|  15|  468|
|  16|  388|
|  17|  394|
|  18|  570|
|  19|  409|
|  20|  354|
|  21|  281|
|  22|  314|
|  23|  251|
|  24|    1|
+----+-----+

## Pergunta 2

In [34]:
df_flights = df_flights.withColumn('hour',
                                  F.when(F.col('hour') == 24, 0)
                                  .otherwise(df_flights.hour))

df_flights.groupBy("hour").count().distinct().orderBy("hour", ascending=True).show(25)

+----+-----+
|hour|count|
+----+-----+
|   0|  138|
|   1|   17|
|   2|    4|
|   5|  431|
|   6|  899|
|   7|  709|
|   8|  659|
|   9|  456|
|  10|  803|
|  11|  723|
|  12|  539|
|  13|  653|
|  14|  540|
|  15|  468|
|  16|  388|
|  17|  394|
|  18|  570|
|  19|  409|
|  20|  354|
|  21|  281|
|  22|  314|
|  23|  251|
+----+-----+

## Pergunta 3

In [ ]:
df_flights = df_flights.withColumn("dep_datetime", F.expr("make_timestamp(year, month, day, hour, minute, 00)"))

In [35]:
# Arrumar colunas month, day, hour, minute

df_flights = df_flights.withColumn('month',
                      F.when(F.length(F.col('month')) < 2, F.concat(F.lit('0'), F.col('month')))
                      .otherwise(df_flights.month))


df_flights = df_flights.withColumn('day',
                      F.when(F.length(F.col('day')) < 2, F.concat(F.lit('0'), F.col('day')))
                      .otherwise(df_flights.day))


df_flights = df_flights.withColumn('hour',
                      F.when(F.length(F.col('hour')) < 2, F.concat(F.lit('0'), F.col('hour')))
                      .otherwise(df_flights.hour))

df_flights = df_flights.withColumn('minute',
                      F.when(F.length(F.col('minute')) < 2, F.concat(F.lit('0'), F.col('minute')))
                      .otherwise(df_flights.minute))





df_flights.filter(F.length(F.col('month')) < 2).show(100)
df_flights.filter(F.length(F.col('day')) < 2).show(100)
df_flights.filter(F.length(F.col('hour')) < 2).show(100)
df_flights.filter(F.length(F.col('minute')) < 2).show(100)

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+

In [36]:
df_flights = df_flights.withColumn('dep_datetime', F.format_string("%s-%s-%s %s:%s:00",
                      F.col('year'),F.col('month'), F.col('day'),F.col('hour'),F.col('minute')).cast("timestamp"))



df_flights.select('dep_datetime').show()
df_flights.printSchema()

+-------------------+
|       dep_datetime|
+-------------------+
|2014-12-08 06:58:00|
|2014-01-22 10:40:00|
|2014-03-09 14:43:00|
|2014-04-09 17:05:00|
|2014-03-09 07:54:00|
|2014-01-15 10:37:00|
|2014-07-02 08:47:00|
|2014-05-12 16:55:00|
|2014-04-19 12:36:00|
|2014-11-19 18:12:00|
|2014-11-08 16:53:00|
|2014-08-03 11:20:00|
|2014-10-30 08:11:00|
|2014-11-12 23:46:00|
|2014-10-31 13:14:00|
|2014-01-29 20:09:00|
|2014-12-17 20:15:00|
|2014-08-11 10:17:00|
|2014-01-13 21:56:00|
|2014-06-05 17:33:00|
+-------------------+
only showing top 20 rows

root
 |-- year: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- day: string (nullable = true)
 |-- dep_time: string (nullable = true)
 |-- dep_delay: integer (nullable = true)
 |-- arr_time: string (nullable = true)
 |-- arr_delay: integer (nullable = true)
 |-- carrier: string (nullable = true)
 |-- tailnum: string (nullable = true)
 |-- flight: string (nullable = true)
 |-- origin: string (nullable = true)
 |-- dest: string (nullable = true)
 |-- air_time: integer (nullable = true)
 |-- distance: integer (nullable = true)
 |-- hour: string (nullable = true)
 |-- minute: string (nullable = true)
 |-- dep_datetime: timestamp (nullable = true)

## Pergunta 4

In [37]:
df_flights = df_flights.withColumn('dep_time',
                     F.when((F.col('dep_time').isNull()) | (F.col('dep_time') == "NA"),
                            F.format_string("%s%s", F.col('hour'), F.col('minute')))
                     .otherwise(df_flights.dep_time))

df_flights.show()
df_flights.printSchema()

df_flights.groupBy("dep_time").count().distinct().show(25)

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-------------------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|       dep_datetime|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-------------------+
|2014|   12| 08|     658|       -7|     935|       -5|     VX| N846VA|  1780|   SEA| LAX|     132|     954|  06|    58|2014-12-08 06:58:00|
|2014|   01| 22|    1040|        5|    1505|        5|     AS| N559AS|   851|   SEA| HNL|     360|    2677|  10|    40|2014-01-22 10:40:00|
|2014|   03| 09|    1443|       -2|    1652|        2|     VX| N847VA|   755|   SEA| SFO|     111|     679|  14|    43|2014-03-09 14:43:00|
|2014|   04| 09|    1705|       45|    1839|       34|     WN| N360SW|   344|   PDX| SJC|      83|     569|  17|    05|2014-04-09 17:05:00|
|2014|   03| 09|     754|       -1|    1015|        1|     AS| N612AS|   522|   SEA| BUR|     127|     937|  07|    54|2014-03-09 07:54:00|
|2014|   01| 15|    1037|        7|    1352|        2|     WN| N646SW|    48|   PDX| DEN|     121|     991|  10|    37|2014-01-15 10:37:00|
|2014|   07| 02|     847|       42|    1041|       51|     WN| N422WN|  1520|   PDX| OAK|      90|     543|  08|    47|2014-07-02 08:47:00|
|2014|   05| 12|    1655|       -5|    1842|      -18|     VX| N361VA|   755|   SEA| SFO|      98|     679|  16|    55|2014-05-12 16:55:00|
|2014|   04| 19|    1236|       -4|    1508|       -7|     AS| N309AS|   490|   SEA| SAN|     135|    1050|  12|    36|2014-04-19 12:36:00|
|2014|   11| 19|    1812|       -3|    2352|       -4|     AS| N564AS|    26|   SEA| ORD|     198|    1721|  18|    12|2014-11-19 18:12:00|
|2014|   11| 08|    1653|       -2|    1924|       -1|     AS| N323AS|   448|   SEA| LAX|     130|     954|  16|    53|2014-11-08 16:53:00|
|2014|   08| 03|    1120|        0|    1415|        2|     AS| N305AS|   656|   SEA| PHX|     154|    1107|  11|    20|2014-08-03 11:20:00|
|2014|   10| 30|     811|       21|    1038|       29|     AS| N433AS|   608|   SEA| LAS|     127|     867|  08|    11|2014-10-30 08:11:00|
|2014|   11| 12|    2346|       -4|     217|      -28|     AS| N765AS|   121|   SEA| ANC|     183|    1448|  23|    46|2014-11-12 23:46:00|
|2014|   10| 31|    1314|       89|    1544|      111|     AS| N713AS|   306|   SEA| SFO|     129|     679|  13|    14|2014-10-31 13:14:00|
|2014|   01| 29|    2009|        3|    2159|        9|     UA| N27205|  1458|   PDX| SFO|      90|     550|  20|    09|2014-01-29 20:09:00|
|2014|   12| 17|    2015|       50|    2150|       41|     AS| N626AS|   368|   SEA| SMF|      76|     605|  20|    15|2014-12-17 20:15:00|
|2014|   08| 11|    1017|       -3|    1613|       -7|     WN| N8634A|   827|   SEA| MDW|     216|    1733|  10|    17|2014-08-11 10:17:00|
|2014|   01| 13|    2156|       -9|     607|      -15|     AS| N597AS|    24|   SEA| BOS|     290|    2496|  21|    56|2014-01-13 21:56:00|
|2014|   06| 05|    1733|      -12|    1945|      -10|     OO| N215AG|  3488|   PDX| BUR|     111|     817|  17|    33|2014-06-05 17:33:00|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-------------------+
only showing top 20 rows

root
 |-- year: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- day: string (nullable = true)
 |-- dep_time: string (nullable = true)
 |-- dep_delay: integer (nullable = true)
 |-- arr_time: string (nullable = true)
 |-- arr_delay: integer (nullable = true)
 |-- carrier: string (nullable = true)
 |-- tailnum: string (nullable = true)
 |-- flight: string (nullable = true)
 |-- origin: string (nullable = true)
 |-- dest: string (nullable = true)
 |-- air_time: integer (nullable = true)
 |-- distance: integer (nullable = true)
 |-- hour: string (nullable = true)
 |-- minute: string (nullable = true)
 |-- dep_datetime: timestamp (nullable = true)

+--------+-----+
|dep_time|count|
+--------+-----+
|     829|   24|
|    1159|   19|
|    1436|   13|
|    1512|    5|
|    2136|    4|
|    2110|    4|
|     853|   19|
|     800|   10|
|     944|   12|
|    1808|    9|
|     926|    6|
|    1746|    4|
|    1241|    4|
|     919|    8|
|    1528|    7|
|    2034|    4|
|    1953|    7|
|    1903|    4|
|      51|    1|
|       7|    1|
|    1957|    7|
|    1500|   12|
|    1445|    7|
|     718|    8|
|     613|   12|
+--------+-----+
only showing top 25 rows

## Pergunta 5

In [38]:
df_flights = df_flights.withColumn('dep_delay',
                                  F.when(F.col('dep_delay').isNull(), 0)
                                  .otherwise(df_flights.dep_delay))

df_flights.show()

df_flights.groupBy('dep_delay').count().distinct().show(1000)

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-------------------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|       dep_datetime|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-------------------+
|2014|   12| 08|     658|       -7|     935|       -5|     VX| N846VA|  1780|   SEA| LAX|     132|     954|  06|    58|2014-12-08 06:58:00|
|2014|   01| 22|    1040|        5|    1505|        5|     AS| N559AS|   851|   SEA| HNL|     360|    2677|  10|    40|2014-01-22 10:40:00|
|2014|   03| 09|    1443|       -2|    1652|        2|     VX| N847VA|   755|   SEA| SFO|     111|     679|  14|    43|2014-03-09 14:43:00|
|2014|   04| 09|    1705|       45|    1839|       34|     WN| N360SW|   344|   PDX| SJC|      83|     569|  17|    05|2014-04-09 17:05:00|
|2014|   03| 09|     754|       -1|    1015|        1|     AS| N612AS|   522|   SEA| BUR|     127|     937|  07|    54|2014-03-09 07:54:00|
|2014|   01| 15|    1037|        7|    1352|        2|     WN| N646SW|    48|   PDX| DEN|     121|     991|  10|    37|2014-01-15 10:37:00|
|2014|   07| 02|     847|       42|    1041|       51|     WN| N422WN|  1520|   PDX| OAK|      90|     543|  08|    47|2014-07-02 08:47:00|
|2014|   05| 12|    1655|       -5|    1842|      -18|     VX| N361VA|   755|   SEA| SFO|      98|     679|  16|    55|2014-05-12 16:55:00|
|2014|   04| 19|    1236|       -4|    1508|       -7|     AS| N309AS|   490|   SEA| SAN|     135|    1050|  12|    36|2014-04-19 12:36:00|
|2014|   11| 19|    1812|       -3|    2352|       -4|     AS| N564AS|    26|   SEA| ORD|     198|    1721|  18|    12|2014-11-19 18:12:00|
|2014|   11| 08|    1653|       -2|    1924|       -1|     AS| N323AS|   448|   SEA| LAX|     130|     954|  16|    53|2014-11-08 16:53:00|
|2014|   08| 03|    1120|        0|    1415|        2|     AS| N305AS|   656|   SEA| PHX|     154|    1107|  11|    20|2014-08-03 11:20:00|
|2014|   10| 30|     811|       21|    1038|       29|     AS| N433AS|   608|   SEA| LAS|     127|     867|  08|    11|2014-10-30 08:11:00|
|2014|   11| 12|    2346|       -4|     217|      -28|     AS| N765AS|   121|   SEA| ANC|     183|    1448|  23|    46|2014-11-12 23:46:00|
|2014|   10| 31|    1314|       89|    1544|      111|     AS| N713AS|   306|   SEA| SFO|     129|     679|  13|    14|2014-10-31 13:14:00|
|2014|   01| 29|    2009|        3|    2159|        9|     UA| N27205|  1458|   PDX| SFO|      90|     550|  20|    09|2014-01-29 20:09:00|
|2014|   12| 17|    2015|       50|    2150|       41|     AS| N626AS|   368|   SEA| SMF|      76|     605|  20|    15|2014-12-17 20:15:00|
|2014|   08| 11|    1017|       -3|    1613|       -7|     WN| N8634A|   827|   SEA| MDW|     216|    1733|  10|    17|2014-08-11 10:17:00|
|2014|   01| 13|    2156|       -9|     607|      -15|     AS| N597AS|    24|   SEA| BOS|     290|    2496|  21|    56|2014-01-13 21:56:00|
|2014|   06| 05|    1733|      -12|    1945|      -10|     OO| N215AG|  3488|   PDX| BUR|     111|     817|  17|    33|2014-06-05 17:33:00|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-------------------+
only showing top 20 rows

+---------+-----+
|dep_delay|count|
+---------+-----+
|      148|    1|
|       31|   25|
|       85|    3|
|      137|    1|
|       65|    7|
|       53|   14|
|      133|    4|
|       78|    5|
|      -13|   37|
|      155|    1|
|      108|    2|
|       34|   22|
|      211|    1|
|      193|    1|
|      115|    2|
|      101|    3|
|       -1|  666|
|      -17|    4|
|      385|    1|
|       81|    6|
|       28|   38|
|      210|    1|
|       76|    7|
|      667|    1|
|       26|   32|
|       27|   36|
|      -10|  196|
|       44|   10|
|      159|    1|
|      271|    1|
|      -11|   80|
|      103|    2|
|       12|   78|
|      223|    1|
|       91|    3|
|      222|    2|
|       22|   54|
|      122|    1|
|       93|    6|
|      -15|   10|
|      111|    3|
|       47|   14|
|      177|    1|
|      132|    3|
|      185|    1|
|        1|  311|
|       52|   18|
|      212|    2|
|      274|    2|
|       13|   60|
|       16|   59|
|        6|  137|
|       86|    5|
|      168|    1|
|        3|  209|
|       -9|  208|
|      328|    1|
|      164|    1|
|       40|   16|
|       20|   40|
|       -7|  471|
|      139|    1|
|       94|    3|
|       57|   11|
|       -5|  742|
|       54|    8|
|      120|    2|
|       96|    5|
|       48|   16|
|      266|    1|
|        5|  148|
|      163|    1|
|       19|   54|
|       92|    2|
|       -8|  319|
|       64|    9|
|      117|    1|
|      886|    1|
|       41|   12|
|       15|   66|
|       43|   14|
|      -19|    1|
|      112|    1|
|      179|    3|
|      189|    3|
|       37|   16|
|       61|   13|
|      127|    6|
|       88|   10|
|      202|    2|
|      107|    2|
|       -6|  625|
|        9|   94|
|       17|   55|
|       72|   13|
|       35|   17|
|      739|    1|
|      310|    1|
|      229|    1|
|        4|  168|
|       55|   20|
|       59|    4|
|        8|  125|
|      100|    3|
|      161|    2|
|       39|   18|
|       23|   34|
|       49|   12|
|        7|  117|
|      130|    2|
|       84|    6|
|      136|    3|
|       -4|  838|
|       87|    5|
|      -16|    5|
|      273|    1|
|       51|   15|
|       69|    7|
|      129|    2|
|       97|    1|
|       63|    9|
|       10|   95|
|       77|    9|
|      102|    2|
|       50|   20|
|       -2|  760|
|       45|   14|
|       38|   16|
|       82|    3|
|      249|    1|
|      167|    1|
|       80|    5|
|       25|   36|
|       73|    3|
|      113|    2|
|       24|   31|
|       70|    4|
|      121|    3|
|       62|    8|
|      125|    1|
|       95|    6|
|       29|   22|
|      226|    2|
|       21|   49|
|      -12|   63|
|      214|    1|
|      352|    1|
|       98|    2|
|       60|   11|
|       32|   14|
|       90|    4|
|      -14|   14|
|       75|   10|
|      141|    1|
|      145|    1|
|       56|   16|
|      109|    5|
|      213|    1|
|      170|    1|
|      105|    4|
|      370|    1|
|       58|   10|
|      -18|    3|
|      188|    1|
|       11|   96|
|       33|   20|
|      110|    2|
|      150|    3|
|       83|    2|
|       71|    5|
|       68|    9|
|      106|    2|
|      116|    1|
|       14|   70|
|      123|    5|
|      158|    2|
|      135|    3|
|       42|   14|
|        2|  227|
|       79|    5|
|      201|    1|
|      149|    2|
|      131|    3|
|      118|    2|
|      124|    1|
|       30|   24|
|       99|    3|
|      302|    1|
|       66|    8|
|       46|   14|
|       67|    6|
|       -3|  852|
|      174|    1|
|      144|    1|
|        0|  646|
|       18|   55|
|       74|   12|
|      138|    1|
|      104|    3|
|      134|    3|
|       36|   25|
|       89|    7|
+---------+-----+

## Pergunta 6

In [39]:
df_flights = df_flights.withColumn('arr_delay',
                                  F.when(F.col('arr_delay').isNull() | (F.col('arr_delay') == "NA"), 0)
                                  .otherwise(df_flights.arr_delay))

df_flights.show()

df_flights.filter(F.col("arr_delay")== 0).count()

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-------------------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|       dep_datetime|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-------------------+
|2014|   12| 08|     658|       -7|     935|       -5|     VX| N846VA|  1780|   SEA| LAX|     132|     954|  06|    58|2014-12-08 06:58:00|
|2014|   01| 22|    1040|        5|    1505|        5|     AS| N559AS|   851|   SEA| HNL|     360|    2677|  10|    40|2014-01-22 10:40:00|
|2014|   03| 09|    1443|       -2|    1652|        2|     VX| N847VA|   755|   SEA| SFO|     111|     679|  14|    43|2014-03-09 14:43:00|
|2014|   04| 09|    1705|       45|    1839|       34|     WN| N360SW|   344|   PDX| SJC|      83|     569|  17|    05|2014-04-09 17:05:00|
|2014|   03| 09|     754|       -1|    1015|        1|     AS| N612AS|   522|   SEA| BUR|     127|     937|  07|    54|2014-03-09 07:54:00|
|2014|   01| 15|    1037|        7|    1352|        2|     WN| N646SW|    48|   PDX| DEN|     121|     991|  10|    37|2014-01-15 10:37:00|
|2014|   07| 02|     847|       42|    1041|       51|     WN| N422WN|  1520|   PDX| OAK|      90|     543|  08|    47|2014-07-02 08:47:00|
|2014|   05| 12|    1655|       -5|    1842|      -18|     VX| N361VA|   755|   SEA| SFO|      98|     679|  16|    55|2014-05-12 16:55:00|
|2014|   04| 19|    1236|       -4|    1508|       -7|     AS| N309AS|   490|   SEA| SAN|     135|    1050|  12|    36|2014-04-19 12:36:00|
|2014|   11| 19|    1812|       -3|    2352|       -4|     AS| N564AS|    26|   SEA| ORD|     198|    1721|  18|    12|2014-11-19 18:12:00|
|2014|   11| 08|    1653|       -2|    1924|       -1|     AS| N323AS|   448|   SEA| LAX|     130|     954|  16|    53|2014-11-08 16:53:00|
|2014|   08| 03|    1120|        0|    1415|        2|     AS| N305AS|   656|   SEA| PHX|     154|    1107|  11|    20|2014-08-03 11:20:00|
|2014|   10| 30|     811|       21|    1038|       29|     AS| N433AS|   608|   SEA| LAS|     127|     867|  08|    11|2014-10-30 08:11:00|
|2014|   11| 12|    2346|       -4|     217|      -28|     AS| N765AS|   121|   SEA| ANC|     183|    1448|  23|    46|2014-11-12 23:46:00|
|2014|   10| 31|    1314|       89|    1544|      111|     AS| N713AS|   306|   SEA| SFO|     129|     679|  13|    14|2014-10-31 13:14:00|
|2014|   01| 29|    2009|        3|    2159|        9|     UA| N27205|  1458|   PDX| SFO|      90|     550|  20|    09|2014-01-29 20:09:00|
|2014|   12| 17|    2015|       50|    2150|       41|     AS| N626AS|   368|   SEA| SMF|      76|     605|  20|    15|2014-12-17 20:15:00|
|2014|   08| 11|    1017|       -3|    1613|       -7|     WN| N8634A|   827|   SEA| MDW|     216|    1733|  10|    17|2014-08-11 10:17:00|
|2014|   01| 13|    2156|       -9|     607|      -15|     AS| N597AS|    24|   SEA| BOS|     290|    2496|  21|    56|2014-01-13 21:56:00|
|2014|   06| 05|    1733|      -12|    1945|      -10|     OO| N215AG|  3488|   PDX| BUR|     111|     817|  17|    33|2014-06-05 17:33:00|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+-------------------+
only showing top 20 rows

327

## Pergunta 7

In [40]:
df_flights = df_flights.drop('year','month','day','hour','minute')

df_flights.show()

+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+-------------------+
|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|       dep_datetime|
+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+-------------------+
|     658|       -7|     935|       -5|     VX| N846VA|  1780|   SEA| LAX|     132|     954|2014-12-08 06:58:00|
|    1040|        5|    1505|        5|     AS| N559AS|   851|   SEA| HNL|     360|    2677|2014-01-22 10:40:00|
|    1443|       -2|    1652|        2|     VX| N847VA|   755|   SEA| SFO|     111|     679|2014-03-09 14:43:00|
|    1705|       45|    1839|       34|     WN| N360SW|   344|   PDX| SJC|      83|     569|2014-04-09 17:05:00|
|     754|       -1|    1015|        1|     AS| N612AS|   522|   SEA| BUR|     127|     937|2014-03-09 07:54:00|
|    1037|        7|    1352|        2|     WN| N646SW|    48|   PDX| DEN|     121|     991|2014-01-15 10:37:00|
|     847|       42|    1041|       51|     WN| N422WN|  1520|   PDX| OAK|      90|     543|2014-07-02 08:47:00|
|    1655|       -5|    1842|      -18|     VX| N361VA|   755|   SEA| SFO|      98|     679|2014-05-12 16:55:00|
|    1236|       -4|    1508|       -7|     AS| N309AS|   490|   SEA| SAN|     135|    1050|2014-04-19 12:36:00|
|    1812|       -3|    2352|       -4|     AS| N564AS|    26|   SEA| ORD|     198|    1721|2014-11-19 18:12:00|
|    1653|       -2|    1924|       -1|     AS| N323AS|   448|   SEA| LAX|     130|     954|2014-11-08 16:53:00|
|    1120|        0|    1415|        2|     AS| N305AS|   656|   SEA| PHX|     154|    1107|2014-08-03 11:20:00|
|     811|       21|    1038|       29|     AS| N433AS|   608|   SEA| LAS|     127|     867|2014-10-30 08:11:00|
|    2346|       -4|     217|      -28|     AS| N765AS|   121|   SEA| ANC|     183|    1448|2014-11-12 23:46:00|
|    1314|       89|    1544|      111|     AS| N713AS|   306|   SEA| SFO|     129|     679|2014-10-31 13:14:00|
|    2009|        3|    2159|        9|     UA| N27205|  1458|   PDX| SFO|      90|     550|2014-01-29 20:09:00|
|    2015|       50|    2150|       41|     AS| N626AS|   368|   SEA| SMF|      76|     605|2014-12-17 20:15:00|
|    1017|       -3|    1613|       -7|     WN| N8634A|   827|   SEA| MDW|     216|    1733|2014-08-11 10:17:00|
|    2156|       -9|     607|      -15|     AS| N597AS|    24|   SEA| BOS|     290|    2496|2014-01-13 21:56:00|
|    1733|      -12|    1945|      -10|     OO| N215AG|  3488|   PDX| BUR|     111|     817|2014-06-05 17:33:00|
+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+-------------------+
only showing top 20 rows

## Pergunta 8

In [41]:
df_flights = df_flights.withColumn('air_time_projected',
                                  ((F.col('distance')* 0.1 + 20).cast(IntegerType())))

df_flights.show()

+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+-------------------+------------------+
|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|       dep_datetime|air_time_projected|
+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+-------------------+------------------+
|     658|       -7|     935|       -5|     VX| N846VA|  1780|   SEA| LAX|     132|     954|2014-12-08 06:58:00|               115|
|    1040|        5|    1505|        5|     AS| N559AS|   851|   SEA| HNL|     360|    2677|2014-01-22 10:40:00|               287|
|    1443|       -2|    1652|        2|     VX| N847VA|   755|   SEA| SFO|     111|     679|2014-03-09 14:43:00|                87|
|    1705|       45|    1839|       34|     WN| N360SW|   344|   PDX| SJC|      83|     569|2014-04-09 17:05:00|                76|
|     754|       -1|    1015|        1|     AS| N612AS|   522|   SEA| BUR|     127|     937|2014-03-09 07:54:00|               113|
|    1037|        7|    1352|        2|     WN| N646SW|    48|   PDX| DEN|     121|     991|2014-01-15 10:37:00|               119|
|     847|       42|    1041|       51|     WN| N422WN|  1520|   PDX| OAK|      90|     543|2014-07-02 08:47:00|                74|
|    1655|       -5|    1842|      -18|     VX| N361VA|   755|   SEA| SFO|      98|     679|2014-05-12 16:55:00|                87|
|    1236|       -4|    1508|       -7|     AS| N309AS|   490|   SEA| SAN|     135|    1050|2014-04-19 12:36:00|               125|
|    1812|       -3|    2352|       -4|     AS| N564AS|    26|   SEA| ORD|     198|    1721|2014-11-19 18:12:00|               192|
|    1653|       -2|    1924|       -1|     AS| N323AS|   448|   SEA| LAX|     130|     954|2014-11-08 16:53:00|               115|
|    1120|        0|    1415|        2|     AS| N305AS|   656|   SEA| PHX|     154|    1107|2014-08-03 11:20:00|               130|
|     811|       21|    1038|       29|     AS| N433AS|   608|   SEA| LAS|     127|     867|2014-10-30 08:11:00|               106|
|    2346|       -4|     217|      -28|     AS| N765AS|   121|   SEA| ANC|     183|    1448|2014-11-12 23:46:00|               164|
|    1314|       89|    1544|      111|     AS| N713AS|   306|   SEA| SFO|     129|     679|2014-10-31 13:14:00|                87|
|    2009|        3|    2159|        9|     UA| N27205|  1458|   PDX| SFO|      90|     550|2014-01-29 20:09:00|                75|
|    2015|       50|    2150|       41|     AS| N626AS|   368|   SEA| SMF|      76|     605|2014-12-17 20:15:00|                80|
|    1017|       -3|    1613|       -7|     WN| N8634A|   827|   SEA| MDW|     216|    1733|2014-08-11 10:17:00|               193|
|    2156|       -9|     607|      -15|     AS| N597AS|    24|   SEA| BOS|     290|    2496|2014-01-13 21:56:00|               269|
|    1733|      -12|    1945|      -10|     OO| N215AG|  3488|   PDX| BUR|     111|     817|2014-06-05 17:33:00|               101|
+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+-------------------+------------------+
only showing top 20 rows

## Pergunta 9

In [42]:
df_x = df_flights.groupBy('dest','origin').avg('air_time').orderBy('dest','origin')

df_x = df_x.withColumnRenamed('dest', 'dest1').withColumnRenamed('origin', 'origin1')

df_final2 = df_flights.join(df_x, (df_flights.dest == df_x.dest1) & (df_flights.origin == df_x.origin1),"left")
             
df_flights = df_final2.withColumn('air_time_expected', F.col('avg(air_time)').cast(IntegerType()))

df_flights = df_flights.drop('dest1','origin1','avg(air_time)')

df_flights.toPandas()

,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,dep_datetime,air_time_projected,air_time_expected
0,658,-7,935,-5,VX,N846VA,1780,SEA,LAX,132.0,954,2014-12-08 06:58:00,115,126
1,1040,5,1505,5,AS,N559AS,851,SEA,HNL,360.0,2677,2014-01-22 10:40:00,287,343
2,1443,-2,1652,2,VX,N847VA,755,SEA,SFO,111.0,679,2014-03-09 14:43:00,87,101
3,1705,45,1839,34,WN,N360SW,344,PDX,SJC,83.0,569,2014-04-09 17:05:00,76,85
4,754,-1,1015,1,AS,N612AS,522,SEA,BUR,127.0,937,2014-03-09 07:54:00,113,122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1806,-4,2104,-6,OO,N225AG,3458,SEA,SLC,89.0,689,2014-06-23 18:06:00,88,88
9996,2336,11,452,-13,AA,N3LEAA,1230,SEA,DFW,178.0,1660,2014-08-31 23:36:00,186,195
9997,904,-1,1042,-5,AS,N523AS,360,SEA,SMF,81.0,605,2014-08-08 09:04:00,80,82
9998,1441,26,1820,10,WN,N8647A,2857,SEA,ABQ,133.0,1180,2014-08-29 14:41:00,138,142
9999,1702,-3,1950,-10,DL,N583NW,2237,SEA,HNL,332.0,2677,2014-07-13 17:02:00,287,343

## Pergunta 10

In [43]:
df_flights = df_flights.withColumn('air_time',
                                   F.when(F.col('air_time').isNull(), F.greatest(F.col('air_time_projected'), F.col('air_time_expected')))
                                    .otherwise(F.col('air_time')))

df_flights.filter(F.col('air_time') == "NA").count()
df_flights.groupBy('air_time').count().distinct().show(1000)

+--------+-----+
|air_time|count|
+--------+-----+
|     148|   17|
|     243|   14|
|     392|    1|
|      31|   34|
|      85|   96|
|     137|   67|
|     251|   16|
|      65|   11|
|     255|   11|
|      53|    3|
|     133|   96|
|     296|    7|
|      78|   47|
|     322|   10|
|     362|    1|
|     321|    3|
|     108|   59|
|     155|    9|
|     211|   32|
|     193|   57|
|      34|   40|
|     368|    3|
|     101|   94|
|     126|  120|
|     115|   85|
|      81|   74|
|     183|   22|
|      28|   24|
|     210|   41|
|     300|    8|
|      76|   32|
|      27|   23|
|     332|   16|
|      26|   20|
|     271|   18|
|     159|   12|
|     192|   36|
|      44|    4|
|     253|   13|
|     103|   74|
|     329|    8|
|     236|   14|
|     336|    6|
|     350|    3|
|     223|   27|
|      91|   59|
|     409|    1|
|     333|   10|
|     285|   18|
|     222|   20|
|     128|  116|
|     209|   46|
|     330|    7|
|     122|  108|
|     319|   12|
|     230|   14|
|     190|   37|
|      93|   55|
|     233|   14|
|     225|   22|
|     157|   15|
|     232|    5|
|     360|    4|
|     346|    8|
|     246|   13|
|     367|    5|
|     111|   75|
|     224|   26|
|      47|    2|
|     140|   58|
|     177|   14|
|     132|   92|
|     152|    9|
|     185|   36|
|     305|   10|
|     353|    5|
|     355|    1|
|     325|    7|
|     291|   14|
|     386|    1|
|     146|   33|
|     259|   18|
|     206|   33|
|     297|   15|
|     363|    2|
|     212|   27|
|     274|   15|
|     182|   29|
|     218|   29|
|     280|   13|
|     348|    5|
|      86|   71|
|     205|   37|
|     168|   12|
|     142|   43|
|     178|   21|
|     328|    6|
|     308|    4|
|      20|    3|
|      40|   17|
|     164|   18|
|     169|   14|
|     139|   63|
|     283|   19|
|     359|    3|
|     295|   10|
|     340|    2|
|      94|   59|
|     250|   13|
|      57|    3|
|     306|    9|
|     292|   16|
|     339|    5|
|     120|  137|
|      96|   53|
|     235|   10|
|      48|    2|
|     266|   19|
|     268|   23|
|     191|   58|
|     163|   14|
|     279|   24|
|     258|   14|
|      92|   60|
|     299|    6|
|     257|   15|
|     117|   94|
|     227|   24|
|      64|    9|
|     154|   20|
|      41|   11|
|     309|    4|
|     347|    4|
|      43|    5|
|     262|   27|
|     112|   73|
|     269|   19|
|     327|    6|
|     165|   16|
|     358|    2|
|     366|    2|
|     179|   17|
|     189|   47|
|     207|   44|
|      37|   32|
|     127|  107|
|      61|    1|
|     316|    3|
|     197|   50|
|      88|   65|
|     318|    6|
|     107|   62|
|     263|   15|
|     202|   54|
|     374|    4|
|     231|    7|
|     324|    3|
|     286|   20|
|      72|    9|
|     175|   21|
|     381|    4|
|      35|   32|
|     310|    5|
|     196|   48|
|     290|   14|
|     217|   30|
|     229|   22|
|     307|    8|
|     326|    9|
|     114|   72|
|     220|   26|
|     278|   20|
|     301|   12|
|     173|    9|
|     100|   82|
|     241|   12|
|     161|   13|
|      39|   22|
|     176|   13|
|      49|    5|
|     162|   21|
|     130|  103|
|     244|   11|
|     238|   10|
|      84|   77|
|     136|   66|
|     314|    6|
|     247|   11|
|      87|   83|
|     343|    8|
|     171|   13|
|     273|   30|
|      51|    5|
|     194|   55|
|     277|   20|
|     331|    4|
|     391|    1|
|     129|  116|
|     166|   12|
|      69|   10|
|      97|   65|
|     264|   15|
|     239|   15|
|     312|    7|
|     234|   12|
|     389|    2|
|      63|    4|
|     403|    1|
|      77|   31|
|     102|   81|
|     361|    3|
|      50|    1|
|     293|   11|
|     267|   24|
|      45|    2|
|     216|   30|
|      38|   30|
|     261|   17|
|     320|    9|
|     181|   13|
|      82|   80|
|     249|   15|
|     364|    3|
|     167|   19|
|     288|   19|
|      80|   69|
|     289|    9|
|     240|    8|
|     356|    3|
|     245|   11|
|      25|   10|
|      73|   11|
|     113|   70|
|     237|   10|
|     160|   13|
|      24|    4|
|      70|   10|
|     121|  113|
|     125|  114|
|     396|    1|
|      62|    2|
|     156|   18|
|     351|    4|
|     143|   43|
|     219|   29|
|      95|   73|
|      29|   35|
|     226|   19|
|     214|   38|
|     323|    5|
|     335|    4|
|     338|   17|
|     352|    3|
|      98|   85|
|     195|   54|
|     256|   18|
|     287|   21|
|     345|    5|
|      90|   71|
|      32|   35|
|      60|    7|
|     371|    2|
|      75|   20|
|     382|    1|
|     203|   53|
|     265|   13|
|     221|   22|
|     151|   18|
|     141|   47|
|     341|    8|
|     334|   11|
|     145|   25|
|     200|   53|
|     272|   18|
|     109|   51|
|     378|    5|
|     254|   15|
|     228|   15|
|     213|   27|
|     303|    3|
|     170|   12|
|     354|    1|
|     304|    7|
|     105|   81|
|     298|    7|
|     370|    1|
|     188|   29|
|      58|    1|
|     204|   56|
|      33|   40|
|      83|   78|
|     110|   72|
|     150|   22|
|     369|    1|
|     106|   87|
|      68|   13|
|      71|   12|
|     260|   21|
|     147|   37|
|     116|   95|
|     198|   58|
|     317|    3|
|     344|    4|
|     349|   10|
|     342|   10|
|     123|  114|
|     373|    4|
|     379|    2|
|     199|   55|
|     284|    9|
|     158|   12|
|     270|   21|
|     242|   20|
|     135|   81|
|     248|   17|
|     119|  102|
|      42|   12|
|     337|    9|
|      79|   55|
|     201|   56|
|     131|   94|
|     149|   17|
|     276|   22|
|     365|    2|
|     294|   13|
|     357|    5|
|     118|  102|
|     124|  119|
|     281|   28|
|      30|   27|
|      99|   78|
|     184|   25|
|     302|    9|
|     313|    4|
|      66|   10|
|     275|   24|
|     186|   30|
|      67|   10|
|     282|   19|
|      46|    1|
|     311|    6|
|     174|   23|
|     215|   34|
|     172|   14|
|     252|   16|
|     399|    1|
|     144|   46|
|     153|   15|
|     138|   69|
|      74|   19|
|     104|   87|
|     180|   32|
|     134|   88|
|      36|   40|
|     208|   37|
|     187|   32|
|     315|   10|
|      89|   55|
+--------+-----+

## Pergunta 11

In [44]:
# Transforma a coluna dep_datetime em segundos com a função unix_timestamp e soma com a coluna air_time
# transformada em segundos, transformando novamente em timestamp depois
df_flights = df_flights.withColumn('sum',
(F.unix_timestamp("dep_datetime") +
(F.col('air_time') * 60).cast('int')).cast('timestamp'))



# Verifica aonde a coluna arr_time está nulo e troca o valor
df_flights = df_flights.withColumn('arr_time',
F.when(F.col('arr_time') == 'NA', F.format_string('%d%d', F.hour(F.col('sum')),
F.minute(F.col('sum'))))
.otherwise(F.col('arr_time')))



# Remove a coluna sum
df_flights = df_flights.drop('sum')



df_flights.toPandas()

,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,dep_datetime,air_time_projected,air_time_expected
0,658,-7,935,-5,VX,N846VA,1780,SEA,LAX,132,954,2014-12-08 06:58:00,115,126
1,1040,5,1505,5,AS,N559AS,851,SEA,HNL,360,2677,2014-01-22 10:40:00,287,343
2,1443,-2,1652,2,VX,N847VA,755,SEA,SFO,111,679,2014-03-09 14:43:00,87,101
3,1705,45,1839,34,WN,N360SW,344,PDX,SJC,83,569,2014-04-09 17:05:00,76,85
4,754,-1,1015,1,AS,N612AS,522,SEA,BUR,127,937,2014-03-09 07:54:00,113,122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1806,-4,2104,-6,OO,N225AG,3458,SEA,SLC,89,689,2014-06-23 18:06:00,88,88
9996,2336,11,452,-13,AA,N3LEAA,1230,SEA,DFW,178,1660,2014-08-31 23:36:00,186,195
9997,904,-1,1042,-5,AS,N523AS,360,SEA,SMF,81,605,2014-08-08 09:04:00,80,82
9998,1441,26,1820,10,WN,N8647A,2857,SEA,ABQ,133,1180,2014-08-29 14:41:00,138,142
9999,1702,-3,1950,-10,DL,N583NW,2237,SEA,HNL,332,2677,2014-07-13 17:02:00,287,343

## Pergunta 12

In [45]:
df_flights = df_flights.withColumn("haul_duration",
                     F.when(F.col('air_time').between(20,180), "SHORT-HAUL")
                     .when(F.col('air_time').between(180,360), "MEDIUM-HAUL")
                     .when(F.col('air_time') > 360, "LONG-HAUL")
                     .otherwise(None))

df_flights.show()

df_flights.groupBy('haul_duration').count().distinct().show(1000)

+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+-------------------+------------------+-----------------+-------------+
|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|       dep_datetime|air_time_projected|air_time_expected|haul_duration|
+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+-------------------+------------------+-----------------+-------------+
|     658|       -7|     935|       -5|     VX| N846VA|  1780|   SEA| LAX|     132|     954|2014-12-08 06:58:00|               115|              126|   SHORT-HAUL|
|    1040|        5|    1505|        5|     AS| N559AS|   851|   SEA| HNL|     360|    2677|2014-01-22 10:40:00|               287|              343|  MEDIUM-HAUL|
|    1443|       -2|    1652|        2|     VX| N847VA|   755|   SEA| SFO|     111|     679|2014-03-09 14:43:00|                87|              101|   SHORT-HAUL|
|    1705|       45|    1839|       34|     WN| N360SW|   344|   PDX| SJC|      83|     569|2014-04-09 17:05:00|                76|               85|   SHORT-HAUL|
|     754|       -1|    1015|        1|     AS| N612AS|   522|   SEA| BUR|     127|     937|2014-03-09 07:54:00|               113|              122|   SHORT-HAUL|
|    1037|        7|    1352|        2|     WN| N646SW|    48|   PDX| DEN|     121|     991|2014-01-15 10:37:00|               119|              123|   SHORT-HAUL|
|     847|       42|    1041|       51|     WN| N422WN|  1520|   PDX| OAK|      90|     543|2014-07-02 08:47:00|                74|               81|   SHORT-HAUL|
|    1655|       -5|    1842|      -18|     VX| N361VA|   755|   SEA| SFO|      98|     679|2014-05-12 16:55:00|                87|              101|   SHORT-HAUL|
|    1236|       -4|    1508|       -7|     AS| N309AS|   490|   SEA| SAN|     135|    1050|2014-04-19 12:36:00|               125|              137|   SHORT-HAUL|
|    1812|       -3|    2352|       -4|     AS| N564AS|    26|   SEA| ORD|     198|    1721|2014-11-19 18:12:00|               192|              202|  MEDIUM-HAUL|
|    1653|       -2|    1924|       -1|     AS| N323AS|   448|   SEA| LAX|     130|     954|2014-11-08 16:53:00|               115|              126|   SHORT-HAUL|
|    1120|        0|    1415|        2|     AS| N305AS|   656|   SEA| PHX|     154|    1107|2014-08-03 11:20:00|               130|              141|   SHORT-HAUL|
|     811|       21|    1038|       29|     AS| N433AS|   608|   SEA| LAS|     127|     867|2014-10-30 08:11:00|               106|              118|   SHORT-HAUL|
|    2346|       -4|     217|      -28|     AS| N765AS|   121|   SEA| ANC|     183|    1448|2014-11-12 23:46:00|               164|              190|  MEDIUM-HAUL|
|    1314|       89|    1544|      111|     AS| N713AS|   306|   SEA| SFO|     129|     679|2014-10-31 13:14:00|                87|              101|   SHORT-HAUL|
|    2009|        3|    2159|        9|     UA| N27205|  1458|   PDX| SFO|      90|     550|2014-01-29 20:09:00|                75|               85|   SHORT-HAUL|
|    2015|       50|    2150|       41|     AS| N626AS|   368|   SEA| SMF|      76|     605|2014-12-17 20:15:00|                80|               82|   SHORT-HAUL|
|    1017|       -3|    1613|       -7|     WN| N8634A|   827|   SEA| MDW|     216|    1733|2014-08-11 10:17:00|               193|              214|  MEDIUM-HAUL|
|    2156|       -9|     607|      -15|     AS| N597AS|    24|   SEA| BOS|     290|    2496|2014-01-13 21:56:00|               269|              286|  MEDIUM-HAUL|
|    1733|      -12|    1945|      -10|     OO| N215AG|  3488|   PDX| BUR|     111|     817|2014-06-05 17:33:00|               101|              108|   SHORT-HAUL|
+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+-------------------+------------------+-----------------+-------------+
only showing top 20 rows

+-------------+-----+
|haul_duration|count|
+-------------+-----+
|    LONG-HAUL|   54|
|  MEDIUM-HAUL| 3254|
|   SHORT-HAUL| 6692|
+-------------+-----+

## Pergunta 13

In [46]:
df_flights = df_flights.withColumn('dep_season',
                     F.when(F.col('dep_datetime').between('2013-12-21 21:48:00','2014-03-20 15:33:00'), "WINTER")
                      .when(F.col('dep_datetime').between('2014-03-20 15:33:00','2014-06-21 10:14:00'), "SPRING")
                      .when(F.col('dep_datetime').between('2014-06-21 10:14:00','2014-09-23 02:04:00'), "SUMMER")
                      .when(F.col('dep_datetime').between('2014-09-23 02:04:00','2014-12-21 21:48:00'), "FALL")
                      .when(F.col('dep_datetime').between('2014-12-21 21:48:00','2015-03-20 15:33:00'), 'WINTER')
                      .otherwise(None))

df_flights.show()

df_flights.groupBy('dep_season').count().distinct().show(1000)

df_flights.filter(F.col('dep_season').isNull()).show()

+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+-------------------+------------------+-----------------+-------------+----------+
|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|       dep_datetime|air_time_projected|air_time_expected|haul_duration|dep_season|
+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+-------------------+------------------+-----------------+-------------+----------+
|     658|       -7|     935|       -5|     VX| N846VA|  1780|   SEA| LAX|     132|     954|2014-12-08 06:58:00|               115|              126|   SHORT-HAUL|      FALL|
|    1040|        5|    1505|        5|     AS| N559AS|   851|   SEA| HNL|     360|    2677|2014-01-22 10:40:00|               287|              343|  MEDIUM-HAUL|    WINTER|
|    1443|       -2|    1652|        2|     VX| N847VA|   755|   SEA| SFO|     111|     679|2014-03-09 14:43:00|                87|              101|   SHORT-HAUL|    WINTER|
|    1705|       45|    1839|       34|     WN| N360SW|   344|   PDX| SJC|      83|     569|2014-04-09 17:05:00|                76|               85|   SHORT-HAUL|    SPRING|
|     754|       -1|    1015|        1|     AS| N612AS|   522|   SEA| BUR|     127|     937|2014-03-09 07:54:00|               113|              122|   SHORT-HAUL|    WINTER|
|    1037|        7|    1352|        2|     WN| N646SW|    48|   PDX| DEN|     121|     991|2014-01-15 10:37:00|               119|              123|   SHORT-HAUL|    WINTER|
|     847|       42|    1041|       51|     WN| N422WN|  1520|   PDX| OAK|      90|     543|2014-07-02 08:47:00|                74|               81|   SHORT-HAUL|    SUMMER|
|    1655|       -5|    1842|      -18|     VX| N361VA|   755|   SEA| SFO|      98|     679|2014-05-12 16:55:00|                87|              101|   SHORT-HAUL|    SPRING|
|    1236|       -4|    1508|       -7|     AS| N309AS|   490|   SEA| SAN|     135|    1050|2014-04-19 12:36:00|               125|              137|   SHORT-HAUL|    SPRING|
|    1812|       -3|    2352|       -4|     AS| N564AS|    26|   SEA| ORD|     198|    1721|2014-11-19 18:12:00|               192|              202|  MEDIUM-HAUL|      FALL|
|    1653|       -2|    1924|       -1|     AS| N323AS|   448|   SEA| LAX|     130|     954|2014-11-08 16:53:00|               115|              126|   SHORT-HAUL|      FALL|
|    1120|        0|    1415|        2|     AS| N305AS|   656|   SEA| PHX|     154|    1107|2014-08-03 11:20:00|               130|              141|   SHORT-HAUL|    SUMMER|
|     811|       21|    1038|       29|     AS| N433AS|   608|   SEA| LAS|     127|     867|2014-10-30 08:11:00|               106|              118|   SHORT-HAUL|      FALL|
|    2346|       -4|     217|      -28|     AS| N765AS|   121|   SEA| ANC|     183|    1448|2014-11-12 23:46:00|               164|              190|  MEDIUM-HAUL|      FALL|
|    1314|       89|    1544|      111|     AS| N713AS|   306|   SEA| SFO|     129|     679|2014-10-31 13:14:00|                87|              101|   SHORT-HAUL|      FALL|
|    2009|        3|    2159|        9|     UA| N27205|  1458|   PDX| SFO|      90|     550|2014-01-29 20:09:00|                75|               85|   SHORT-HAUL|    WINTER|
|    2015|       50|    2150|       41|     AS| N626AS|   368|   SEA| SMF|      76|     605|2014-12-17 20:15:00|                80|               82|   SHORT-HAUL|      FALL|
|    1017|       -3|    1613|       -7|     WN| N8634A|   827|   SEA| MDW|     216|    1733|2014-08-11 10:17:00|               193|              214|  MEDIUM-HAUL|    SUMMER|
|    2156|       -9|     607|      -15|     AS| N597AS|    24|   SEA| BOS|     290|    2496|2014-01-13 21:56:00|               269|              286|  MEDIUM-HAUL|    WINTER|
|    1733|      -12|    1945|      -10|     OO| N215AG|  3488|   PDX| BUR|     111|     817|2014-06-05 17:33:00|               101|              108|   SHORT-HAUL|    SPRING|
+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+-------------------+------------------+-----------------+-------------+----------+
only showing top 20 rows

+----------+-----+
|dep_season|count|
+----------+-----+
|    WINTER| 1883|
|    SPRING| 2560|
|      FALL| 2639|
|    SUMMER| 2918|
+----------+-----+

+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+------------+------------------+-----------------+-------------+----------+
|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|dep_datetime|air_time_projected|air_time_expected|haul_duration|dep_season|
+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+------------+------------------+-----------------+-------------+----------+
+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+------------+------------------+-----------------+-------------+----------+

## Pergunta 14

In [47]:
df_flights = df_flights.withColumn('dep_delay_category',
                     F.when(F.col('dep_delay') < 0, "ANTECIPATED")
                     .when(F.col('dep_delay') == 0, "INTIME")
                     .when(F.col('dep_delay').between(1,59),"MINOR")
                     .when(F.col('dep_delay') >= 60, "MAJOR")
                     .otherwise(None))

In [48]:
df_flights.show()

+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+-------------------+------------------+-----------------+-------------+----------+------------------+
|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|       dep_datetime|air_time_projected|air_time_expected|haul_duration|dep_season|dep_delay_category|
+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+-------------------+------------------+-----------------+-------------+----------+------------------+
|     658|       -7|     935|       -5|     VX| N846VA|  1780|   SEA| LAX|     132|     954|2014-12-08 06:58:00|               115|              126|   SHORT-HAUL|      FALL|       ANTECIPATED|
|    1040|        5|    1505|        5|     AS| N559AS|   851|   SEA| HNL|     360|    2677|2014-01-22 10:40:00|               287|              343|  MEDIUM-HAUL|    WINTER|             MINOR|
|    1443|       -2|    1652|        2|     VX| N847VA|   755|   SEA| SFO|     111|     679|2014-03-09 14:43:00|                87|              101|   SHORT-HAUL|    WINTER|       ANTECIPATED|
|    1705|       45|    1839|       34|     WN| N360SW|   344|   PDX| SJC|      83|     569|2014-04-09 17:05:00|                76|               85|   SHORT-HAUL|    SPRING|             MINOR|
|     754|       -1|    1015|        1|     AS| N612AS|   522|   SEA| BUR|     127|     937|2014-03-09 07:54:00|               113|              122|   SHORT-HAUL|    WINTER|       ANTECIPATED|
|    1037|        7|    1352|        2|     WN| N646SW|    48|   PDX| DEN|     121|     991|2014-01-15 10:37:00|               119|              123|   SHORT-HAUL|    WINTER|             MINOR|
|     847|       42|    1041|       51|     WN| N422WN|  1520|   PDX| OAK|      90|     543|2014-07-02 08:47:00|                74|               81|   SHORT-HAUL|    SUMMER|             MINOR|
|    1655|       -5|    1842|      -18|     VX| N361VA|   755|   SEA| SFO|      98|     679|2014-05-12 16:55:00|                87|              101|   SHORT-HAUL|    SPRING|       ANTECIPATED|
|    1236|       -4|    1508|       -7|     AS| N309AS|   490|   SEA| SAN|     135|    1050|2014-04-19 12:36:00|               125|              137|   SHORT-HAUL|    SPRING|       ANTECIPATED|
|    1812|       -3|    2352|       -4|     AS| N564AS|    26|   SEA| ORD|     198|    1721|2014-11-19 18:12:00|               192|              202|  MEDIUM-HAUL|      FALL|       ANTECIPATED|
|    1653|       -2|    1924|       -1|     AS| N323AS|   448|   SEA| LAX|     130|     954|2014-11-08 16:53:00|               115|              126|   SHORT-HAUL|      FALL|       ANTECIPATED|
|    1120|        0|    1415|        2|     AS| N305AS|   656|   SEA| PHX|     154|    1107|2014-08-03 11:20:00|               130|              141|   SHORT-HAUL|    SUMMER|            INTIME|
|     811|       21|    1038|       29|     AS| N433AS|   608|   SEA| LAS|     127|     867|2014-10-30 08:11:00|               106|              118|   SHORT-HAUL|      FALL|             MINOR|
|    2346|       -4|     217|      -28|     AS| N765AS|   121|   SEA| ANC|     183|    1448|2014-11-12 23:46:00|               164|              190|  MEDIUM-HAUL|      FALL|       ANTECIPATED|
|    1314|       89|    1544|      111|     AS| N713AS|   306|   SEA| SFO|     129|     679|2014-10-31 13:14:00|                87|              101|   SHORT-HAUL|      FALL|             MAJOR|
|    2009|        3|    2159|        9|     UA| N27205|  1458|   PDX| SFO|      90|     550|2014-01-29 20:09:00|                75|               85|   SHORT-HAUL|    WINTER|             MINOR|
|    2015|       50|    2150|       41|     AS| N626AS|   368|   SEA| SMF|      76|     605|2014-12-17 20:15:00|                80|               82|   SHORT-HAUL|      FALL|             MINOR|
|    1017|       -3|    1613|       -7|     WN| N8634A|   827|   SEA| MDW|     216|    1733|2014-08-11 10:17:00|               193|              214|  MEDIUM-HAUL|    SUMMER|       ANTECIPATED|
|    2156|       -9|     607|      -15|     AS| N597AS|    24|   SEA| BOS|     290|    2496|2014-01-13 21:56:00|               269|              286|  MEDIUM-HAUL|    WINTER|       ANTECIPATED|
|    1733|      -12|    1945|      -10|     OO| N215AG|  3488|   PDX| BUR|     111|     817|2014-06-05 17:33:00|               101|              108|   SHORT-HAUL|    SPRING|       ANTECIPATED|
+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+-------------------+------------------+-----------------+-------------+----------+------------------+
only showing top 20 rows

### Criando os parquets

In [49]:
(df_airports.select('faa','name', 'lat', 'lon', 'alt', 'tz', 'dst', 'region', 'type', 'military', 'administration')
            .repartition(1) # coalesce
            .write.format("parquet")
            .mode('overwrite')
            .option("header", "true")
            .save("airports_proc.parquet"))

In [50]:
(df_planes.select('tailnum', 'year','type', 'manufacturer', 'model', 'engines', 'seats', 'speed', 'engine', 'tailchar', 'age', 'engine_type')
            .repartition(1) # coalesce
            .write.format("parquet")
            .mode('overwrite')
            .option("header", "true")
            .save('planes_proc.parquet'))

In [52]:
(df_flights.select(df_flights.columns)
            .repartition(1) # coalesce
            .write.format("parquet")
            .mode('overwrite')
            .option("header", "true")
            .save('flights_proc.parquet'))