In [1]:
!pip install pyspark
!pip install findspark

Requirement already satisfied: pyspark in c:\users\lcampos\anaconda3\lib\site-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in c:\users\lcampos\anaconda3\lib\site-packages (from pyspark) (0.10.9.3)
Requirement already satisfied: findspark in c:\users\lcampos\anaconda3\lib\site-packages (2.0.1)

In [2]:
import findspark
findspark.init()

In [3]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType

In [4]:
# Criar o contexto do spark
sc = SparkContext()

# Instancia o criador de sessao do spark
spark = (SparkSession.builder
                     .master("local[7]")
                     .appName("Aceleração PySpark - Capgemini"))

In [5]:
df_airports_quality = (spark.getOrCreate().read
                  .format("parquet")
                  .option("header", "true")                  
                  .load("airports_qa.parquet"))

df_planes_quality = (spark.getOrCreate().read
                  .format("parquet")
                  .option("header", "true")                  
                  .load("planes_qa.parquet"))

df_flights_quality = (spark.getOrCreate().read
                  .format("parquet")
                  .option("header", "true")                  
                  .load("flights_qa.parquet"))

df_airports_proc = (spark.getOrCreate().read
                  .format("parquet")
                  .option("header", "true")                  
                  .load("airports_proc.parquet"))

df_planes_proc = (spark.getOrCreate().read
                  .format("parquet")
                  .option("header", "true")                  
                  .load("planes_proc.parquet"))

df_flights_proc = (spark.getOrCreate().read
                  .format("parquet")
                  .option("header", "true")                  
                  .load("flights_proc.parquet"))

# Perguntas para Qualidade

## Pergunta 1

In [6]:
# Renomeando as colunas que geram duplicações de nome

df_airports_quality_original = df_airports_quality

for i in df_airports_quality.columns:
    df_airports_quality = df_airports_quality.withColumnRenamed(i,i+"_origin")

df_planes_quality = (df_planes_quality.withColumnRenamed('qa_tailnum', 'qa_tailnum_planes')
                                      .withColumnRenamed('tailnum', 'tailnum_planes'))

df_flights_quality = (df_flights_quality.withColumnRenamed('qa_tailnum', 'qa_tailnum_flights')
                                        .withColumnRenamed('tailnum', 'tailnum_flights'))

In [7]:
# Primeiro join

df_quality = df_flights_quality.join(df_airports_quality, (df_airports_quality.faa_origin == df_flights_quality.origin), "left")

df_quality.toPandas()

,tailnum_flights,dest,origin,qa_tailnum_flights,qa_year_month_day,qa_hour_minute,qa_dep_arr,qa_dep_arr_delay,qa_carrier,qa_flight,...,qa_distance,qa_distance_airtime,faa_origin,qa_faa_origin,qa_name_origin,qa_lat_origin,qa_lon_origin,qa_alt_origin,qa_tz_origin,qa_dst_origin
0,N846VA,LAX,SEA,None,None,None,None,None,None,None,...,None,TL,SEA,None,None,None,None,None,None,None
1,N559AS,HNL,SEA,None,None,None,None,None,None,F,...,None,TL,SEA,None,None,None,None,None,None,None
2,N847VA,SFO,SEA,None,None,None,None,None,None,F,...,None,TL,SEA,None,None,None,None,None,None,None
3,N360SW,SJC,PDX,None,None,None,None,None,None,F,...,None,TR,PDX,None,None,None,None,None,None,None
4,N612AS,BUR,SEA,None,None,None,None,None,None,F,...,None,TL,SEA,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,N225AG,SLC,SEA,None,None,None,None,None,None,None,...,None,TR,SEA,None,None,None,None,None,None,None
9996,N3LEAA,DFW,SEA,F,None,None,None,None,None,None,...,None,TR,SEA,None,None,None,None,None,None,None
9997,N523AS,SMF,SEA,None,None,None,None,None,None,F,...,None,TR,SEA,None,None,None,None,None,None,None
9998,N8647A,ABQ,SEA,None,None,None,None,None,None,None,...,None,TR,SEA,None,None,None,None,None,None,None
9999,N583NW,HNL,SEA,None,None,None,None,None,None,None,...,None,TL,SEA,None,None,None,None,None,None,None

In [8]:
# Mudando o nome das colunas do df_airports_quality

df_airports_quality = df_airports_quality_original

for i in df_airports_quality.columns:
    df_airports_quality = df_airports_quality.withColumnRenamed(i,i+"_dest")

In [9]:
# Segundo join

df_quality = df_quality.join(df_airports_quality, (df_airports_quality.faa_dest == df_flights_quality.dest), "left")

df_quality.toPandas()

,tailnum_flights,dest,origin,qa_tailnum_flights,qa_year_month_day,qa_hour_minute,qa_dep_arr,qa_dep_arr_delay,qa_carrier,qa_flight,...,qa_tz_origin,qa_dst_origin,faa_dest,qa_faa_dest,qa_name_dest,qa_lat_dest,qa_lon_dest,qa_alt_dest,qa_tz_dest,qa_dst_dest
0,N846VA,LAX,SEA,None,None,None,None,None,None,None,...,None,None,LAX,None,None,None,None,None,None,None
1,N559AS,HNL,SEA,None,None,None,None,None,None,F,...,None,None,HNL,None,None,None,None,None,None,None
2,N847VA,SFO,SEA,None,None,None,None,None,None,F,...,None,None,SFO,None,None,None,None,None,None,None
3,N360SW,SJC,PDX,None,None,None,None,None,None,F,...,None,None,SJC,None,None,None,None,None,None,None
4,N612AS,BUR,SEA,None,None,None,None,None,None,F,...,None,None,BUR,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,N225AG,SLC,SEA,None,None,None,None,None,None,None,...,None,None,SLC,None,None,None,None,None,None,None
9996,N3LEAA,DFW,SEA,F,None,None,None,None,None,None,...,None,None,DFW,None,None,None,None,None,None,None
9997,N523AS,SMF,SEA,None,None,None,None,None,None,F,...,None,None,SMF,None,None,None,None,None,None,None
9998,N8647A,ABQ,SEA,None,None,None,None,None,None,None,...,None,None,ABQ,None,None,None,None,None,None,None
9999,N583NW,HNL,SEA,None,None,None,None,None,None,None,...,None,None,HNL,None,None,None,None,None,None,None

In [10]:
# Terceiro join

df_quality = df_quality.join(df_planes_quality, df_planes_quality.tailnum_planes == df_quality.tailnum_flights,"left")


df_quality.toPandas()

,tailnum_flights,dest,origin,qa_tailnum_flights,qa_year_month_day,qa_hour_minute,qa_dep_arr,qa_dep_arr_delay,qa_carrier,qa_flight,...,tailnum_planes,qa_tailnum_planes,qa_year,qa_type,qa_manufacturer,qa_model,qa_engines,qa_seats,qa_speed,qa_engine
0,N846VA,LAX,SEA,None,None,None,None,None,None,None,...,N846VA,None,None,None,None,None,None,None,M,None
1,N559AS,HNL,SEA,None,None,None,None,None,None,F,...,N559AS,None,None,None,None,None,None,None,M,None
2,N847VA,SFO,SEA,None,None,None,None,None,None,F,...,N847VA,None,None,None,None,None,None,None,M,None
3,N360SW,SJC,PDX,None,None,None,None,None,None,F,...,N360SW,None,None,None,None,None,None,None,M,None
4,N612AS,BUR,SEA,None,None,None,None,None,None,F,...,N612AS,None,None,None,None,None,None,None,M,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,N225AG,SLC,SEA,None,None,None,None,None,None,None,...,N225AG,None,None,None,C,None,None,None,M,None
9996,N3LEAA,DFW,SEA,F,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
9997,N523AS,SMF,SEA,None,None,None,None,None,None,F,...,N523AS,None,None,None,None,None,None,None,M,None
9998,N8647A,ABQ,SEA,None,None,None,None,None,None,None,...,N8647A,None,None,None,None,None,None,None,M,None
9999,N583NW,HNL,SEA,None,None,None,None,None,None,None,...,N583NW,None,None,None,None,None,None,None,M,None

## Pergunta 2

In [11]:
# Remove colunas que não vão ser utilizadas (chaves)

df_quality = df_quality.drop('tailnum_flights', 'origin', 'dest', 'faa_origin', 'faa_dest', 'tailnum_planes')

# Gera leitura das colunas _qa
for c in df_quality.columns:
    df_quality.groupBy(c).count().show()

+------------------+-----+
|qa_tailnum_flights|count|
+------------------+-----+
|                 F|  987|
|              null| 8997|
|                 M|   14|
|                FN|    2|
+------------------+-----+

+-----------------+-----+
|qa_year_month_day|count|
+-----------------+-----+
|             null|10000|
+-----------------+-----+

+--------------+-----+
|qa_hour_minute|count|
+--------------+-----+
|          null| 9952|
|            MH|   48|
+--------------+-----+

+----------+-----+
|qa_dep_arr|count|
+----------+-----+
|      null| 9704|
|        MD|   48|
|        FA|  151|
|        MA|    7|
|        FD|   90|
+----------+-----+

+----------------+-----+
|qa_dep_arr_delay|count|
+----------------+-----+
|            null| 9925|
|              MD|   48|
|              MA|   27|
+----------------+-----+

+----------+-----+
|qa_carrier|count|
+----------+-----+
|      null|10000|
+----------+-----+

+---------+-----+
|qa_flight|count|
+---------+-----+
|        F| 6158|
|     null| 3842|
+---------+-----+

+--------------+-----+
|qa_origin_dest|count|
+--------------+-----+
|          null|10000|
+--------------+-----+

+-----------+-----+
|qa_air_time|count|
+-----------+-----+
|       null| 9925|
|          M|   75|
+-----------+-----+

+-----------+-----+
|qa_distance|count|
+-----------+-----+
|       null|10000|
+-----------+-----+

+-------------------+-----+
|qa_distance_airtime|count|
+-------------------+-----+
|                  M|   75|
|                 TR| 4831|
|                 TS|   67|
|                 TL| 5027|
+-------------------+-----+

+-------------+-----+
|qa_faa_origin|count|
+-------------+-----+
|         null|10000|
+-------------+-----+

+--------------+-----+
|qa_name_origin|count|
+--------------+-----+
|          null|10000|
+--------------+-----+

+-------------+-----+
|qa_lat_origin|count|
+-------------+-----+
|         null|10000|
+-------------+-----+

+-------------+-----+
|qa_lon_origin|count|
+-------------+-----+
|         null|10000|
+-------------+-----+

+-------------+-----+
|qa_alt_origin|count|
+-------------+-----+
|         null|10000|
+-------------+-----+

+------------+-----+
|qa_tz_origin|count|
+------------+-----+
|        null|10000|
+------------+-----+

+-------------+-----+
|qa_dst_origin|count|
+-------------+-----+
|         null|10000|
+-------------+-----+

+-----------+-----+
|qa_faa_dest|count|
+-----------+-----+
|       null|10000|
+-----------+-----+

+------------+-----+
|qa_name_dest|count|
+------------+-----+
|        null|10000|
+------------+-----+

+-----------+-----+
|qa_lat_dest|count|
+-----------+-----+
|       null|10000|
+-----------+-----+

+-----------+-----+
|qa_lon_dest|count|
+-----------+-----+
|       null|10000|
+-----------+-----+

+-----------+-----+
|qa_alt_dest|count|
+-----------+-----+
|       null|10000|
+-----------+-----+

+----------+-----+
|qa_tz_dest|count|
+----------+-----+
|      null|10000|
+----------+-----+

+-----------+-----+
|qa_dst_dest|count|
+-----------+-----+
|       null|10000|
+-----------+-----+

+-----------------+-----+
|qa_tailnum_planes|count|
+-----------------+-----+
|                F|  552|
|             null| 9448|
+-----------------+-----+

+-------+-----+
|qa_year|count|
+-------+-----+
|   null| 9898|
|      M|   94|
|      I|    8|
+-------+-----+

+-------+-----+
|qa_type|count|
+-------+-----+
|   null|10000|
+-------+-----+

+---------------+-----+
|qa_manufacturer|count|
+---------------+-----+
|           null| 8356|
|              C| 1644|
+---------------+-----+

+--------+-----+
|qa_model|count|
+--------+-----+
|       F|    9|
|    null| 9991|
+--------+-----+

+----------+-----+
|qa_engines|count|
+----------+-----+
|      null|10000|
+----------+-----+

+--------+-----+
|qa_seats|count|
+--------+-----+
|    null|10000|
+--------+-----+

+--------+-----+
|qa_speed|count|
+--------+-----+
|    null|  557|
|       M| 9443|
+--------+-----+

+---------+-----+
|qa_engine|count|
+---------+-----+
|     null| 9993|
|        C|    7|
+---------+-----+

In [12]:
#Modo automatizado

dicionario_colunas = {'F':[], 'M':[], 'I':[], 'S':[], 'T':[], 'C':[], 'Nulos':[]}

for c in df_quality.columns:
    linha = df_quality.groupBy(F.substring(c, 1, 1).alias(c)).count().collect()
        
    for n in range(len(linha)):
        clas = linha[n][0]

        if clas == 'M':
            dicionario_colunas['M'] = dicionario_colunas['M'] + [((c, linha[n][1]))]

        elif clas == 'F':
            dicionario_colunas['F'] = dicionario_colunas['F'] + [((c, linha[n][1]))]

        elif clas == 'I':
            dicionario_colunas['I'] = dicionario_colunas['I'] + [((c, linha[n][1]))]

        elif clas == 'S':
            dicionario_colunas['S'] = dicionario_colunas['S'] + [((c, linha[n][1]))]

        elif clas == 'T':
            dicionario_colunas['T'] = dicionario_colunas['T'] + [((c, linha[n][1]))]

        elif clas == 'C':
            dicionario_colunas['C']= dicionario_colunas['C'] + [((c, linha[n][1]))]

        elif clas == 'None':
            dicionario_colunas['Nulos']= dicionario_colunas['Nulos'] + [((c, linha[n][1]))]
         


def maior_valor(chave):
    valor = 0
    for i in range(len(dicionario_colunas[chave])):
        if dicionario_colunas[chave][i][1] > valor:
            valor = dicionario_colunas[chave][i][1]
            coluna = dicionario_colunas[chave][i][0]
            
    return coluna, valor

## Pergunta 3

In [13]:
maior_valor('M')

('qa_speed', 9443)

## Pergunta 4

In [14]:
maior_valor('F')

('qa_flight', 6158)

## Pergunta 5

In [15]:
maior_valor('I')

('qa_year', 8)

# Perguntas para negócios

## Pergunta 1

In [16]:
airports_original = df_airports_proc

airports_original.show()

+---+--------------------+---------+-----------+----+---+---+-------------+----+--------+--------------+
|faa|                name|      lat|        lon| alt| tz|dst|       region|type|military|administration|
+---+--------------------+---------+-----------+----+---+---+-------------+----+--------+--------------+
|04G|   Lansdowne Airport|41.130474|  -80.61958|1044| -5|  A|MAINLAND-EAST|  AP|   false|           NaN|
|06A|Moton Field Munic...| 32.46057|  -85.68003| 264| -5|  A|MAINLAND-EAST|  AP|   false|             M|
|06C| Schaumburg Regional| 41.98934|  -88.10124| 801| -6|  A|MAINLAND-EAST| NaN|   false|             R|
|06N|     Randall Airport| 41.43191|  -74.39156| 523| -5|  A|MAINLAND-EAST|  AP|   false|           NaN|
|09J|Jekyll Island Air...|31.074472|  -81.42778|  11| -4|  A|MAINLAND-EAST|  AP|   false|           NaN|
|0A9|Elizabethton Muni...|36.371223| -82.173416|1593| -4|  A|MAINLAND-EAST|  AP|   false|             M|
|0G6|Williams County A...|41.467304| -84.506775| 730| -5|  A|MAINLAND-EAST|  AP|   false|             R|
|0G7|Finger Lakes Regi...|42.883564| -76.781235| 492| -5|  A|MAINLAND-EAST|  AP|   false|             R|
|0P2|Shoestring Aviati...|39.794823| -76.647194|1000| -5|  A|MAINLAND-EAST| NaN|   false|           NaN|
|0S9|Jefferson County ...| 48.05381|-122.810646| 108| -8|  A|MAINLAND-WEST| NaN|   false|             I|
|0W3|Harford County Ai...|39.566837|   -76.2024| 409| -5|  A|MAINLAND-EAST|  AP|   false|             R|
|10C|  Galt Field Airport| 42.40289| -88.375114| 875| -6|  A|MAINLAND-EAST|  AP|   false|           NaN|
|17G|Port Bucyrus-Craw...|40.781555|  -82.97481|1003| -5|  A|MAINLAND-EAST|  AP|   false|             R|
|19A|Jackson County Ai...|34.175865|   -83.5616| 951| -4|  A|MAINLAND-EAST|  AP|   false|             R|
|1A3|Martin Campbell F...|35.015804|  -84.34683|1789| -4|  A|MAINLAND-EAST|  AP|   false|           NaN|
|1B9| Mansfield Municipal|42.000134|  -71.19677| 122| -5|  A|MAINLAND-EAST| NaN|   false|             M|
|1C9|Frazier Lake Airpark|54.013332| -124.76833| 152| -8|  A|       ALASKA|  AK|   false|           NaN|
|1CS|Clow Internationa...|41.695976| -88.129234| 670| -6|  A|MAINLAND-EAST|  AP|   false|             I|
|1G3|  Kent State Airport| 41.15139|  -81.41511|1134| -4|  A|MAINLAND-EAST|  AP|   false|           NaN|
|1OH|     Fortman Airport|40.555325|  -84.38662| 885| -5|  A|MAINLAND-EAST|  AP|   false|           NaN|
+---+--------------------+---------+-----------+----+---+---+-------------+----+--------+--------------+
only showing top 20 rows

In [17]:
# Mudando nome colunas

for i in df_airports_proc.columns:
    df_airports_proc = df_airports_proc.withColumnRenamed(i,i+"_origin")
    
df_airports_proc.show()

df_flights_proc = df_flights_proc.withColumnRenamed('tailnum','tailnum_flights')

df_planes_proc = df_planes_proc.withColumnRenamed('tailnum','tailnum_planes')

+----------+--------------------+----------+-----------+----------+---------+----------+-------------+-----------+---------------+---------------------+
|faa_origin|         name_origin|lat_origin| lon_origin|alt_origin|tz_origin|dst_origin|region_origin|type_origin|military_origin|administration_origin|
+----------+--------------------+----------+-----------+----------+---------+----------+-------------+-----------+---------------+---------------------+
|       04G|   Lansdowne Airport| 41.130474|  -80.61958|      1044|       -5|         A|MAINLAND-EAST|         AP|          false|                  NaN|
|       06A|Moton Field Munic...|  32.46057|  -85.68003|       264|       -5|         A|MAINLAND-EAST|         AP|          false|                    M|
|       06C| Schaumburg Regional|  41.98934|  -88.10124|       801|       -6|         A|MAINLAND-EAST|        NaN|          false|                    R|
|       06N|     Randall Airport|  41.43191|  -74.39156|       523|       -5|         A|MAINLAND-EAST|         AP|          false|                  NaN|
|       09J|Jekyll Island Air...| 31.074472|  -81.42778|        11|       -4|         A|MAINLAND-EAST|         AP|          false|                  NaN|
|       0A9|Elizabethton Muni...| 36.371223| -82.173416|      1593|       -4|         A|MAINLAND-EAST|         AP|          false|                    M|
|       0G6|Williams County A...| 41.467304| -84.506775|       730|       -5|         A|MAINLAND-EAST|         AP|          false|                    R|
|       0G7|Finger Lakes Regi...| 42.883564| -76.781235|       492|       -5|         A|MAINLAND-EAST|         AP|          false|                    R|
|       0P2|Shoestring Aviati...| 39.794823| -76.647194|      1000|       -5|         A|MAINLAND-EAST|        NaN|          false|                  NaN|
|       0S9|Jefferson County ...|  48.05381|-122.810646|       108|       -8|         A|MAINLAND-WEST|        NaN|          false|                    I|
|       0W3|Harford County Ai...| 39.566837|   -76.2024|       409|       -5|         A|MAINLAND-EAST|         AP|          false|                    R|
|       10C|  Galt Field Airport|  42.40289| -88.375114|       875|       -6|         A|MAINLAND-EAST|         AP|          false|                  NaN|
|       17G|Port Bucyrus-Craw...| 40.781555|  -82.97481|      1003|       -5|         A|MAINLAND-EAST|         AP|          false|                    R|
|       19A|Jackson County Ai...| 34.175865|   -83.5616|       951|       -4|         A|MAINLAND-EAST|         AP|          false|                    R|
|       1A3|Martin Campbell F...| 35.015804|  -84.34683|      1789|       -4|         A|MAINLAND-EAST|         AP|          false|                  NaN|
|       1B9| Mansfield Municipal| 42.000134|  -71.19677|       122|       -5|         A|MAINLAND-EAST|        NaN|          false|                    M|
|       1C9|Frazier Lake Airpark| 54.013332| -124.76833|       152|       -8|         A|       ALASKA|         AK|          false|                  NaN|
|       1CS|Clow Internationa...| 41.695976| -88.129234|       670|       -6|         A|MAINLAND-EAST|         AP|          false|                    I|
|       1G3|  Kent State Airport|  41.15139|  -81.41511|      1134|       -4|         A|MAINLAND-EAST|         AP|          false|                  NaN|
|       1OH|     Fortman Airport| 40.555325|  -84.38662|       885|       -5|         A|MAINLAND-EAST|         AP|          false|                  NaN|
+----------+--------------------+----------+-----------+----------+---------+----------+-------------+-----------+---------------+---------------------+
only showing top 20 rows

In [18]:
# Primeiro Join

df_transformation = df_flights_proc.join(df_airports_proc, (df_airports_proc.faa_origin == df_flights_proc.origin), "left")

df_transformation.toPandas()

,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum_flights,flight,origin,dest,air_time,...,name_origin,lat_origin,lon_origin,alt_origin,tz_origin,dst_origin,region_origin,type_origin,military_origin,administration_origin
0,658,-7,935,-5,VX,N846VA,1780,SEA,LAX,132,...,Seattle Tacoma Intl,47.449001,-122.309303,433,-8,A,MAINLAND-WEST,NaN,False,I
1,1040,5,1505,5,AS,N559AS,851,SEA,HNL,360,...,Seattle Tacoma Intl,47.449001,-122.309303,433,-8,A,MAINLAND-WEST,NaN,False,I
2,1443,-2,1652,2,VX,N847VA,755,SEA,SFO,111,...,Seattle Tacoma Intl,47.449001,-122.309303,433,-8,A,MAINLAND-WEST,NaN,False,I
3,1705,45,1839,34,WN,N360SW,344,PDX,SJC,83,...,Portland Intl,45.588722,-122.597504,30,-8,A,MAINLAND-WEST,NaN,False,I
4,754,-1,1015,1,AS,N612AS,522,SEA,BUR,127,...,Seattle Tacoma Intl,47.449001,-122.309303,433,-8,A,MAINLAND-WEST,NaN,False,I
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1806,-4,2104,-6,OO,N225AG,3458,SEA,SLC,89,...,Seattle Tacoma Intl,47.449001,-122.309303,433,-8,A,MAINLAND-WEST,NaN,False,I
9996,2336,11,452,-13,AA,N3LEAA,1230,SEA,DFW,178,...,Seattle Tacoma Intl,47.449001,-122.309303,433,-8,A,MAINLAND-WEST,NaN,False,I
9997,904,-1,1042,-5,AS,N523AS,360,SEA,SMF,81,...,Seattle Tacoma Intl,47.449001,-122.309303,433,-8,A,MAINLAND-WEST,NaN,False,I
9998,1441,26,1820,10,WN,N8647A,2857,SEA,ABQ,133,...,Seattle Tacoma Intl,47.449001,-122.309303,433,-8,A,MAINLAND-WEST,NaN,False,I
9999,1702,-3,1950,-10,DL,N583NW,2237,SEA,HNL,332,...,Seattle Tacoma Intl,47.449001,-122.309303,433,-8,A,MAINLAND-WEST,NaN,False,I

In [19]:
# Mudando nome das colunas

df_airports_proc = airports_original

for i in df_airports_proc.columns:
    df_airports_proc = df_airports_proc.withColumnRenamed(i,i+"_dest")
    
df_airports_proc.show()

+--------+--------------------+---------+-----------+--------+-------+--------+-------------+---------+-------------+-------------------+
|faa_dest|           name_dest| lat_dest|   lon_dest|alt_dest|tz_dest|dst_dest|  region_dest|type_dest|military_dest|administration_dest|
+--------+--------------------+---------+-----------+--------+-------+--------+-------------+---------+-------------+-------------------+
|     04G|   Lansdowne Airport|41.130474|  -80.61958|    1044|     -5|       A|MAINLAND-EAST|       AP|        false|                NaN|
|     06A|Moton Field Munic...| 32.46057|  -85.68003|     264|     -5|       A|MAINLAND-EAST|       AP|        false|                  M|
|     06C| Schaumburg Regional| 41.98934|  -88.10124|     801|     -6|       A|MAINLAND-EAST|      NaN|        false|                  R|
|     06N|     Randall Airport| 41.43191|  -74.39156|     523|     -5|       A|MAINLAND-EAST|       AP|        false|                NaN|
|     09J|Jekyll Island Air...|31.074472|  -81.42778|      11|     -4|       A|MAINLAND-EAST|       AP|        false|                NaN|
|     0A9|Elizabethton Muni...|36.371223| -82.173416|    1593|     -4|       A|MAINLAND-EAST|       AP|        false|                  M|
|     0G6|Williams County A...|41.467304| -84.506775|     730|     -5|       A|MAINLAND-EAST|       AP|        false|                  R|
|     0G7|Finger Lakes Regi...|42.883564| -76.781235|     492|     -5|       A|MAINLAND-EAST|       AP|        false|                  R|
|     0P2|Shoestring Aviati...|39.794823| -76.647194|    1000|     -5|       A|MAINLAND-EAST|      NaN|        false|                NaN|
|     0S9|Jefferson County ...| 48.05381|-122.810646|     108|     -8|       A|MAINLAND-WEST|      NaN|        false|                  I|
|     0W3|Harford County Ai...|39.566837|   -76.2024|     409|     -5|       A|MAINLAND-EAST|       AP|        false|                  R|
|     10C|  Galt Field Airport| 42.40289| -88.375114|     875|     -6|       A|MAINLAND-EAST|       AP|        false|                NaN|
|     17G|Port Bucyrus-Craw...|40.781555|  -82.97481|    1003|     -5|       A|MAINLAND-EAST|       AP|        false|                  R|
|     19A|Jackson County Ai...|34.175865|   -83.5616|     951|     -4|       A|MAINLAND-EAST|       AP|        false|                  R|
|     1A3|Martin Campbell F...|35.015804|  -84.34683|    1789|     -4|       A|MAINLAND-EAST|       AP|        false|                NaN|
|     1B9| Mansfield Municipal|42.000134|  -71.19677|     122|     -5|       A|MAINLAND-EAST|      NaN|        false|                  M|
|     1C9|Frazier Lake Airpark|54.013332| -124.76833|     152|     -8|       A|       ALASKA|       AK|        false|                NaN|
|     1CS|Clow Internationa...|41.695976| -88.129234|     670|     -6|       A|MAINLAND-EAST|       AP|        false|                  I|
|     1G3|  Kent State Airport| 41.15139|  -81.41511|    1134|     -4|       A|MAINLAND-EAST|       AP|        false|                NaN|
|     1OH|     Fortman Airport|40.555325|  -84.38662|     885|     -5|       A|MAINLAND-EAST|       AP|        false|                NaN|
+--------+--------------------+---------+-----------+--------+-------+--------+-------------+---------+-------------+-------------------+
only showing top 20 rows

In [20]:
# Segundo Join

df_transformation = df_transformation.join(df_airports_proc, (df_airports_proc.faa_dest == df_flights_proc.dest), "left")

df_transformation.toPandas()

,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum_flights,flight,origin,dest,air_time,...,name_dest,lat_dest,lon_dest,alt_dest,tz_dest,dst_dest,region_dest,type_dest,military_dest,administration_dest
0,658,-7,935,-5,VX,N846VA,1780,SEA,LAX,132,...,Los Angeles Intl,33.942535,-118.408073,126,-8,A,MAINLAND-WEST,NaN,False,I
1,1040,5,1505,5,AS,N559AS,851,SEA,HNL,360,...,Honolulu Intl,21.318682,-157.922424,13,-10,N,ALASKA,NaN,False,I
2,1443,-2,1652,2,VX,N847VA,755,SEA,SFO,111,...,San Francisco Intl,37.618973,-122.374886,13,-8,A,MAINLAND-WEST,NaN,False,I
3,1705,45,1839,34,WN,N360SW,344,PDX,SJC,83,...,Norman Y Mineta San Jose Intl,37.362598,-121.929024,62,-8,A,MAINLAND-WEST,NaN,False,I
4,754,-1,1015,1,AS,N612AS,522,SEA,BUR,127,...,Bob Hope,34.200668,-118.358665,778,-8,A,MAINLAND-WEST,NaN,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1806,-4,2104,-6,OO,N225AG,3458,SEA,SLC,89,...,Salt Lake City Intl,40.788387,-111.977776,4227,-7,A,MAINLAND-WEST,NaN,False,I
9996,2336,11,452,-13,AA,N3LEAA,1230,SEA,DFW,178,...,Dallas Fort Worth Intl,32.896828,-97.037994,607,-6,A,MAINLAND-WEST,NaN,False,I
9997,904,-1,1042,-5,AS,N523AS,360,SEA,SMF,81,...,Sacramento Intl,38.695415,-121.590775,27,-8,A,MAINLAND-WEST,NaN,False,I
9998,1441,26,1820,10,WN,N8647A,2857,SEA,ABQ,133,...,Albuquerque International Sunport,35.040222,-106.609192,5355,-7,A,MAINLAND-WEST,NaN,False,I
9999,1702,-3,1950,-10,DL,N583NW,2237,SEA,HNL,332,...,Honolulu Intl,21.318682,-157.922424,13,-10,N,ALASKA,NaN,False,I

In [21]:
# Terceiro Join

df_transformation = df_transformation.join(df_planes_proc, df_planes_proc.tailnum_planes == df_transformation.tailnum_flights,"left")


df_transformation.toPandas()

,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum_flights,flight,origin,dest,air_time,...,type,manufacturer,model,engines,seats,speed,engine,tailchar,age,engine_type
0,658,-7,935,-5,VX,N846VA,1780,SEA,LAX,132,...,MULTI_ENG,AIRBUS,A320-214,2.0,182.0,0.0,Turbo-fan,VA,11.0,FAN
1,1040,5,1505,5,AS,N559AS,851,SEA,HNL,360,...,MULTI_ENG,BOEING,737-890,2.0,149.0,0.0,Turbo-fan,AS,16.0,FAN
2,1443,-2,1652,2,VX,N847VA,755,SEA,SFO,111,...,MULTI_ENG,AIRBUS,A320-214,2.0,182.0,0.0,Turbo-fan,VA,11.0,FAN
3,1705,45,1839,34,WN,N360SW,344,PDX,SJC,83,...,MULTI_ENG,BOEING,737-3H4,2.0,149.0,0.0,Turbo-fan,SW,30.0,FAN
4,754,-1,1015,1,AS,N612AS,522,SEA,BUR,127,...,MULTI_ENG,BOEING,737-790,2.0,151.0,0.0,Turbo-jet,AS,23.0,JET
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1806,-4,2104,-6,OO,N225AG,3458,SEA,SLC,89,...,MULTI_ENG,BOMBARDIER,CL-600-2C10,2.0,80.0,0.0,Turbo-fan,AG,21.0,FAN
9996,2336,11,452,-13,AA,N3LEAA,1230,SEA,DFW,178,...,None,None,None,NaN,NaN,NaN,None,None,NaN,None
9997,904,-1,1042,-5,AS,N523AS,360,SEA,SMF,81,...,MULTI_ENG,BOEING,737-890,2.0,149.0,0.0,Turbo-fan,AS,13.0,FAN
9998,1441,26,1820,10,WN,N8647A,2857,SEA,ABQ,133,...,MULTI_ENG,BOEING,737-8H4,2.0,140.0,0.0,Turbo-fan,A,8.0,FAN
9999,1702,-3,1950,-10,DL,N583NW,2237,SEA,HNL,332,...,MULTI_ENG,BOEING,757-351,2.0,275.0,0.0,Turbo-jet,NW,20.0,JET

In [22]:
df_transformation.printSchema()

root
 |-- dep_time: string (nullable = true)
 |-- dep_delay: integer (nullable = true)
 |-- arr_time: string (nullable = true)
 |-- arr_delay: integer (nullable = true)
 |-- carrier: string (nullable = true)
 |-- tailnum_flights: string (nullable = true)
 |-- flight: string (nullable = true)
 |-- origin: string (nullable = true)
 |-- dest: string (nullable = true)
 |-- air_time: integer (nullable = true)
 |-- distance: integer (nullable = true)
 |-- dep_datetime: timestamp (nullable = true)
 |-- air_time_projected: integer (nullable = true)
 |-- air_time_expected: integer (nullable = true)
 |-- haul_duration: string (nullable = true)
 |-- dep_season: string (nullable = true)
 |-- dep_delay_category: string (nullable = true)
 |-- faa_origin: string (nullable = true)
 |-- name_origin: string (nullable = true)
 |-- lat_origin: float (nullable = true)
 |-- lon_origin: float (nullable = true)
 |-- alt_origin: integer (nullable = true)
 |-- tz_origin: integer (nullable = true)
 |-- dst_origin: string (nullable = true)
 |-- region_origin: string (nullable = true)
 |-- type_origin: string (nullable = true)
 |-- military_origin: boolean (nullable = true)
 |-- administration_origin: string (nullable = true)
 |-- faa_dest: string (nullable = true)
 |-- name_dest: string (nullable = true)
 |-- lat_dest: float (nullable = true)
 |-- lon_dest: float (nullable = true)
 |-- alt_dest: integer (nullable = true)
 |-- tz_dest: integer (nullable = true)
 |-- dst_dest: string (nullable = true)
 |-- region_dest: string (nullable = true)
 |-- type_dest: string (nullable = true)
 |-- military_dest: boolean (nullable = true)
 |-- administration_dest: string (nullable = true)
 |-- tailnum_planes: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- type: string (nullable = true)
 |-- manufacturer: string (nullable = true)
 |-- model: string (nullable = true)
 |-- engines: integer (nullable = true)
 |-- seats: integer (nullable = true)
 |-- speed: long (nullable = true)
 |-- engine: string (nullable = true)
 |-- tailchar: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- engine_type: string (nullable = true)

## Pergunta 2

In [23]:
(df_transformation.groupBy(F.col('region_origin'))
                  .agg(F.countDistinct('region_origin', 'name_origin')
                  .alias('count')).toPandas())

   region_origin  count
0  MAINLAND-WEST      2

In [24]:
(df_transformation.groupBy(F.col('region_dest'))
                  .agg(F.countDistinct('region_dest', 'name_dest')
                  .alias('count')).toPandas())

     region_dest  count
0         ALASKA      9
1  MAINLAND-EAST     24
2  MAINLAND-WEST     36

## Pergunta 3

In [25]:
(df_transformation.agg(F.max(F.abs(F.col('alt_origin')-F.col('alt_dest')))
                 .alias("Maior diferença de altitude"))
                 .show())

df_transformation.agg(F.max(F.col('alt_origin'))).show()
df_transformation.agg(F.max(F.col('alt_dest'))).show()

+---------------------------+
|Maior diferença de altitude|
+---------------------------+
|                       6169|
+---------------------------+

+---------------+
|max(alt_origin)|
+---------------+
|            433|
+---------------+

+-------------+
|max(alt_dest)|
+-------------+
|         6602|
+-------------+

## Pergunta 4

In [26]:
# Pensando em atrasos como a soma dos atrasos de chegada e de saida

df_transformation = df_transformation.withColumn('dep_delay', F.when(F.col('dep_delay') < 0, 0)
                                     .otherwise(F.col('dep_delay')))

df_transformation = df_transformation.withColumn('arr_delay', F.when(F.col('arr_delay') < 0, 0)
                                     .otherwise(F.col('arr_delay')))

df_transformation = df_transformation.withColumn("total_delay",
                                     F.col('arr_delay')+ F.col('dep_delay'))

(df_transformation.filter(F.col('total_delay')>0)
                  .agg(F.round(F.avg(F.col('total_delay'))))
                  .alias('Média de atrasos')
                  .show())

+--------------------------+
|round(avg(total_delay), 0)|
+--------------------------+
|                      38.0|
+--------------------------+

In [27]:
# Pensando em tipos de atrasos separados

(df_transformation.filter(F.col('arr_delay')> 0)
                  .agg(F.round(F.avg(F.col('arr_delay')))
                  .alias('Média de atrasos'))
                  .show())

(df_transformation.filter(F.col('dep_delay')> 0)
                 .agg(F.round(F.avg(F.col('dep_delay')))
                 .alias('Média de atrasos'))
                 .show())

+----------------+
|Média de atrasos|
+----------------+
|            25.0|
+----------------+

+----------------+
|Média de atrasos|
+----------------+
|            26.0|
+----------------+

## Pergunta 5

In [28]:
# Soma de atrasos
(df_transformation.filter(F.col('total_delay')>0)
                  .groupBy(F.col('region_dest'))
                  .agg(F.round(F.avg(F.col('total_delay')))
                  .alias('Média de atrasos total por região'))
                  .show())

+-------------+---------------------------------+
|  region_dest|Média de atrasos total por região|
+-------------+---------------------------------+
|       ALASKA|                             31.0|
|MAINLAND-EAST|                             40.0|
|MAINLAND-WEST|                             38.0|
+-------------+---------------------------------+

In [29]:
# Atrasos separados

(df_transformation.filter(F.col('arr_delay')> 0)
                  .groupBy(F.col('region_dest'))
                  .agg(F.round(F.avg(F.col('arr_delay')))
                  .alias('Média de atrasos de chegada'))
                  .show())

(df_transformation.filter(F.col('dep_delay')> 0)
                  .groupBy(F.col('region_dest'))
                  .agg(F.round(F.avg(F.col('dep_delay')))
                  .alias('Média de atrasos de saida'))
                  .show())

+-------------+---------------------------+
|  region_dest|Média de atrasos de chegada|
+-------------+---------------------------+
|       ALASKA|                       22.0|
|MAINLAND-EAST|                       29.0|
|MAINLAND-WEST|                       24.0|
+-------------+---------------------------+

+-------------+-------------------------+
|  region_dest|Média de atrasos de saida|
+-------------+-------------------------+
|       ALASKA|                     21.0|
|MAINLAND-EAST|                     26.0|
|MAINLAND-WEST|                     26.0|
+-------------+-------------------------+

## Pergunta 6

In [30]:
df_transformation= df_transformation.withColumn("dep_year", 
    F.date_format(F.col("dep_datetime"), "yyyy"))


(df_transformation.filter(F.col('total_delay')>0)
                  .groupBy(F.col('dep_year'))
                  .agg(F.sum(F.col('total_delay'))
                  .alias('acumulado por ano'))
                  .show())

+--------+-----------------+
|dep_year|acumulado por ano|
+--------+-----------------+
|    2014|           180134|
+--------+-----------------+

## Pergunta 7

In [31]:
# Atraso somado

(df_transformation.filter(F.col('total_delay')>0)
                  .groupBy(F.col('dep_year'),F.col('region_dest'))
                  .agg(F.sum(F.col('total_delay'))
                  .alias('acumulado por ano'))
                  .show())

+--------+-------------+-----------------+
|dep_year|  region_dest|acumulado por ano|
+--------+-------------+-----------------+
|    2014|       ALASKA|            16155|
|    2014|MAINLAND-EAST|            44476|
|    2014|MAINLAND-WEST|           119503|
+--------+-------------+-----------------+

In [32]:
# Atraso separado

(df_transformation.filter(F.col('arr_delay')>0)
                  .groupBy(F.col('dep_year'),F.col('region_dest'))
                  .agg(F.sum(F.col('arr_delay'))
                  .alias('acumulado por ano'))
                  .show())

(df_transformation.filter(F.col('dep_delay')>0)
                  .groupBy(F.col('dep_year'),F.col('region_dest'))
                  .agg(F.sum(F.col('dep_delay'))
                  .alias('acumulado por ano'))
                  .show())

+--------+-------------+-----------------+
|dep_year|  region_dest|acumulado por ano|
+--------+-------------+-----------------+
|    2014|       ALASKA|             8640|
|    2014|MAINLAND-EAST|            22938|
|    2014|MAINLAND-WEST|            60242|
+--------+-------------+-----------------+

+--------+-------------+-----------------+
|dep_year|  region_dest|acumulado por ano|
+--------+-------------+-----------------+
|    2014|       ALASKA|             7515|
|    2014|MAINLAND-EAST|            21538|
|    2014|MAINLAND-WEST|            59261|
+--------+-------------+-----------------+

## Pergunta 8

In [33]:
(df_transformation.agg(F.round(F.avg(F.col('air_time')))
                  .alias('Média de tempo de voo'))
                  .show())

+---------------------+
|Média de tempo de voo|
+---------------------+
|                153.0|
+---------------------+

## Pergunta 9

In [34]:
(df_transformation.groupBy('region_dest')
                  .agg(F.round(F.avg(F.col('air_time')))
                  .alias('Tempo de voo médio por região'))
                  .show())

+-------------+-----------------------------+
|  region_dest|Tempo de voo médio por região|
+-------------+-----------------------------+
|       ALASKA|                        228.0|
|MAINLAND-EAST|                        237.0|
|MAINLAND-WEST|                        115.0|
+-------------+-----------------------------+

## Pergunta 10

In [35]:
(df_transformation.groupBy('origin','dest')
                  .agg(F.round(F.avg(F.col('air_time')))
                  .alias('Tempo de voo médio por rota'))
                  .show(100))

+------+----+---------------------------+
|origin|dest|Tempo de voo médio por rota|
+------+----+---------------------------+
|   SEA| RNO|                       74.0|
|   SEA| DTW|                      220.0|
|   SEA| CLE|                      234.0|
|   SEA| LAX|                      127.0|
|   PDX| SEA|                       35.0|
|   SEA| BLI|                       23.0|
|   PDX| IAH|                      214.0|
|   PDX| PHX|                      130.0|
|   SEA| SLC|                       89.0|
|   SEA| SBA|                      118.0|
|   SEA| BWI|                      270.0|
|   PDX| IAD|                      268.0|
|   PDX| SFO|                       85.0|
|   SEA| KOA|                      347.0|
|   PDX| MCI|                      174.0|
|   SEA| SJC|                      103.0|
|   SEA| ABQ|                      143.0|
|   SEA| SAT|                      208.0|
|   PDX| ONT|                      112.0|
|   SEA| LAS|                      118.0|
|   SEA| GEG|                       38.0|
|   SEA| ANC|                      191.0|
|   PDX| DEN|                      123.0|
|   PDX| JFK|                      286.0|
|   PDX| ATL|                      247.0|
|   PDX| MDW|                      214.0|
|   PDX| LMT|                       54.0|
|   SEA| HDN|                      118.0|
|   SEA| PHL|                      279.0|
|   PDX| PHL|                      283.0|
|   SEA| SMF|                       83.0|
|   PDX| SJC|                       86.0|
|   SEA| MSP|                      164.0|
|   SEA| HOU|                      230.0|
|   SEA| SFO|                      101.0|
|   SEA| PDX|                       33.0|
|   SEA| CLT|                      260.0|
|   SEA| IAH|                      221.0|
|   SEA| PSP|                      129.0|
|   SEA| DCA|                      269.0|
|   PDX| KOA|                      358.0|
|   SEA| TUS|                      151.0|
|   PDX| SBA|                      105.0|
|   PDX| SAN|                      124.0|
|   PDX| EWR|                      281.0|
|   PDX| BOS|                      292.0|
|   SEA| LIH|                      348.0|
|   PDX| DCA|                      270.0|
|   SEA| COS|                      133.0|
|   PDX| LGB|                      116.0|
|   SEA| HNL|                      344.0|
|   PDX| ANC|                      202.0|
|   PDX| STL|                      204.0|
|   PDX| HNL|                      330.0|
|   PDX| LIH|                      341.0|
|   PDX| RNO|                       60.0|
|   PDX| OAK|                       82.0|
|   SEA| DEN|                      127.0|
|   PDX| ABQ|                      136.0|
|   SEA| PHX|                      142.0|
|   SEA| LGB|                      132.0|
|   SEA| FLL|                      317.0|
|   PDX| LAX|                      115.0|
|   PDX| SMF|                       68.0|
|   SEA| MCI|                      176.0|
|   PDX| FAI|                      206.0|
|   SEA| ATL|                      246.0|
|   SEA| ORD|                      202.0|
|   PDX| DTW|                      221.0|
|   SEA| BOS|                      287.0|
|   SEA| MSY|                      242.0|
|   PDX| DFW|                      192.0|
|   SEA| FAT|                       98.0|
|   SEA| OGG|                      340.0|
|   PDX| BWI|                      276.0|
|   PDX| LAS|                      105.0|
|   SEA| SAN|                      138.0|
|   SEA| MDW|                      214.0|
|   PDX| OGG|                      334.0|
|   SEA| TPA|                      294.0|
|   PDX| CLT|                      257.0|
|   PDX| MSP|                      170.0|
|   SEA| OMA|                      159.0|
|   SEA| MKE|                      199.0|
|   PDX| AUS|                      205.0|
|   SEA| JNU|                      129.0|
|   SEA| AUS|                      209.0|
|   PDX| SLC|                       82.0|
|   PDX| ORD|                      206.0|
|   PDX| PSP|                      119.0|
|   PDX| RDM|                       30.0|
|   SEA| CVG|                      223.0|
|   SEA| DFW|                      196.0|
|   SEA| ONT|                      125.0|
|   SEA| KTN|                       99.0|
|   SEA| SIT|                      122.0|
|   SEA| SNA|                      133.0|
|   SEA| BUR|                      122.0|
|   SEA| EWR|                      278.0|
|   PDX| TUS|                      139.0|
+------+----+---------------------------+
only showing top 100 rows

## Pergunta 11

In [36]:
(df_transformation.groupBy('dep_year')
                  .agg(F.sum(F.col('air_time'))
                  .alias('Tempo de voo acomulado por ano'))
                  .show())

+--------+------------------------------+
|dep_year|Tempo de voo acomulado por ano|
+--------+------------------------------+
|    2014|                       1528625|
+--------+------------------------------+

## Pergunta 12

In [37]:
(df_transformation.groupBy('region_dest')
                  .agg(F.sum(F.col('air_time'))
                  .alias('Tempo de voo acomulado por região'))
                  .show())

+-------------+---------------------------------+
|  region_dest|Tempo de voo acomulado por região|
+-------------+---------------------------------+
|       ALASKA|                           230602|
|MAINLAND-EAST|                           508344|
|MAINLAND-WEST|                           789679|
+-------------+---------------------------------+

## Pergunta 13

In [38]:
(df_transformation.agg(F.round(F.avg(F.col('distance')))
                  .alias('Média de distancia'))
                  .show())

+------------------+
|Média de distancia|
+------------------+
|            1208.0|
+------------------+

## Pergunta 14

In [39]:
(df_transformation.groupBy('region_dest')
                  .agg(F.round(F.avg(F.col('distance')))
                  .alias('Média de distancia'))
                  .show())

+-------------+------------------+
|  region_dest|Média de distancia|
+-------------+------------------+
|       ALASKA|            1742.0|
|MAINLAND-EAST|            2042.0|
|MAINLAND-WEST|             868.0|
+-------------+------------------+

## Pergunta 15

In [40]:
(df_transformation.groupBy('origin','dest')
                  .agg(F.avg(F.col('distance'))
                  .alias('Média de distancia'))
                  .show())

+------+----+------------------+
|origin|dest|Média de distancia|
+------+----+------------------+
|   SEA| RNO|             564.0|
|   SEA| DTW|            1927.0|
|   SEA| CLE|            2021.0|
|   SEA| LAX|             954.0|
|   PDX| SEA|             129.0|
|   SEA| BLI|              93.0|
|   PDX| IAH|            1825.0|
|   PDX| PHX|            1009.0|
|   SEA| SLC|             689.0|
|   SEA| SBA|             908.0|
|   SEA| BWI|            2335.0|
|   PDX| IAD|            2327.0|
|   PDX| SFO|             550.0|
|   SEA| KOA|            2688.0|
|   PDX| MCI|            1482.0|
|   SEA| SJC|             697.0|
|   SEA| ABQ|            1180.0|
|   SEA| SAT|            1774.0|
|   PDX| ONT|             838.0|
|   SEA| LAS|             867.0|
+------+----+------------------+
only showing top 20 rows

## Pergunta 16

In [41]:
(df_transformation.groupBy('dep_year')
                  .agg(F.sum(F.col('distance'))
                  .alias('distancia de voo acumulada'))
                  .show())

+--------+--------------------------+
|dep_year|distancia de voo acumulada|
+--------+--------------------------+
|    2014|                  12081516|
+--------+--------------------------+

## Pergunta 17

In [42]:
(df_transformation.groupBy('region_dest')
                  .agg(F.sum(F.col('distance'))
                  .alias('distancia de voo acumulada'))
                  .show())

+-------------+--------------------------+
|  region_dest|distancia de voo acumulada|
+-------------+--------------------------+
|       ALASKA|                   1762553|
|MAINLAND-EAST|                   4378902|
|MAINLAND-WEST|                   5940061|
+-------------+--------------------------+

## Pergunta 18

In [43]:
(df_transformation.groupBy('origin','dest')
                  .agg(F.ceil(F.avg(F.col('seats')))
                  .alias('Número médio de passageiros por rota'))
                  .show())

+------+----+------------------------------------+
|origin|dest|Número médio de passageiros por rota|
+------+----+------------------------------------+
|   SEA| RNO|                                 142|
|   SEA| DTW|                                 213|
|   SEA| CLE|                                 182|
|   SEA| LAX|                                 155|
|   PDX| SEA|                                  65|
|   SEA| BLI|                                 164|
|   PDX| IAH|                                 183|
|   PDX| PHX|                                 196|
|   SEA| SLC|                                 166|
|   SEA| SBA|                                  80|
|   SEA| BWI|                                 152|
|   PDX| IAD|                                 188|
|   PDX| SFO|                                 139|
|   SEA| KOA|                                 171|
|   PDX| MCI|                                 147|
|   SEA| SJC|                                 137|
|   SEA| ABQ|                                 145|
|   SEA| SAT|                                 158|
|   PDX| ONT|                                  80|
|   SEA| LAS|                                 147|
+------+----+------------------------------------+
only showing top 20 rows

## Pergunta 19

In [44]:
(df_transformation.groupBy('dep_year')
                  .agg(F.sum(F.col('seats'))
                  .alias('Passegeiros acumulados por ano'))
                  .show())

+--------+------------------------------+
|dep_year|Passegeiros acumulados por ano|
+--------+------------------------------+
|    2014|                       1509544|
+--------+------------------------------+

## Pergunta 20

In [45]:
(df_transformation.groupBy('dest')
                  .count()                  
                  .orderBy(F.col('count').desc())
                  .show(1))

+----+-----+
|dest|count|
+----+-----+
| SFO|  787|
+----+-----+
only showing top 1 row

## Pergunta 21

In [46]:
(df_transformation.groupBy('dest')
                  .agg(F.sum(F.col('seats')))
                  .orderBy(F.col('sum(seats)').desc())
                  .show(1))

+----+----------+
|dest|sum(seats)|
+----+----------+
| SFO|    119635|
+----+----------+
only showing top 1 row

## Pergunta 22

In [47]:
(df_transformation.select('origin','dest','distance')
                  .filter(F.col('origin')== 'PDX')
                  .orderBy(F.col('distance').desc())
                  .show(1))

+------+----+--------+
|origin|dest|distance|
+------+----+--------+
|   PDX| LIH|    2631|
+------+----+--------+
only showing top 1 row

## Pergunta 23

In [48]:
df_transformation= df_transformation.withColumn("dep_month", 
    F.date_format(F.col("dep_datetime"), "MM"))

(df_transformation.groupBy('dest','dep_month')
                  .count()
                  .orderBy(F.col('count').desc())
                  .show(1))

+----+---------+-----+
|dest|dep_month|count|
+----+---------+-----+
| LAX|       05|   77|
+----+---------+-----+
only showing top 1 row

## Pergunta 24

In [49]:
(df_transformation.groupBy('model')
                  .count()                  
                  .orderBy(F.col('count').desc())
                  .show(1))

+-------+-----+
|  model|count|
+-------+-----+
|737-890| 1463|
+-------+-----+
only showing top 1 row

## Pergunta 25

In [ ]:
# Dataframe com a coluna Count
df_join = df_proc.groupBy(F.col('dest').alias('d'), F.col('model').alias('m')).count()

# Junta com o dataframe principal
df_join = df_proc.join(df_join,
                      (df_proc['dest'] == df_join['d']) &
                      (df_proc['model'] == df_join['m']),
                      'left')

# GroupBy por dest e procura o máximo (A função F.struct permite pegar informações que não foram usadas no groupBy)
(df_join.groupBy('dest')
        .agg(F.max(F.struct("count", "model")).alias('struct'))
        .orderBy(F.col('dest'))
        .select('dest', 'struct.model', 'struct.count')
        .show(999))

# deleta o drataframe
del df_join

In [50]:
(df_transformation.filter(F.col('model')
                  .isNotNull())
                  .groupBy('model','dest')
                  .count()
                  .orderBy(F.col('count').desc())
                  .show(1000))

+-------------+----+-----+
|        model|dest|count|
+-------------+----+-----+
|      737-7H4| OAK|  141|
|      737-890| ANC|  138|
|      737-790| SNA|  122|
|      737-7H4| SMF|  114|
|      737-890| LAX|  110|
|      737-890| LAS|  108|
|      757-232| SLC|  104|
|      737-890| SAN|  102|
|     A320-214| DEN|  102|
|     A320-232| LGB|  102|
|      737-7H4| LAS|   97|
|      737-7H4| DEN|   93|
|     A320-232| PHX|   91|
|      737-7H4| SJC|   89|
|      737-490| SFO|   87|
|    EMB-120ER| PDX|   87|
|     A319-131| SFO|   86|
|     A320-232| SFO|   85|
|      737-7H4| PHX|   80|
|    737-932ER| ATL|   80|
|      737-890| SMF|   79|
|    737-990ER| ANC|   78|
|      737-3H4| OAK|   76|
|     A320-214| SFO|   75|
|    737-990ER| LAX|   73|
|  CL-600-2B19| SFO|   72|
|  CL-600-2C10| BUR|   70|
|      737-890| SJC|   70|
|      737-890| DCA|   69|
|      737-890| SNA|   68|
|      737-890| OGG|   67|
|     A320-232| IAH|   67|
|    EMB-120ER| SEA|   67|
|  CL-600-2D24| LAS|   67|
|  CL-600-2C10| LGB|   65|
|      737-790| LAS|   63|
|     A320-232| ORD|   60|
|      737-490| LAX|   59|
|     A319-111| DEN|   56|
|      737-790| SFO|   56|
|    737-924ER| IAH|   55|
|     A320-232| BOS|   55|
|  CL-600-2C10| ONT|   55|
|      737-890| SFO|   55|
|    737-924ER| SFO|   53|
|    737-990ER| LAS|   52|
|      737-490| ANC|   51|
|    EMB-120ER| RDM|   49|
|    737-924ER| ORD|   49|
|     A320-231| PHX|   49|
|      737-890| OAK|   48|
|     A330-243| HNL|   48|
|  CL-600-2C10| FAT|   47|
|      737-890| BOS|   47|
|      757-232| MSP|   46|
|      737-832| DTW|   46|
|      737-990| LAX|   46|
|  CL-600-2C10| SBA|   45|
|      737-790| PHX|   45|
|      737-8H4| MDW|   45|
|     A320-214| LAX|   44|
|     A321-231| PHX|   44|
|      737-890| HNL|   44|
|      737-490| GEG|   44|
|      737-490| SJC|   43|
|      737-824| SFO|   43|
|      737-7H4| SLC|   43|
|  CL-600-2D24| SEA|   42|
|      757-232| ATL|   42|
|      737-490| KTN|   42|
|      767-332| ATL|   42|
|      737-824| DEN|   41|
|      737-832| ANC|   41|
|  CL-600-2D24| LAX|   40|
|  CL-600-2C10| LAX|   40|
|     A320-232| JFK|   39|
|      737-890| KOA|   39|
|      737-7H4| SAN|   39|
|      737-890| DEN|   39|
|      737-790| LAX|   38|
|      737-832| ATL|   37|
|      737-832| SLC|   37|
|    EMB-120ER| EUG|   37|
|      737-890| LIH|   37|
|      737-7H4| MDW|   37|
|      737-832| LAX|   37|
|    737-990ER| EWR|   36|
|  CL-600-2B19| LAX|   36|
|      737-824| IAH|   35|
|      737-3H4| SJC|   35|
|      757-2Q8| JFK|   35|
|      737-490| SAN|   35|
|      737-3H4| SMF|   35|
|      737-8H4| LAS|   34|
|  CL-600-2D24| SJC|   34|
|      737-890| PHX|   34|
|    737-990ER| DFW|   34|
|      737-990| ANC|   34|
|     A319-112| SFO|   33|
|      737-790| BUR|   33|
|     A321-231| CLT|   33|
|      737-4Q8| ANC|   33|
|    737-990ER| SFO|   33|
|    737-924ER| DEN|   33|
|    737-924ER| EWR|   33|
|    737-932ER| DTW|   32|
|    737-990ER| PHX|   32|
|      737-790| DEN|   32|
|      737-990| ORD|   32|
|      737-832| MSP|   31|
|  CL-600-2C10| SLC|   31|
|      737-790| ANC|   31|
|    737-990ER| FAI|   30|
|  CL-600-2D24| PDX|   30|
|      737-3H4| PHX|   29|
|      DC-9-83| DFW|   29|
|    737-990ER| SAN|   29|
|      737-890| BUR|   29|
|      737-4Q8| JNU|   29|
|     A320-212| SLC|   28|
|      737-4Q8| SFO|   28|
|      757-231| JFK|   27|
|      737-832| JFK|   27|
|      737-7H4| ABQ|   26|
|     A320-211| SLC|   26|
|     A320-232| EWR|   26|
|  CL-600-2C10| COS|   26|
|      757-232| JFK|   25|
|    737-924ER| IAD|   25|
|      737-8H4| DEN|   25|
|      737-990| LAS|   25|
|      757-351| MSP|   25|
|      737-890| FLL|   25|
|  CL-600-2C10| OMA|   25|
|  CL-600-2C10| TUS|   24|
|     A319-112| LAX|   24|
|    737-932ER| SLC|   24|
|     MD-90-30| MSP|   24|
|      737-3H4| LAS|   24|
|     A320-232| DEN|   24|
|      737-490| ONT|   24|
|      737-990| PHX|   24|
|      737-824| ORD|   24|
|      737-3H4| SLC|   23|
|      767-332| MSP|   23|
|      757-351| HNL|   23|
|    737-990ER| BOS|   23|
|  CL-600-2C10| SFO|   22|
|      737-3H4| DEN|   22|
|      737-890| SLC|   22|
|      737-890| MCO|   22|
|     A320-232| PHL|   22|
|      737-890| DFW|   22|
|    737-990ER| HNL|   22|
|      737-990| DFW|   22|
|      737-790| FAI|   22|
|    737-990ER| IAH|   21|
|      737-890| ORD|   21|
|     A320-232| IAD|   21|
|     A320-214| CLT|   21|
|      737-7H4| HOU|   21|
|    737-990ER| ATL|   21|
|     A330-243| OGG|   21|
|    737-990ER| ORD|   20|
|      757-232| DTW|   20|
|     A321-211| PHX|   20|
|      737-990| SAN|   20|
|      757-222| IAD|   20|
|      737-7H4| RNO|   19|
|     A319-131| ORD|   19|
|     A320-212| MSP|   19|
|  CL-600-2B19| DEN|   19|
|  CL-600-2C10| SJC|   19|
|      737-990| SFO|   19|
|      737-3H4| ABQ|   18|
|     A321-211| CLT|   17|
|      757-222| ORD|   17|
|      737-4Q8| KTN|   17|
|    737-932ER| MSP|   17|
|  CL-600-2C10| PDX|   17|
|      737-824| EWR|   17|
|     A319-131| IAH|   17|
|      737-490| PHX|   17|
|    737-990ER| MSP|   16|
|      737-7H4| BWI|   16|
|  CL-600-2C10| SEA|   16|
|      737-4Q8| SJC|   16|
|     A319-114| SLC|   16|
|      737-7H4| MKE|   16|
|      737-790| GEG|   16|
|      737-790| SJC|   16|
|     A319-112| DEN|   16|
|      737-490| JNU|   15|
|    737-990ER| SJC|   15|
|    737-924ER| ANC|   15|
|     A320-211| MSP|   15|
|      757-351| ATL|   14|
|      737-4Q8| LAX|   14|
|      737-790| PSP|   14|
|      737-990| SJC|   14|
|      737-890| ONT|   14|
|  CL-600-2C10| DEN|   13|
|    737-990ER| KOA|   13|
|      737-890| FAI|   13|
|      737-790| ORD|   13|
|     A321-231| PHL|   13|
|      737-824| IAD|   13|
|      737-790| OAK|   13|
|  CL-600-2C10| LAS|   12|
|     A319-132| PHX|   12|
|      737-924| IAH|   12|
|      757-232| JNU|   12|
|      757-222| DEN|   12|
|      737-890| JNU|   11|
|  CL-600-2C10| GEG|   11|
|      737-990| DEN|   11|
|      737-7BD| OAK|   11|
|      737-8H4| PHX|   11|
|    737-990ER| PHL|   11|
|      737-3H4| SAN|   11|
|      737-790| SAN|   11|
|      EMB-120| PDX|   10|
|    EMB-120ER| LMT|   10|
|      737-832| LAS|   10|
|      737-924| ORD|   10|
|      767-332| DTW|   10|
|      737-490| SLC|   10|
|      737-490| PSP|   10|
|      737-890| TPA|   10|
|      737-890| GEG|   10|
|    737-990ER| PSP|   10|
|      737-890| TUS|   10|
|      737-990| SLC|   10|
|      737-890| PHL|   10|
|    737-990ER| AUS|   10|
|      737-490| SMF|    9|
|      737-790| MSP|    9|
|      757-222| SFO|    9|
|      757-212| LAX|    9|
|      737-490| OAK|    9|
|    737-990ER| DEN|    9|
|      737-4Q8| SAN|    9|
|      737-7BD| LAS|    9|
|      737-7H4| MCI|    9|
|      737-990| AUS|    9|
|      737-890| MCI|    9|
|     A320-214| PHL|    9|
|      737-990| MCI|    8|
|      737-890| ATL|    8|
|      737-890| SAT|    8|
|    737-990ER| SLC|    8|
|      737-4Q8| PHX|    8|
|    737-990ER| SMF|    8|
|     A320-232| ANC|    8|
|      737-990| ONT|    8|
|      737-4Q8| ONT|    8|
|     A319-131| EWR|    8|
|      737-890| EWR|    8|
|     A320-232| LAX|    7|
|  CL-600-2C10| BOI|    7|
|      737-7BD| SMF|    7|
|    737-990ER| TUS|    7|
|      EMB-120| SEA|    7|
|      737-890| BWI|    7|
|      737-724| DEN|    7|
|    737-990ER| ONT|    7|
|      737-990| GEG|    7|
|     A319-115| SFO|    7|
|      737-790| ONT|    7|
|    737-990ER| MCO|    7|
|      737-790| ABQ|    6|
|      737-7BD| SJC|    6|
|     A320-211| LAX|    6|
|    737-990ER| MCI|    6|
|      737-890| MSP|    6|
|    737-990ER| OAK|    6|
|      757-222| IAH|    6|
|      737-8H4| SMF|    6|
|      737-8H4| BNA|    6|
|      737-890| KTN|    6|
|      737-724| ORD|    6|
|      737-4Q8| GEG|    6|
|      737-790| SLC|    6|
|      737-990| FAI|    6|
|      737-824| LAX|    6|
|      737-890| MSY|    6|
|     A319-112| PHL|    6|
|      737-790| SAT|    6|
|      737-890| STL|    6|
|      737-3H4| MCI|    6|
|      757-222| EWR|    5|
|      737-990| STL|    5|
|      737-490| LAS|    5|
|      737-7BD| DEN|    5|
|      737-990| OAK|    5|
|      757-351| DTW|    5|
|     A320-232| CLT|    5|
|      737-7BD| MCI|    5|
|      737-790| SMF|    5|
|    737-932ER| ANC|    5|
|      737-832| SAN|    5|
|      737-990| TUS|    5|
|      737-8H4| BWI|    5|
|      737-890| AUS|    5|
|      737-790| KTN|    5|
|      737-890| PSP|    5|
|    737-990ER| JNU|    4|
|    737-990ER| GEG|    4|
|      757-223| MIA|    4|
|      737-790| DFW|    4|
|      737-990| SMF|    4|
|      757-251| DTW|    4|
|     A321-211| PHL|    4|
|      737-990| MSP|    4|
|    737-990ER| FLL|    4|
|  CL-600-2C10| HDN|    4|
|      737-4S3| JNU|    4|
|      737-7H4| AUS|    4|
|      737-4S3| ANC|    4|
|      737-490| SEA|    4|
|      737-7BD| MDW|    4|
|      737-924| DEN|    4|
|      737-301| SMF|    4|
|      757-232| FAI|    4|
|      737-890| PDX|    4|
|      737-890| SEA|    4|
|     A320-212| LAS|    4|
|      737-724| IAH|    4|
|     A319-131| DEN|    4|
|     A320-211| SAN|    4|
|      737-76N| OAK|    4|
|      EMB-120| RDM|    4|
|      757-223| DFW|    4|
|     A320-212| LAX|    4|
|  CL-600-2D24| PHX|    4|
|      737-490| SIT|    3|
|    737-990ER| BWI|    3|
|      757-232| LAX|    3|
|      737-7H4| STL|    3|
|      737-490| FAI|    3|
|      737-790| TUS|    3|
|     A320-214| STL|    3|
|      737-990| IAH|    3|
|     A320-211| DTW|    3|
|      737-724| SFO|    3|
|  CL-600-2D24| GEG|    3|
|     A319-131| IAD|    3|
|      737-8H4| SJC|    3|
|      737-924| SFO|    3|
|      737-4Q8| SMF|    3|
|      737-3TO| SMF|    3|
|      737-7BX| OAK|    3|
|     A319-131| LAX|    3|
|      757-251| LAX|    3|
|      737-990| ATL|    3|
|      737-7BD| PHX|    3|
|         421C| DFW|    3|
|      737-890| ABQ|    3|
|          R66| LGB|    3|
|      737-8FH| BOS|    3|
|      737-8H4| ABQ|    3|
|      767-332| HNL|    3|
|     A319-115| LAX|    3|
|      737-4S3| SFO|    3|
|      737-890| BLI|    3|
|      DC-9-82| DFW|    3|
|    737-990ER| PDX|    2|
|      767-33A| HNL|    2|
|      737-4S3| GEG|    2|
|      737-3K2| OAK|    2|
|      737-890| SIT|    2|
|      737-4Q8| SNA|    2|
|      737-924| IAD|    2|
|    737-990ER| STL|    2|
|      737-76Q| OAK|    2|
|     A320-214| PHX|    2|
|      737-724| EWR|    2|
|      EMB-120| EUG|    2|
|      737-8H4| STL|    2|
|      737-8FH| LAS|    2|
|      737-990| PSP|    2|
|      737-8H4| OAK|    2|
|      737-76N| SJC|    2|
|      737-4S3| ONT|    2|
|      737-4Q8| SLC|    2|
|      737-924| EWR|    2|
|    737-924ER| LAX|    2|
|      737-8FH| MCO|    2|
|      757-232| CVG|    2|
|    737-990ER| DTW|    2|
|      737-7H4| BNA|    2|
|     A319-132| PHL|    2|
|      737-3L9| OAK|    2|
|      737-790| STL|    2|
|      737-7H4| ATL|    2|
|      737-76N| DEN|    2|
|    737-990ER| SAT|    2|
|      737-7BD| SLC|    2|
|      737-8FH| SNA|    2|
|     A320-214| CLE|    2|
|      757-231| ATL|    2|
|      737-790| AUS|    2|
|     A330-223| ATL|    2|
|      737-4S3| OAK|    2|
|    767-432ER| ATL|    2|
|      737-4S3| SJC|    2|
|      737-990| PHL|    2|
|      737-4S3| LAX|    2|
|  CL-600-2B19| ONT|    2|
|     A319-112| PHX|    2|
|  CL-600-2C10| PSP|    2|
|      737-832| CVG|    2|
|      737-7BD| SAN|    2|
|      737-8FH| BUR|    2|
|      757-231| OGG|    2|
|      737-3G7| SJC|    2|
|     A320-211| LAS|    2|
|      737-7BD| RNO|    2|
|      737-4Q8| PDX|    2|
|      737-3TO| SAN|    1|
|      737-7BD| BNA|    1|
|      737-990| JNU|    1|
|      737-3L9| SJC|    1|
|      737-76Q| HOU|    1|
|      737-790| MCI|    1|
|      777-224| EWR|    1|
|      757-251| ANC|    1|
|      757-222| LAX|    1|
|     A320-211| CVG|    1|
|      737-8FH| PHX|    1|
|      737-7BX| PHX|    1|
|      737-8FH| TUS|    1|
|      737-8FH| OAK|    1|
|      737-4S3| SMF|    1|
|  CL-600-2B19| SBA|    1|
|      737-3T5| DEN|    1|
|      737-4Q8| OAK|    1|
|         SR22| JFK|    1|
|      737-3Q8| LAS|    1|
|      737-990| DTW|    1|
|      737-8FH| BWI|    1|
|     A319-112| STL|    1|
|      737-8FH| SAT|    1|
|      737-4Q8| SIT|    1|
|      737-8FH| ANC|    1|
|      737-76N| BWI|    1|
|      737-705| PHX|    1|
|    737-990ER| BLI|    1|
|      737-3Q8| SMF|    1|
|      737-8FH| STL|    1|
|      737-3Q8| DEN|    1|
|    737-990ER| MSY|    1|
|      737-990| EWR|    1|
|      737-301| SJC|    1|
|      737-76N| LAS|    1|
|      757-2Q8| OGG|    1|
|      737-3L9| LAS|    1|
|      737-4S3| PHX|    1|
|      737-4S3| SNA|    1|
|      757-251| SLC|    1|
|         206B| DFW|    1|
|         SR22| LGB|    1|
|     A319-132| CLT|    1|
|      737-8FH| SMF|    1|
|      737-3Y0| MCI|    1|
|      737-76Q| DEN|    1|
|      737-7Q8| DEN|    1|
|      737-990| SEA|    1|
|      737-7AD| LAS|    1|
|      737-990| MSY|    1|
|      737-5H4| OAK|    1|
|    737-990ER| KTN|    1|
|      737-3T5| OAK|    1|
|      737-4Q8| SEA|    1|
|      737-490| BLI|    1|
|      737-8FH| MSY|    1|
|      737-824| ANC|    1|
|      757-232| ANC|    1|
|      737-3TO| OAK|    1|
|      757-251| HNL|    1|
|      737-705| ATL|    1|
|  CL-600-2D24| PSP|    1|
|      737-4Q8| PSP|    1|
|      737-3L9| SMF|    1|
|      737-301| OAK|    1|
|      737-3Q8| PHX|    1|
|      737-4Q8| FAI|    1|
|      737-4S3| PSP|    1|
|      737-990| SAT|    1|
|      737-3A4| LAS|    1|
|      737-3L9| PHX|    1|
|      737-3Q8| SJC|    1|
|          150| DFW|    1|
|      737-76N| SMF|    1|
|      737-4S3| SAN|    1|
|      737-924| LAX|    1|
|      737-7AD| OAK|    1|
|      757-2Q8| ATL|    1|
|      737-8FH| AUS|    1|
|      737-301| SLC|    1|
|      737-4Q8| LAS|    1|
|      757-251| FAI|    1|
|     A319-112| CLT|    1|
|      737-4S3| KTN|    1|
|      737-3A4| PHX|    1|
|      757-251| MSP|    1|
|      737-76N| SLC|    1|
|      737-3L9| DEN|    1|
|      737-490| SNA|    1|
|      767-332| JFK|    1|
|      737-990| BOS|    1|
|ZODIAC 601HDS| LGB|    1|
|     A330-323| ATL|    1|
|      737-76Q| SMF|    1|
|      737-8FH| PHL|    1|
|    737-990ER| TPA|    1|
|      737-8FH| LAX|    1|
|  CL-600-2B19| BUR|    1|
|      737-3TO| PHX|    1|
|      737-76N| PHX|    1|
|      737-76N| SAN|    1|
|      757-2S7| PHX|    1|
|      737-7BD| BWI|    1|
+-------------+----+-----+

## Pergunta 26

In [51]:
(df_transformation.groupBy('haul_duration')
                  .agg(F.ceil(F.avg(F.col('engines')))
                  .alias("Número médio de motores"))
                  .show())

+-------------+-----------------------+
|haul_duration|Número médio de motores|
+-------------+-----------------------+
|    LONG-HAUL|                      2|
|  MEDIUM-HAUL|                      2|
|   SHORT-HAUL|                      2|
+-------------+-----------------------+

## Pergunta 27

In [52]:
(df_transformation.groupBy('dep_season')
                  .count()
                  .orderBy(F.col('count').desc())
                  .show(200))

+----------+-----+
|dep_season|count|
+----------+-----+
|    SUMMER| 2918|
|      FALL| 2639|
|    SPRING| 2560|
|    WINTER| 1883|
+----------+-----+

## Pergunta 28

In [53]:
(df_transformation.groupBy('dest','dep_season')
                  .count()
                  .orderBy(F.col('count').desc())
                  .show(1))

+----+----------+-----+
|dest|dep_season|count|
+----+----------+-----+
| SFO|      FALL|  228|
+----+----------+-----+
only showing top 1 row

## Pergunta 29

In [54]:
(df_transformation.filter((F.col('dep_delay_category') != 'ANTECIPATED') & (F.col('dep_delay_category') != 'INTIME'))
                  .groupBy('dep_delay_category')
                  .count()
                  .orderBy(F.col('count').desc())
                  .show(1))

+------------------+-----+
|dep_delay_category|count|
+------------------+-----+
|             MINOR| 3065|
+------------------+-----+
only showing top 1 row

## Pergunta 30

In [55]:
(df_transformation.filter((F.col('dep_delay_category') != 'ANTECIPATED') & (F.col('dep_delay_category') != 'INTIME'))
                  .groupBy('origin', 'dest','dep_delay_category')
                  .count()
                  .orderBy(F.col('count').desc())
                  .show(200))

+------+----+------------------+-----+
|origin|dest|dep_delay_category|count|
+------+----+------------------+-----+
|   SEA| SFO|             MINOR|  159|
|   SEA| ANC|             MINOR|  145|
|   SEA| DEN|             MINOR|  145|
|   SEA| LAX|             MINOR|  118|
|   SEA| LAS|             MINOR|  114|
|   SEA| OAK|             MINOR|   97|
|   SEA| PHX|             MINOR|   97|
|   SEA| DFW|             MINOR|   90|
|   SEA| ORD|             MINOR|   88|
|   PDX| SFO|             MINOR|   80|
|   PDX| DEN|             MINOR|   77|
|   SEA| SLC|             MINOR|   72|
|   SEA| IAH|             MINOR|   68|
|   PDX| OAK|             MINOR|   64|
|   SEA| SJC|             MINOR|   63|
|   SEA| ATL|             MINOR|   62|
|   PDX| PHX|             MINOR|   61|
|   SEA| SMF|             MINOR|   60|
|   SEA| MSP|             MINOR|   55|
|   PDX| ORD|             MINOR|   54|
|   PDX| LAS|             MINOR|   52|
|   PDX| SJC|             MINOR|   52|
|   SEA| SAN|             MINOR|   50|
|   SEA| SFO|             MAJOR|   47|
|   SEA| JFK|             MINOR|   46|
|   PDX| SMF|             MINOR|   46|
|   SEA| EWR|             MINOR|   45|
|   PDX| DFW|             MINOR|   43|
|   SEA| BOS|             MINOR|   39|
|   PDX| SLC|             MINOR|   36|
|   SEA| DTW|             MINOR|   35|
|   SEA| GEG|             MINOR|   34|
|   SEA| IAD|             MINOR|   33|
|   SEA| FAI|             MINOR|   32|
|   SEA| HNL|             MINOR|   31|
|   SEA| MDW|             MINOR|   31|
|   SEA| JNU|             MINOR|   30|
|   PDX| SFO|             MAJOR|   29|
|   SEA| KTN|             MINOR|   28|
|   PDX| LAX|             MINOR|   27|
|   SEA| LGB|             MINOR|   25|
|   SEA| SNA|             MINOR|   25|
|   PDX| IAH|             MINOR|   24|
|   PDX| ATL|             MINOR|   23|
|   PDX| SAN|             MINOR|   22|
|   SEA| ABQ|             MINOR|   19|
|   SEA| PHL|             MINOR|   18|
|   SEA| CLT|             MINOR|   18|
|   PDX| SEA|             MINOR|   18|
|   SEA| ONT|             MINOR|   18|
|   SEA| KOA|             MINOR|   17|
|   SEA| PDX|             MINOR|   16|
|   PDX| JFK|             MINOR|   14|
|   SEA| STL|             MINOR|   13|
|   SEA| EWR|             MAJOR|   13|
|   PDX| ANC|             MINOR|   13|
|   SEA| BWI|             MINOR|   12|
|   SEA| BUR|             MINOR|   12|
|   SEA| DCA|             MINOR|   12|
|   PDX| DEN|             MAJOR|   12|
|   PDX| MDW|             MINOR|   11|
|   PDX| ORD|             MAJOR|   11|
|   SEA| ORD|             MAJOR|   11|
|   SEA| FAT|             MINOR|   10|
|   SEA| ATL|             MAJOR|   10|
|   SEA| DEN|             MAJOR|   10|
|   SEA| HOU|             MINOR|   10|
|   PDX| SNA|             MINOR|    9|
|   SEA| SLC|             MAJOR|    9|
|   SEA| AUS|             MINOR|    9|
|   PDX| EWR|             MINOR|    9|
|   SEA| PSP|             MINOR|    9|
|   SEA| DFW|             MAJOR|    9|
|   PDX| SMF|             MAJOR|    9|
|   SEA| LAS|             MAJOR|    9|
|   SEA| PDX|             MAJOR|    8|
|   SEA| LAX|             MAJOR|    8|
|   SEA| PHX|             MAJOR|    8|
|   PDX| BOS|             MINOR|    8|
|   PDX| LGB|             MINOR|    8|
|   SEA| ANC|             MAJOR|    8|
|   PDX| DFW|             MAJOR|    8|
|   SEA| MIA|             MINOR|    8|
|   SEA| OMA|             MINOR|    7|
|   PDX| BUR|             MINOR|    7|
|   SEA| JFK|             MAJOR|    7|
|   PDX| ATL|             MAJOR|    7|
|   SEA| BNA|             MINOR|    7|
|   SEA| COS|             MINOR|    7|
|   SEA| OGG|             MINOR|    7|
|   SEA| MCI|             MINOR|    7|
|   PDX| DTW|             MINOR|    7|
|   PDX| ABQ|             MINOR|    7|
|   SEA| MKE|             MINOR|    7|
|   SEA| MCO|             MINOR|    7|
|   PDX| HNL|             MINOR|    6|
|   PDX| RNO|             MINOR|    6|
|   PDX| SLC|             MAJOR|    6|
|   SEA| TUS|             MINOR|    6|
|   SEA| FLL|             MINOR|    6|
|   PDX| RDM|             MINOR|    6|
|   PDX| CLT|             MINOR|    6|
|   PDX| SJC|             MAJOR|    6|
|   PDX| MCI|             MINOR|    6|
|   SEA| LIH|             MINOR|    6|
|   SEA| SBA|             MINOR|    6|
|   SEA| SJC|             MAJOR|    6|
|   SEA| MSP|             MAJOR|    6|
|   SEA| IAH|             MAJOR|    5|
|   SEA| OAK|             MAJOR|    5|
|   SEA| ONT|             MAJOR|    5|
|   PDX| MSP|             MINOR|    5|
|   PDX| LAX|             MAJOR|    5|
|   PDX| DCA|             MINOR|    5|
|   SEA| SMF|             MAJOR|    5|
|   SEA| MSY|             MINOR|    5|
|   PDX| ONT|             MINOR|    5|
|   PDX| OAK|             MAJOR|    5|
|   SEA| KTN|             MAJOR|    4|
|   SEA| SAN|             MAJOR|    4|
|   SEA| PHL|             MAJOR|    4|
|   PDX| LAS|             MAJOR|    4|
|   SEA| FAI|             MAJOR|    4|
|   PDX| TUS|             MINOR|    4|
|   SEA| IAD|             MAJOR|    4|
|   SEA| BWI|             MAJOR|    4|
|   PDX| PHX|             MAJOR|    4|
|   SEA| OGG|             MAJOR|    4|
|   SEA| TPA|             MINOR|    4|
|   PDX| SEA|             MAJOR|    4|
|   PDX| FAI|             MINOR|    4|
|   SEA| JNU|             MAJOR|    4|
|   PDX| OGG|             MINOR|    4|
|   PDX| PSP|             MINOR|    3|
|   PDX| EUG|             MINOR|    3|
|   SEA| HNL|             MAJOR|    3|
|   PDX| MSP|             MAJOR|    3|
|   PDX| SBA|             MINOR|    3|
|   SEA| RNO|             MINOR|    3|
|   PDX| KOA|             MINOR|    3|
|   SEA| GEG|             MAJOR|    3|
|   SEA| MCI|             MAJOR|    2|
|   SEA| MCO|             MAJOR|    2|
|   PDX| ANC|             MAJOR|    2|
|   PDX| IAD|             MINOR|    2|
|   SEA| CLE|             MINOR|    2|
|   PDX| LGB|             MAJOR|    2|
|   SEA| CLT|             MAJOR|    2|
|   SEA| BOS|             MAJOR|    2|
|   PDX| LIH|             MINOR|    2|
|   PDX| LMT|             MINOR|    2|
|   SEA| BLI|             MINOR|    2|
|   SEA| SAT|             MINOR|    2|
|   SEA| FAT|             MAJOR|    2|
|   SEA| CVG|             MINOR|    2|
|   SEA| DTW|             MAJOR|    2|
|   PDX| JFK|             MAJOR|    2|
|   PDX| ONT|             MAJOR|    2|
|   PDX| IAH|             MAJOR|    2|
|   SEA| LGB|             MAJOR|    2|
|   PDX| EWR|             MAJOR|    1|
|   PDX| PHL|             MINOR|    1|
|   PDX| OGG|             MAJOR|    1|
|   PDX| CLT|             MAJOR|    1|
|   PDX| BWI|             MINOR|    1|
|   SEA| AUS|             MAJOR|    1|
|   PDX| BOS|             MAJOR|    1|
|   SEA| MKE|             MAJOR|    1|
|   PDX| HOU|             MINOR|    1|
|   SEA| LIH|             MAJOR|    1|
|   SEA| MDW|             MAJOR|    1|
|   PDX| BUR|             MAJOR|    1|
|   SEA| ABQ|             MAJOR|    1|
|   SEA| HDN|             MINOR|    1|
|   SEA| TUS|             MAJOR|    1|
|   SEA| MIA|             MAJOR|    1|
|   SEA| COS|             MAJOR|    1|
|   PDX| SBA|             MAJOR|    1|
|   SEA| SIT|             MINOR|    1|
|   PDX| RNO|             MAJOR|    1|
|   PDX| BOI|             MAJOR|    1|
|   PDX| HNL|             MAJOR|    1|
|   SEA| FLL|             MAJOR|    1|
|   PDX| AUS|             MINOR|    1|
|   SEA| SBA|             MAJOR|    1|
|   SEA| OMA|             MAJOR|    1|
|   PDX| EUG|             MAJOR|    1|
|   SEA| TPA|             MAJOR|    1|
|   PDX| IAD|             MAJOR|    1|
|   PDX| STL|             MINOR|    1|
|   PDX| MDW|             MAJOR|    1|
|   PDX| SAN|             MAJOR|    1|
|   PDX| BWI|             MAJOR|    1|
|   SEA| PSP|             MAJOR|    1|
|   PDX| RDM|             MAJOR|    1|
|   SEA| BUR|             MAJOR|    1|
|   PDX| HOU|             MAJOR|    1|
|   PDX| SNA|             MAJOR|    1|
+------+----+------------------+-----+